In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("salary_indeed.csv")

In [6]:
df["Salary"][0]

nan

In [7]:
df['Title'].unique().tolist()

['Développeuse / Développeur Stack Elastic Search',
 'Développeur Front End F/H',
 'Data Analyst (H/F) - Alternance',
 "INTERNSHIP POSITION, Evaluation of the aircraft data traffic's cost (m/f)",
 'Des Développeurs Java JEE (H/F)',
 'LEAD DEVELOPPEUR PYTHON F/H',
 'Consultant Confirmé BI / Data Intelligence (H/F)',
 'Consultant Data (h/f)',
 'INGÉNIEUR DÉVELOPPEUR C++ / JAVA F/H',
 'Devops – Spécialiste Openstack H/F',
 'Développeur Web et Bases de Données F/H',
 'Data Engineer - Java 8 - H/F',
 'DEVOPS junior Data Management Middleware F/H',
 'INGENIEUR DEVELOPPEUR FIRMWARE',
 'Data Engineer - Santé',
 'Devops F/H',
 'Développeur Angular & C# H/F',
 'Data Scientist H/F',
 'Cloud Data Architect Manager – Secteur de la santé (H/F)',
 'BUSINESS DEVELOPER BTOB - DATA INTELLIGENCE (H/F)',
 'DATA MANAGER EXPERIMENTE',
 'Développeur Angular H/F',
 'Développeurs FrontEnd - AngularJs | iOs | Android - DevOps',
 'ANALYSTE DEVELOPPEUR WEB (H/F)',
 'Staff Data Engineer',
 'Développeur PHP / Consultant LAMP F/H',
 'ingénieur réseaux sécurité Devops',
 'Alternance – Développeur d’Applications Nouvelles Technologies',
 'Développeur - calculateur risques de contrepartie (H/F)',
 'STAGE/ALTERNANCE SOFTWARE ENGINEER (H/F)',
 'KERING Precision marketing & data viz Manager',
 'Référent fonctionnel et données - Data manager (H/F)',
 'Ingénieur Développeur Web et Logiciel, débutant H/F',
 'Développeur Frond End Angular (H/F) / Freelance',
 'DÉVELOPPEUR',
 'Développeur C++ H/F',
 'CertiNergy Lead Développeur FullStack - Paris',
 'Ingénieur développement logiciel cybersécurité (H/F) / Software Cyber security engineer (M/F)',
 'DÉVELOPPEUR C#. NET (F/H)',
 'Internship - Backend software engineer C#/.Net (H/F)',
 'Consultant Devops',
 'Consultant(e) Data Architect – Business Intelligence H/F',
 'Data Freelance Online course creator',
 'STAGE - DATA MANAGEMENT ANALYST, H/F',
 'Développeur PHP / Laravel',
 'Java Software Engineer',
 'DATA SCIENTIST SENIOR F/H',
 'Stage: Ingénieur Data Science & DataViz H/F',
 'Software Engineer',
 'Développeur WinDev H/F',
 'Stage Machine Learning – Data Scientist',
 'Développeur C++/Qt (QML) Windows Expériementé - Stormshield Data Security',
 'DEVELOPPEUR.NET H/F',
 'Développeur intégrateur IAM ( H/F)',
 'STAGE – INGENIEUR TECH DATA (h/f)',
 'DEVELOPPEUR SALESFORCE H/F',
 'Développeur JAVA/J2EE',
 'Ingénieur Middleware DevOps (75)',
 'Stage: Développeur .NET H/F',
 'Data Scientist F/H',
 'Software Engineer - Transformation digitale',
 'Data Engineer / Ingénieur de données F/H',
 'Stagiaire développeur Web',
 'Senior Data Engineer',
 'DEVELOPPEUR JAVA SWING ANGULARJS - F/H',
 'Stage: Développement de traitements de données Big Data sur cas clients F/H',
 'Développeur Java H/F',
 'Tech Lead Big Data Hadoop (H/F)',
 'Ingénieur Devops F/H',
 'Ingénieur Cloud et DevOps H/F',
 'Développeur PHP / Symfony F/H',
 'DevOps Java / Freelance',
 'Développeur Talend F/H',
 'Consultant Data & BI Microsoft (Power BI / Azure) H/F',
 'Développeur Dotnet',
 'DEVELOPPEURS PYTHON F/H',
 'Consultant Data Confirmé H/F (Lyon)',
 "Consultant Data Science Junior (stage fin d'études)",
 'Développeur full-stack Java F/H',
 'Ingénieur Développeur C# F/H',
 'Développeur informatique - Treillières H/F',
 'Développeur Android/Kotlin F/H',
 'Développeur PC SOFT (Webdev / Windev / Windev mobile) h/f',
 'Chef de projet Data F/H',
 'Software QA Engineer Pharmaceutique / Biotechechnologique F/H',
 'Développeur Web Full-Stack expérimenté - Lead développeur (H/F)',
 'Data Team Lead',
 'CONTRÔLEUR DE GESTION - DATA ANALYST',
 'Ingénieur DevOps junior F/H',
 'DEVELOPPEURS (H/F)',
 'ANALYSTE DEVELOPPEUR DOMAINE QUALIFICATION (H/F)',
 'Ingénieur Big Data Spark H/F',
 'INGÉNIEUR PRODUCTION DEVOPS - NANTES (H/F)',
 'DevOps - Production Team',
 'Data ENGINEER F/H',
 'Devops Engineer (h/f)',
 'Digital data analyst - H/F',
 'DEVOPS H/F',
 'Ingénieur des Données - Data Engineer H/F',
 'Data scientist (H/F)',
 'Ingénieur DevOps expérimenté(e) H/F F/H',
 'Data Scientist (F/H)',
 'Stagiaire Data Intelligence H/F (Paris)',
 'Backend Software Engineer (NodeJS) - H/F',
 'Développeur Sénior Java EE et/ou Spring h/f',
 'Développeur Mobile (Senior) iOS / Swift H/F',
 'Développeur AS400 F/H',
 'Data Engineer H/F',
 'INGENIEUR DEVOPS H/F',
 'Développeur Java / Android (H/F) / Software Developer Java / Android (M/F)',
 'Stage - Développeur Informatique H/F basé à Lyon',
 'Développeur Front-End React',
 'CDI client final - Développeur Java fullstack',
 'Ingénieur DevOps La Défense / Freelance',
 'Lead developer / Data Engineer (CDI)',
 'Développeur Front-End Angular expérimenté (H/F)',
 'Ingénieur(e) Développeur Logiciel Ruby On Rails H/F',
 'Développeur C# .NET Banque F/H',
 'Data engineer F/H',
 'Concepteur Développeur SQL (H/F)',
 'Senior Software Engineer (Ruby On Rails) - Paris (FR) - FoodTech',
 'Architecte Data',
 'Web Développeur H/F',
 'Senior Software Engineer H/F',
 'Développeur Angular F/H',
 'QA Engineer - DevOps H/F',
 'Product Manager / Chef de Produit Data Catalog',
 'Consultant Cloud / DevOps',
 'Lead Data Technique Senior F/H',
 'Ingénieur Devops - Paris - 6 mois+ / Freelance',
 'Strategic Negotiator, Data Center',
 'Data Analyst, Paris, Analytics',
 'DATA OPS ENGINEER',
 'Développeur senior',
 'Ingénieur Système OpenSource Devops H/F',
 'Développeur Confirmé AEM',
 'Développeur sécurité',
 'Développeur Junior VB / .Net H/F - Informatique et télécoms',
 'Data Scientist (Paris)',
 'DEVELOPPEUR FRONT/BACK END (H/F)',
 'Développeur logiciel H/F',
 'Ingénieur Oracle Utilities Meter Data Management',
 'Développeur Java/J2EE F/H - Nantes',
 'Développeur Java F/H',
 'Développeur Full Stack / Devops (F/H)',
 'Technical Product Manager - Editeur SaaS Big Data/Machine Learning/IA F/H',
 'DÉVELOPPEUR PRODUIT JAVA JUNIOR (F/H)',
 'Développeur Java J2EE F/H',
 'Stage : Expert DevOps H/F',
 'Master Data Management Project Manager',
 'Développeur Mobile Expérimenté H/F - Bordeaux Mérignac',
 'Data engineer (F/H)',
 'Chef de projet Data H/F (Lyon)',
 'Leader Technique Front End/DevOps H/F',
 'Développeur fullstack PHP (+Laravel?) H/F',
 'Scale Automation DevOps H/F',
 'Ingénieur DevOps / Solutions Architect',
 'Ingénieur DevOps H/F',
 'Master Data (F/H) - en intérim',
 'Cloud Data Platform Engineer',
 'Tech Lead – Data & Machine Learning Engineering M/F',
 'DevOps support et intégration H/F',
 'Développeur front end et React Native (H/F) / Freelance',
 'Consultant décisionnel / Big Data (H/F)',
 'Senior Consultant - Data management H/F',
 'Data Scientist Manager (m/f/d)',
 'EMEA Senior Data Engineer M/F',
 'Développeur logiciel embarqué F/H',
 'Développeur - DevOps Cloud Feature Team (senior)-(H/F)',
 'Data Miner H/F',
 'Consultant MOA Data',
 'Stage Développeur fonctionnel C++ - "Fx Options" H/F',
 'Développeur Java (H/F)',
 'Ingénieurs d’études et développement orientés Data. F/H',
 'Ingénieur Système DevOps H/F',
 'Concepteur(trice) Développeur(euse) en environnement F/H',
 'DÉVELOPPEUR MOBILE ANDROID ET LOGICIELS - INTEGRATEUR (F/H)',
 'Analyste développeur C# .Net',
 'Stage au sein du cabinet - IT/IP/Data Privacy - A partir de fin décembre 2019/janvier 2020',
 'Software project engineer',
 'Fullstack Software Engineer',
 'INTERNSHIP POSITION, SUPPORTING BIG DATA FOR REPAIR SOLUTIONS (m/f)',
 'Ingénieur Développeur .NET / C# F/H',
 'DevOps (H/F) - Nantes / Freelance',
 'Junior Data Engineer M/F (6 months)',
 'Consultant(e) Architecte DevOps',
 'Développeur C# Confirmé F/H',
 'Développeur Python (H/F)',
 'Développeur JAVA (H/F)',
 'ANALYSTE DÉVELOPPEUR SALLE DES MARCHÉS F/H',
 'CONSULTANT DEVOPS F/H',
 'Développeur Java J2EE H/F',
 'DEVELOPPEUR(EUSE)',
 'Développeur .Net H/F',
 'Chargé(e) de Projet Décisionnel / Data Manager (H/F) – Réf. DMD 369-01 SI',
 'Analyste Data Marketing H/F',
 'Consultant DevOps – F/H',
 'Senior Chief Engineer Data Center Operations',
 'Data analyst H/F (CDI)',
 'Développeur Web C# H/F - Société spécialisée dans le secteur financier',
 'Ingénieur Système Windows / DevOps F/H',
 'Développeur PHP',
 'MASTER DATA MANAGER (H/F)',
 'Software Engineer, Security - Identity and Access Management, Engineering - Site Reliability',
 'Consultant DevOps H/F',
 'H/F Consultants big data expérimentés',
 'ANALYSTE DÉVELOPPEUR - OUTILS DE RECRUTEMENT ÉQUIPE RH (H/F)',
 'Développeur full stack C# .net / HTML 5 – H/F',
 'DEVELOPPEUR WEB PHP H/F',
 'Data scientist H/F',
 'Développeur informatique H/F',
 "Intégrateur d'applications (DEVOPS) H/F",
 'DÉVELOPPEUR/ADMINISTRATEUR SYSTÈME & RÉSEAUX (F/H)',
 'Développeur Javascript (React) 35/44 H/F',
 'Développeur Talend - Alternance',
 'Stage-Developpeur Full Stack H/F-Bordeaux',
 'Software Engineer (Eldo)',
 'DÉVELOPPEURS PYTHON SENIOR H/F',
 'Gestionnaire Data F/H',
 'Architecte Big Data H/F',
 'Consultant Data & Digital – Analyste',
 'Stage-Consultant DevOps H/F-Nantes',
 'Ingénieur logiciel embarqué (H/F) / Embedded software engineer (M/F)',
 'Data Lead Architect F/H',
 'Développeur Web ReactJS H/F',
 'Performance Software Engineer',
 'Développeur Unity Réalité Virtuelle',
 'Data Scientist',
 'Ingénieur système DevOps',
 'Senior Software Engineer (Node.js) - Paris (FR) - FoodTech',
 'Internship / Solution Architect/Data Scientist - Extended Enterprise (m/f)',
 'DEVELOPPEUR C – Systèmes embarqués',
 'Développeur WEB .NET (H/F)',
 'Développeur C# H/F',
 'Développeur SQL / Python F/H',
 'Ingénieur/Intégrateur Devops/AWS / Freelance',
 'Ingénieur DevOps F/H, La Tour De Salvagny (Lyon), France',
 'Data Scientist Senior Consultant F/H',
 'Data Analyst H/F',
 'Ingénieur DEVOPS Cloud H/F',
 'Devops',
 'Développeur JAVA',
 'INGENIEUR DEVOPS / Freelance',
 'CONSULTANT DATA SCIENCE H/F RENNES',
 'Développeur C# .NET F/H',
 'Consultant(e) Tracking et Data H/F()',
 'DevOps Engineer',
 'Développeur JAVA/Angular (H/F)',
 'Consultant BI Data Catalogue / Data Quality',
 'DEVELOPPEURS PHP/SYMFONY SENIORS H/F',
 'Consultant SEO Data & Digital Analytics (H/F)',
 'Architectes / DevOps – H/F',
 'Backend Développeur (Python) H/F',
 'Développeur/Chargé de projets H/F',
 'Développeur Front-End/ UI Designer',
 'Devops Node.js sur AWS / Freelance',
 'Concepteurs Developpeurs Dapplications En Alternance (H/F) - Paris',
 'Ingénieur DATA H/F',
 'Ingénieur(e) DevOps confirmé(e) (H/F)',
 'Développeur Data / BI',
 'Lead Développeur SYMFONY H/F',
 'Developpeurs .NET F/H',
 'DÉVELOPPEUR SÉNIOR FULL-STACK',
 'Développeur Web Office 365/Azure H/F',
 'DATA ANALYST (H/F)',
 'Consultant(e) Big Data h/f',
 'Développeur .Net junior F/H - Editeur du médical - Lyon',
 'Ingénieur DevOps / R&D',
 'Expert Cloud et DevOps (h/f)',
 'ALTERNANCE - Creative Développeur F/H',
 'Concepteur Développeur CCM',
 'Développeur C#.NET – H/F',
 'Consultant Débutant – DATA Analyst - 2020 / 2021 - Paris – H/F',
 'Software Engineer - Media generation, Engineering - Software Development',
 'Senior Data Engineer - Paris',
 'Experienced DevOps Engineer H/F',
 'Développeur .Net F/H',
 'Développeur C# / .net – (F/H)',
 'LEAD DÉVELOPPEUR',
 'Concepteur Développeur Tableau H/F',
 'Ingénieur Cloud / DevOps H/F',
 'Ingénieur Informatique – Développeur Java (H/F)',
 'Data Engineering Intern H/F',
 'Développeur Java JEE Paris F/H',
 'Manager DATA F/H',
 'F/H Développeur ANGULAR',
 'Data engineer - secteur aéronautique/défense - AWS F/H',
 'Développeur Java / Jee/ Spring f/h',
 "Responsable d'études (h/f) - Data Analyst",
 'DEVELOPPEUR JAVA/SPRING BOOT SUR CLOUD AZURE - H/F - Lyon',
 'Développeur Salesforce (H/F)',
 'Devops SRE – LA marketplace de référence en France',
 'Senior Développeur Back',
 'Développeur Front Confirmé H/F - Informatique et télécoms',
 'Data Scientist H/F / Freelance',
 'Data Engineer SPARK/SCALA (H/F)',
 'DevOps (44) F/H',
 'DÉVELOPPEURS FULL STACK H/F',
 'Data Engineer',
 'STAGE – Analyste développeur Java Back-End (H/F)',
 'Développeur C# F/H',
 'Node.js Back-End Engineer - Data Acquisition M/F (CDI)',
 'DEVELOPPEURS MOBILE ANDROID ET/OU IOS H/F',
 'Stage / Alternance développeur(euse) Python Open Data',
 'KERING Data Quality Business Lead',
 'INGÉNIEUR DEVOPS H/F LYON',
 'Lead développeur C# / Logiciel Retail - Lyon H/F',
 'DEVELOPPEUR JAVA EE (H/F)',
 'Développeur mobile react native',
 'Consultant Devops - Lyon F/H',
 'Développeur Back-End Python/Java (H/F)',
 'ADMIN/DEVOPS LINUX',
 'Devops Digital Transformation (F/H) en Stage',
 'Consultant Devops F/H',
 'Stage Data (h/f)',
 'Ingénieur DevOps AWS - CONTRACT (h/f)',
 'Software Engineer - Backend Services',
 "RESPONSABLE DU SYSTEME D'INFORMATION ET WEB DEVELOPPEUR (H/F)",
 'DevOPS (H/F)',
 'Développeur - Calcul du risque de marché F/H',
 'Développeur·euse Ingénieux·se Scala / Javascript (H/F)',
 'Développeur(se)',
 'Développeur Sharepoint H/F',
 'Alternance – 2 ans à partir de janvier 2020 – Gestionnaire administratif Market Data H/F – Paris 13ème',
 'PRODUCT OWNER DEVOPS H/F',
 'Développeur Ruby sénior – Plateforme recrutement',
 'Développeur PHP/DRUPAL (H/F)',
 "DEVELOPPEUR D'APPLICATIONS MOBILES (Apple iOS/C# Xamarin) H/F",
 'Développeur IHM F/H H/F',
 'Data engineer',
 'Analyste Data Science Risques F/H',
 'CONSULTANT DEVOPS DOMAINE SYSTEMES',
 'Développeur Full Stack Java / J2EE H/F',
 'Développeur Back PHP',
 'STAGE Chef de projet - Customer Data Management h/f - 6 mois - Janvier/Février 2020 - Région de Lyon',
 'Ingénieur Développeur Delphi F/H',
 'Lyon - Software & Firmware Engineer',
 'DEVELOPPEURS ET RESPONSABLES INTEROPERABILITE H/F',
 'DEVELOPPEUR PL/SQL - F/H',
 'DevOps AWS – Architecture micro-services',
 'Développeur C# / .NET / Azure',
 'Ingénieur de production devops H/F / Freelance',
 'Analyste Développeur',
 'DEVELOPPEUR JAVA J2E',
 'Project Manager Data Center (H/F)',
 'INGÉNIEUR DEVOPS (F/H)',
 'DEVELOPPEUR C#',
 'Consultant Ops/ DevOps (h/f)',
 'Développeur Go - moyens de paiement H/F',
 'Architecte Big Data',
 'Ingénieur de Production / Devops / Freelance',
 'Stage: Développeur Mobile H/F',
 'Stage software et Data Engineer',
 'Consultant Junior en Cybersécurité – Data Privacy /Juriste RGPD – Paris – Septembre 2019 H/F',
 'Data Ingenieur Junior',
 'Développeur Junior WinDev H/F',
 'DÉVELOPPEUR / CONCEPTEUR WEB (H/F)',
 'Software Engineer Intern (Stage)',
 'BI / Data Engineer Senior H/F',
 'Ingénieur DEVOPS (H/F)',
 'Développeur Ingénieur Data / Freelance',
 'Formation Développeur Web et Web Mobile - BAC+2 - Eligible CPF',
 'DPO (Data Protection Officer) DELEGUE A LA PROTECTION DES DONNEES F/H',
 'Data Engineer - Finance F/H',
 'Consultant DATA F/H',
 'Développeur CS Projets mécanisés H/F / Freelance',
 'Data Science Internship Program',
 'Développeur Big Data (H/F)',
 'Expert Data Science SAP (H/F)',
 'DATA ARCHITECTE / INGENIEUR DATA F/H',
 'DEVELOPPEUR SENIOR JEE/JS',
 'DÉVELOPPEUR C# .NET (H/F)',
 'Développeur - pôle Market Data F/H',
 'Développeur Back Front End (75)',
 'Développeur Full Stack H/F',
 'Data Scientist Confirmé (H/F)',
 'Développeur JAVA @ DSI Grand Groupe H/F',
 'Data & Analytics – Manager Conseil',
 'Développeur fullstack IT industrielle - Mission longue en Client final réputé - Paris, TJ 450-550\x80/j / Freelance',
 'Consultant Fonctionnel / Développeur Web F/H',
 'Ingénieur Système Windows Devops / Freelance',
 'Data, Business Intelligence & CRM Senior Manager H/F',
 'Développeur·se open-source | débutant·e accepté·e',
 'Head of Data readiness & Data Governance & Performance Analysis (H/F)',
 'Data analyst senior H/F',
 'Formateur·rice en Data Science/Machine Learning',
 'Développeur PHP Symfony Junior H/F',
 'Développeur DATA Talend (H/F)',
 'Développeur Java JEE',
 'Ingénieur Développeur Junior PHP H/F',
 '1ER DEVOPS (2/3 ANS) #CI/CD #AUTOMATISATION #DOCKER #CLOUD #FROMSCRATCH - H/F',
 'Concepteur Developpeur Java H/F',
 'Développeurs d’applications mobile (H/F)',
 'Chief Data Officer (H/F)',
 'Concepteur Développeur F/H',
 'Consultant DevOps (H/F)',
 'JOBDATING - Stage DATA (H/F)',
 'Software Engineer C# / DevOps',
 'Data Operations Analyst',
 'Software Engineer - Acoustic Modeling',
 'DÉVELOPPEUR WEB PHP / SYMFONY (F/H)',
 'Lead Data Engineering & Data Science / Responsable International Science des Données H/F',
 'CHEF DE PROJET DATA - H/F',
 'Architecte Data H/F',
 'Ingénieur Système Linux/DevOps senior F/H Sipartech –',
 'Data Team Leader / Core Services H/F',
 'Développeur Full-Stack Javascript Confirmé/Senior',
 'Ingénieur Développeur Informatica (H/F)',
 'Lead Developpeur PHP- Rillieux-la-Pape (69)',
 'DÉVELOPPEUR JAVA JUNIOR H/F',
 'Développeur Web F/H',
 'Développeur C# .net X++',
 'Développeur Java/JEE H/F',
 'Data Analyst - Tableau / Freelance',
 'Lead iOS Software Engineer (M/F)',
 'INGÉNIEUR BUSINESS INTELLIGENCE OU BIG DATA',
 'Ingénieur DevOps / Cloud Azure / Freelance',
 'Chef de projet Data',
 'Data Scientist - Client Final - Contexte international - Paris F/H',
 'Cloud Devops Engineer',
 'Développeur Unity 3D (H/F)',
 "Ingénieur Commercial H/F - Un des leaders dans l'édition du logiciel dans l'univers de la data",
 'Développeur junior - H/F',
 'Consultant BIG DATA AZURE / Freelance',
 'DEVELOPPEUR SENIOR UI (F/H)',
 'Data Analyst F/H',
 'Alternant(e) Développeur SSIS H/F',
 'CONSULTANT DEVELOPPEUR SAGE X3 LYON F/H',
 'Ingénieur DevOps (H/F)',
 'Developpeur Back-End F/H',
 'Software Engineer in Test',
 'Référent / consultant devops H/F',
 'DÉVELOPPEUR H/F (Réf. GA071/2018)',
 'DEVELOPPEURS . NET',
 'DevOps Cloud / Freelance',
 'Data Scientist confirmé - projet Energie H/F',
 'DevOps H/F (Ingénieur Système - IT System Engineer)',
 'Développeur Back end Node.JS H/F',
 'Data Innovation Engineer',
 'Développeur Angular (H/F)',
 'Développeur Big Data - H/F',
 'Site Reliability Engineering Internship/Data Processing and Governance, Engineering - Site Reliability',
 'Développeur Front-End Expérimenté F/H',
 'Consultant Big Data H/F',
 'Consultant DevOps Tools H/F',
 'Software Engineering Lead - WebScale Team, Engineering - Site Reliability',
 'Ingénieur Big Data',
 'CDI - Ingénieur Développeur Front End H/F',
 'Lead Développeur Python Odoo',
 '[Technologies] Développeur JAVA (H/F)',
 'Développeur web fullstack H/F',
 'Développeur Full Stack Angular/RoR/Node.JS - Data Sciences / MarTech F/H',
 'Ingénieur Linux / dévops',
 'INGÉNIEUR(E) DEVOPS',
 'Développeur PHP H/F',
 'DevOPS engineer',
 'Lead developpeur Full-stack H/F',
 'Data Engineer / Spark / Scala / Docker / Cloud / Freelance',
 'INGENIEUR DEVELOPPEUR MODELE (H/F)',
 'Développeur/Ingénieur d’études .Net C# F/H',
 'Software Engineer – Machine Learning Platform',
 'Data Scientist en Pistage H/F - Naval Group, leader mondial du naval de défense',
 'Développeur Python Junior',
 'Stage Business Developer SEO & Data',
 'F/H Développeur Python',
 'Stage développeur web joomla',
 'Innovation Software Architect H/F',
 'Software Engineer | Integrations',
 'DATA SCIENTIST COMPUTER VISION',
 'Ingénieur Système DevOps h/f',
 'CONSULTANT DIGITAL DATA H/F',
 'DevOps (H/F) / Freelance',
 'développeur informatique ANDROID',
 'Développeur Java BackEnd',
 'Ingénieur système Linux devOps',
 'Lead Data Scientist',
 'Stage d’Assistant(e) Data Risk Management (H/F)',
 'Concepteur / Développeur de proximité - Pricing - Salle des Marchés H/F',
 'Administrateur de composants Big Data Hortonworks H/F',
 'DevOps senior AWS',
 'Développeur Java PHP',
 'Développeur Java / JEE (H/F)',
 'LEAD DEVELOPPEUR FULLSTACK',
 'Développeur.Net',
 'Ingénieur DEVOPS Unix/Linux (H/F)',
 'Ingénieur Devops Paris F/H',
 'data scientist avec dev python / R et bon anglais / Freelance',
 'DEVELOPPEURS PYTHON H/F',
 'Analyste développeur Cobol/Pacbase (H/F) / Freelance',
 'Développeur Drupal (H/F)',
 'Data scientist débutant computer vision secteur telecoms F/H',
 'Ingénieur DevOps/Cloud – Lyon F/H',
 'Account Executive - Unstructured Data Solution',
 'Développeur Full Stack Agile (44)',
 'Senior Software Engineer',
 'Developpeur Devops / Freelance',
 'Architecte DevOps',
 'Data Scientist / Engineer',
 'Développeur C# / .NET',
 'Devops H/F',
 'Alternance / Développeur Front & Back H/F',
 'Développeur - Business Intelligence - Banque - F/H',

In [8]:
df["Salary"].fillna("None", inplace = True)

In [9]:
df.shape

(4884, 9)

# Création Fonction Split_city

On sépare la ville et le cp. On remplace les differents arrondisements de Paris et Lyon par la ville. On remplis les valeurs manquantes par le départment de recherche

In [10]:
def split_city(row):
    location = row["Location"]
    if "Paris" in location or location == "France":
        city = "Paris"
        code_postal = "75"
    elif "Lyon" in location:
        city = "Lyon"
        code_postal = "69"
    elif "(" in location:
        split = location.split("(")
        city = split[0]
        code_postal = split[1]
    else:
        city = row["Department_Search"]
        code_postal="None"
    
    row["city"] = city
    row["cp"] = code_postal.replace(")","")
    return row

# Création colonne city et cp

In [11]:
df = df.apply(split_city, axis=1)

In [12]:
df[df["city"]=="None"].Department_Search.unique()

array([], dtype=object)

# Création Fonction Split Salary

Création des colonnes salaire_max, salaire_min et type de salaire. On transforme en annuelle seulement les valeurs en mois qui sont supérieur à 1500 smic brut

In [13]:
def split_salary(row):
    salary = row["Salary"]
    if "-" in salary:
        split = salary.split("-")
        salary_min = split[0]
        salary_max = split[1]
    else:
        salary_min = salary
        salary_max = salary
    
    row["salary_min"] = salary_min.replace("€","").replace("par heure","").replace("par mois","").replace("par semaine","").replace("par an","").replace(",50",".50").replace("\xa0","")
    row["salary_max"] = salary_max.replace("€","").replace("par heure","").replace("par jour","").replace("par mois","").replace("par semaine","").replace(",50",".50").replace("par an","").replace("\xa0","")
    
    
    if ("mois" in row["Salary"]) and (int(row["salary_min"]) > 1500):
        row["salary_min"] = int(row["salary_min"])*12
        row["salary_max"] = int(row["salary_max"])*12
        row["salary_type"] = "annually"
    
    if "mois" in row["Salary"] and (int(row["salary_min"]) <= 1500):
        row["salary_type"] = "monthly"
        
    if "jour" in row["Salary"]:
        row["salary_type"] = "daily"
    
    if "semaine" in row["Salary"]:
        row["salary_type"] = "weekly"
        
    if "an" in row["Salary"]:
        row["salary_type"] = "annually"
    
    if "heure" in row["Salary"]:
        row["salary_type"] = "per hour"
        
    return row

# Création des colonnes salary max, salary min et salary type

In [14]:
df_salary = df[df["Salary"] != "None"]
df_salary = df_salary.apply(split_salary, axis=1)
df_salary["salary_min"]=pd.to_numeric(df_salary["salary_min"],'coerce')
df_salary["salary_max"]=pd.to_numeric(df_salary["salary_max"],'coerce')
#df_salary["salary_mean"]=pd.to_numeric(df_salary["salary_mean"],'coerce')

In [15]:
df_salary

,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,city,cp,salary_min,salary_max,salary_type
8,p_008d77a008590232,INGÉNIEUR DÉVELOPPEUR C++ / JAVA F/H,ALTEN,Toulouse (31),30 000 € - 45 000 € par an,Partenaire technologique de référence des plus...,08/09/2019,Développeur,Haute-Garonne,Toulouse,31,30000.0,45000.0,annually
15,p_00f2ad8db3c30b8e,Devops F/H,Kent FR,Bordeaux (33),35 000 € - 40 000 € par an,"KENT, marque de GroupAgora dédiée aux recrutem...",09/03/2019,Développeur,Gironde,Bordeaux,33,35000.0,40000.0,annually
17,p_00fa03a21ad52a71,Data Scientist H/F,QYSY,Paris (75),40 000 € - 65 000 € par an,QYSY est un cabinet de conseil et de recruteme...,29/09/2019,Data,75,Paris,75,40000.0,65000.0,annually
19,p_0130bef769eef3cc,BUSINESS DEVELOPER BTOB - DATA INTELLIGENCE (H/F),L.I.P,Lyon 3e (69),35 000 € - 60 000 € par an,69003 - Lyon-3e-Arrondissement CDI Bac+5 et pl...,07/10/2019,Data,Rhône,Lyon,69,35000.0,60000.0,annually
31,p_019d01b7494dc632,Référent fonctionnel et données - Data manager...,GARCIN FINANCES ET PARTICIPATIONS,Corbas (69),40 000 € - 45 000 € par an,Vous souhaitez participer à la structuration d...,10/09/2019,Data,Rhône,Corbas,69,40000.0,45000.0,annually
44,p_02074799b0dbc42e,Développeur PHP / Laravel,Sept Lieues,Paris (75),32 000 € - 37 000 € par an,PME de près de 20 ans d'existence dans la gest...,08/04/2019,Développeur,75,Paris,75,32000.0,37000.0,annually
49,p_02270c340e21e7ab,Développeur WinDev H/F,Axemploi Recrutement,Nantes (44),30 000 € - 40 000 € par an,DEVELOPPEUR WINDEV H/F Vous interviendrez sur...,18/09/2019,Développeur,Loire-Atlantique,Nantes,44,30000.0,40000.0,annually
66,p_033110c9c03332f9,Développeur Java H/F,WOM,Lyon (69),30 000 € - 40 000 € par an,"Notre client, spécialisé dans l’édition de log...",03/10/2019,Développeur,Rhône,Lyon,69,30000.0,40000.0,annually
87,p_046189897fdb70ed,CONTRÔLEUR DE GESTION - DATA ANALYST,SH Conseils,Paris 8e (75),35 000 € - 38 000 € par an,Pour le compte d’un Opérateur Télécoms de prem...,18/09/2019,Data,75,Paris,75,35000.0,38000.0,annually
105,p_05b4d08c39d1a13c,Développeur Mobile (Senior) iOS / Swift H/F,EXTERNATIC,Bordeaux (33),40 000 € - 50 000 € par an,"DESCRIPTION DE L'OFFRE Externatic, le hub d’op...",07/09/2019,Développeur,Gironde,Bordeaux,33,40000.0,50000.0,annually
113,p_060a2b9c9629b0ec,CDI client final - Développeur Java fullstack,Idée Blanche Recrutement,Toulouse (31),35 000 € - 45 000 € par an,"Au sein de l’équipe développement, vous partic...",08/09/2019,Développeur,Haute-Garonne,Toulouse,31,35000.0,45000.0,annually
116,p_06131cb23b356dbd,Lead developer / Data Engineer (CDI),CARTELIS,Paris (75),40 000 € - 45 000 € par an,CDI Salaire entre 40K € et 45K € Paris Bac +5 ...,26/09/2019,Data,75,Paris,75,40000.0,45000.0,annually
130,p_06a1847fffdccdf3,Lead Data Technique Senior F/H,Kent FR,Bordeaux (33),40 000 € - 45 000 € par an,"KENT, marque de GroupAgora dédiée aux recrutem...",08/04/2019,Data,Gironde,Bordeaux,33,40000.0,45000.0,annually
134,p_06cb2abacde70138,DATA OPS ENGINEER,Harnham,Paris (75),45 000 € - 60 000 € par an,"DATA OPS ENGINEER Paris, France 45-60K/an Créé...",07/09/2019,Data,75,Paris,75,45000.0,60000.0,annually
136,p_06d5e301eb1edc89,Ingénieur Système OpenSource Devops H/F,Uniware Global Services,Paris (75),45 000 € - 55 000 € par an,Ingénieur Système OpenSource Devops H/F posté ...,05/10/2019,Développeur,75,Paris,75,45000.0,55000.0,annually
148,p_07857e44e3dc84bc,DÉVELOPPEUR PRODUIT JAVA JUNIOR (F/H),Randstad Search,Nantes (44),28 000 € par an,Vous voulez intégrer une équipe dynamique? Alo...,07/10/2019,Développeur,Loire-Atlantique,Nantes,44,28000.0,28000.0,annually
158,p_07ee1928807c8304,Ingénieur DevOps / Solutions Architect,GEOSAT,Pessac (33),2 500 € - 3 000 € par mois,"Geosat, société de services en ingénierie du t...",26/09/2019,Développeur,Gironde,Pessac,33,30000.0,36000.0,annually
186,p_09824262681329d2,Junior Data Engineer M/F (6 months),Kayrros,Paris (75),1 700 € par mois,Passionate about tech? Interested in Energy? C...,07/09/2019,Data,75,Paris,75,20400.0,20400.0,annually
193,p_09e77099d2b8ff14,Développeur Java J2EE H/F,Action_SSI.com,Toulouse (31),30 000 € - 40 000 € par an,"Créée en 2009, ACTION_SSI.COM est une ESN de c...",25/09/2019,Développeur,Haute-Garonne,Toulouse,31,30000.0,40000.0,annually
195,p_09f8ad957b29d478,Développeur .Net H/F,effektiv,Lyon (69),38 000 € - 45 000 € par an,"Client Notre client, à mi-chemin entre la star...",07/09/2019,Développeur,Rhône,Lyon,69,38000.0,45000.0,annually
203,p_0a694e43b9b86909,Développeur PHP,HAYS,Bordeaux (33),35 000 € - 45 000 € par an,Notre client est un organisme de formation sur...,07/10/2019,Développeur,Gironde,Bordeaux,33,35000.0,45000.0,annually
213,p_0b0354bee583ab26,Intégrateur d'applications (DEVOPS) H/F,Solutec,Bordeaux (33),32 000 € - 50 000 € par an,Vous cherchez à rejoindre une équipe dynamique...,09/05/2019,Développeur,Gironde,Bordeaux,33,32000.0,50000.0,annually
214,p_0b037b0fc6c7227f,DÉVELOPPEUR/ADMINISTRATEUR SYSTÈME & RÉSEAUX (...,Randstad Search,Nantes (44),35 000 € par an,Nous recherchons pour le compte de notre clien...,07/10/2019,Développeur,Loire-Atlantique,Nantes,44,35000.0,35000.0,annually
230,p_0be88903b72726e7,Ingénieur système DevOps,Sept Lieues,Paris 13e (75),45 000 € - 60 000 € par an,Startup qui développe une plateforme de Machin...,07/02/2019,Développeur,75,Paris,75,45000.0,60000.0,annually
241,p_0c53f90c8fdbf55d,Ingénieur DEVOPS Cloud H/F,EXTERNATIC,Bordeaux (33),45 000 € - 60 000 € par an,"DESCRIPTION DE L'OFFRE Externatic, le hub d’op...",08/09/2019,Développeur,Gironde,Bordeaux,33,45000.0,60000.0,annually
242,p_0c5eee3be4b915d1,Devops,Konekt,Paris (75),60 000 € - 70 000 € par an,Description de l'emploi Notre client start-up ...,08/10/2018,Développeur,75,Paris,75,60000.0,70000.0,annually
256,p_0d2295226c6a1db8,Développeur Front-End/ UI Designer,Silkhom,Paris (75),40 000 € - 45 000 € par an,Editeur de logiciel Open Source fournissant un...,07/09/2019,Développeur,75,Paris,75,40000.0,45000.0,annually
259,p_0d33c5aa42dd6004,Ingénieur DATA H/F,RECRUTEMENT DIRECT,Lyon 3e (69),40 000 € - 45 000 € par an,Nous recherchons activement des Ingénieurs DAT...,19/09/2019,Data,Rhône,Lyon,69,40000.0,45000.0,annually
261,p_0d3fe80afbd89271,Développeur Data / BI,Savane Consulting,Paris (75),30 000 € - 50 000 € par an,Vous avez soif de nouveaux challenges et d'inn...,07/09/2019,Data,75,Paris,75,30000.0,50000.0,annually
268,p_0d92a5b5d5d1cb98,Développeur .Net junior F/H - Editeur du médic...,Evowlve,Lyon (69),35 000 € - 43 000 € par an,Client Depuis 1 an nous accompagnons cet édite...,07/09/2019,Développeur,Rhône,Lyon,69,35000.0,43000.0,annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4760,pj_c5a817aeec3ea0f1,Ingénieur Système Devops (H/F),Quantic,Paris (75),60 000 € par an,La prestation de déroule au sein de l’équipe s...,NaN,Développeur,75,Paris,75,60000.0,60000.0,annually
4766,pj_c8ba874e50f1da8e,Developpeur H/F,HA Location,Bordeaux (33),35 000 € par an,"H&A LOCATION, leader international de la gesti...",NaN,Développeur,Gironde,Bordeaux,33,35000.0,35000.0,annually
4769,pj_ca13a3aeffe6ef38,DÉVELOPPEUR INFORMATIQUE INDUSTRIELLE .NET (F/H),Randstad Search,L'Union (31),30 000 € - 40 000 € par an,"Marque : Randstad Search, Cabinet Conseil en R...",NaN,Développeur,Haute-Garonne,L'Union,31,30000.0,40000.0,annually
4770,pj_caa1c635fc2a3d53,Développeur PHP - H/F,SEDONA SOLUTIONS,Paris 9e (75),45 000 € par an,Symfony / Angular / Javascript / Php / Symfony...,NaN,Développeur,75,Paris,75,45000.0,45000.0,annually
4776,pj_cd0f15226437888f,Data Sientist / Analyst - CDI (F/H),Fed IT,Paris (75),45 000 € - 50 000 € par an,"Fed IT, cabinet de recrutement spécialisé, rec...",NaN,Data,75,Paris,75,45000.0,50000.0,annually
4780,pj_ce604bc1ba27a517,Développeur d'applications web (H/F),OJC Conseil,Paris (75),35 000 € - 45 000 € par an,A propos d'OJC OJC Conseil fournit des service...,NaN,Développeur,75,Paris,75,35000.0,45000.0,annually
4787,pj_d33bedd0063f4668,Responsable BI et data transformation H/F,Hays France,Bordeaux (33),55 000 € - 70 000 € par an,Responsable BI et data transformation H/F post...,NaN,Data,Gironde,Bordeaux,33,55000.0,70000.0,annually
4789,pj_d43fea0984e8b86f,Software Engineer FullStack Java Angular H/F,Margo,Paris (75),60 000 € par an,Mongodb / Angular / Java / Agile Backend Devel...,NaN,Développeur,75,Paris,75,60000.0,60000.0,annually
4813,pj_ddd97557811c0453,CDI - DevOps - Solution Cloud,La Relève,Paris 20e (75),50 000 € par an,L'entreprise est une solution DevOps tout-en-u...,NaN,Développeur,75,Paris,75,50000.0,50000.0,annually
4816,pj_df0c59ab5144d3dc,Développeur Full Stack en environnement Agile ...,Synchrone,Paris (75),38 000 € - 45 000 € par an,"Notre Entreprise Spécialisée en Consulting, Da...",04/10/2019,Développeur,75,Paris,75,38000.0,45000.0,annually
4817,pj_df4101ae5cc11c6f,CDI - Développeur fullstack / Data Engineer,La Relève,Paris (75),34 000 € - 40 000 € par an,"Crée en 2012, l'entreprise est le premier dist...",NaN,Data,75,Paris,75,34000.0,40000.0,annually
4821,pj_e0768aeca8f56d91,DEVELOPPEUR PHP,ADSearch,Lyon (69),35 000 € - 42 000 € par an,"Adsearch, cabinet de recrutement du Groupe Adé...",NaN,Développeur,Rhône,Lyon,69,35000.0,42000.0,annually
4823,pj_e1ec52fb51c6ce71,Stage Développeur Front-End Junior,Angulaire,Paris (75),800 € par mois,Angulaire est une société de conseil en market...,NaN,Développeur,75,Paris,75,800.0,800.0,monthly
4828,pj_e56b447790c102f9,Développeur Fullstack PHP / Angular 2+ (H/F) -...,Neovity,Paris (75),45 000 € - 50 000 € par an,Accompagné du Responsable Technique de cet Edi...,NaN,Développeur,75,Paris,75,45000.0,50000.0,annually
4830,pj_e7009a14a12c6ff3,Développeur Frontend Javascript H/F,Approach People - MP,Paris 1er (75),45 000 € - 60 000 € par an,Développeur Frontend Javascript H/F Entreprise...,NaN,Développeur,75,Paris,75,45000.0,60000.0,annually
4833,pj_e8b7d0351941c388,LEAD DEVELOPPEUR PHP,ADSearch,Lyon 1er (69),45 000 € - 50 000 € par an,"Adsearch, cabinet de recrutement du Groupe Adé...",NaN,Développeur,Rhône,Lyon,69,45000.0,50000.0,annually
4834,pj_e8ffd7b193fe9193,Architecte/ Développeur Splunk environnement b...,UMANTIC,Paris (75),55 000 € par an,À propos du poste Au sein d’une équipe dédiée...,NaN,Développeur,75,Paris,75,55000.0,55000.0,annually
4836,pj_e9b13604d13bed17,DEVELOPPEUR GO,GROUPE ALLIANCE,Paris (75),40 000 € - 60 000 € par an,"Depuis sa création en 1997, le Groupe ALLIANCE...",NaN,Développeur,75,Paris,75,40000.0,60000.0,annually
4842,pj_ecbeb4071e6eb2c1,Ingénieur DevOps Cloud Azure - H/F,Michael Page,Paris (75),70 000 € par an,C-sharp / Azure / Asp-net DevOps Manager / CDI...,NaN,Développeur,75,Paris,75,70000.0,70000.0,annually
4843,pj_ed99236794d0178f,Data analyste informatique (H/F),Gentis Recruitment SAS,Paris (75),35 000 € - 50 000 € par an,Gentis is a Belgian recruitment company headqu...,NaN,Data,75,Paris,75,35000.0,50000.0,annually
4844,pj_edab0aa260675678,Centre-ville / Client final / Développeur Full...,Delia Technologies,Nantes (44),37 000 € - 40 000 € par an,Delia Technologies #LaDevOpsFamily Delia Techn...,04/10/2019,Développeur,Loire-Atlantique,Nantes,44,37000.0,40000.0,annually
4845,pj_edb675891a62b6de,Ingénieur DevOps Big Data Junior - H/F,Omnilog,Bordeaux (33),36 000 € par an,Kubernetes / Git / Jenkins / Ansible / Docker ...,NaN,Data,Gironde,Bordeaux,33,36000.0,36000.0,annually
4851,pj_f1d346fc78673d6a,Développeur PHP & Intégrateur HTML5/CSS3,Éraclès,Paris 15e (75),30 000 € - 37 000 € par an,Description du poste Éraclès est une agence di...,NaN,Développeur,75,Paris,75,30000.0,37000.0,annually
4865,pj_f74c94c78f09bd8e,Senior Data Scientist,Pivot & Co,Paris 8e (75),60 000 € par an,"Areas: Data Science, Media Effectiveness, ROI,...",05/10/2019,Data,75,Paris,75,60000.0,60000.0,annually
4868,pj_f7e3c209ffdd7369,JURISTE SENIOR EN DATA PRIVACY H/F,ADECCO,Villeurbanne (69),50 € par heure,The Adecco Group est le leader mondial des sol...,NaN,Data,Rhône,Villeurbanne,69,50.0,50.0,per hour
4871,pj_f9b2d5fe629ccfb3,DevOps (H/F),EASY PARTNER,Paris (75),50 000 € - 55 000 € par an,### LE POSTE Afin d’accompagner sa forte croi...,08/10/2019,Développeur,75,Paris,75,50000.0,55000.0,annually
4875,pj_fc87c600387c3e85,Developpeur Java Back-end,Gentis Recruitment SAS,Paris (75),50 € par heure,"Bonjour, Notre client est une startup, jeune ...",NaN,Développeur,75,Paris,75,50.0,50.0,per hour
4876,pj_fd8e78ca8bedfe98,Web Developpeur,CLERE / JES,Loire-Atlantique,22 000 € - 28 000 € par an,"Éditeur de logiciels, nous développons en inte...",NaN,Développeur,Loire-Atlantique,Loire-Atlantique,None,22000.0,28000.0,annually
4877,pj_fe470d6a829fdecc,Consultant Devops - H/F,Des Systèmes et des Hommes,Paris 9e (75),45 000 € par an,Docker / Hibernate / Linux / Jenkins / Oracle-...,NaN,Développeur,75,Paris,75,45000.0,45000.0,annually
4879,pj_fecbe7703c9699cd,Digital Data Analyst (H/F) - H/F,Aravati,Paris (75),55 000 € par an,R / Python / Adobe-analytics / At-internet / G...,NaN,Data,75,Paris,75,55000.0,55000.0,annually

In [16]:
print("Nombre de lignes avec salaire en années : {}".format(df_salary[df_salary["salary_type"]=="annually"].shape[0]))
print("Nombre de lignes avec salaire en mois : {}".format(df_salary[df_salary["salary_type"]=="monthly"].shape[0]))
print("Nombre de lignes avec salaire en semaine : {}".format(df_salary[df_salary["salary_type"]=="weekly"].shape[0]))
print("Nombre de lignes avec salaire en heure : {}".format(df_salary[df_salary["salary_type"]=="per hour"].shape[0]))

Nombre de lignes avec salaire en années : 675
Nombre de lignes avec salaire en mois : 30
Nombre de lignes avec salaire en semaine : 23
Nombre de lignes avec salaire en heure : 9

In [17]:
df_salary[df_salary["salary_type"]=="monthly"]

,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,city,cp,salary_min,salary_max,salary_type
339,p_11932114a525d757,STAGE Chef de projet - Customer Data Managemen...,Danone,Limonest (69),1 120 € par mois,Danone recherche un(e) STAGE Chef de projet - ...,06/10/2019,Data,Rhône,Limonest,69,1120.0,1120.0,monthly
358,p_13477b94e2936148,Stage software et Data Engineer,Outmind,Paris 8e (75),600 € - 1 200 € par mois,À propos Outmind est une jeune startup créant ...,07/09/2019,Data,75,Paris,75,600.0,1200.0,monthly
599,p_21fa7fcf997add98,Stagiaire Stage Développeur/se web FRONT ou BACK,ITALIC,Paris 10e (75),700 € - 900 € par mois,"Récapitulatif du poste Le studio ITALIC , créé...",18/09/2019,Développeur,75,Paris,75,700.0,900.0,monthly
721,p_283edb6188ab0e56,Analyste développeur H/F,TMDS,Irigny (69),600 € - 1 000 € par mois,Stage QA Tester Pourquoi venir chez nous ? Tot...,04/10/2019,Développeur,Rhône,Irigny,69,600.0,1000.0,monthly
855,p_2f2cf27029d2954b,STAGIAIRE DEVELOPPEUR FRONT-END (H/F),LEOO,Paris (75),560 € par mois,"SOCIETE LEOO, filiale du groupe ADLPerformance...",07/09/2019,Développeur,75,Paris,75,560.0,560.0,monthly
895,p_31d61797124bb736,Data Analyst - Stage,Pretto,Paris (75),800 € - 1 200 € par mois,Dans une startup qui croît et se structure à t...,05/10/2019,Data,75,Paris,75,800.0,1200.0,monthly
1305,p_4adf45bdd9431ed7,"Data engineer (Oracle, SQL) / Freelance",Thiveo,Paris (75),600 € par mois,Mettre en uvre des solutions techniques sécur...,07/09/2019,Data,75,Paris,75,600.0,600.0,monthly
1377,p_4f36493edf4833b5,Stage - Développeur ASP.NET / C# (H/F),Aidimpact,Toulouse (31),580 € par mois,Développeur C# .NET Dans le cadre de notre cro...,27/09/2019,Développeur,Haute-Garonne,Toulouse,31,580.0,580.0,monthly
1402,p_50fd489da08f1f55,Développeur Web (stage) H/F,Blent.ai,Paris 3e (75),700 € par mois,Blent.ai est une startup spécialisée dans la...,07/10/2019,Développeur,75,Paris,75,700.0,700.0,monthly
1518,p_57f4a3ee1f4b1fd5,stage ingénieur - développeur,Certilience,Limonest (69),600 € - 850 € par mois,Résumé Environnement Vos missions Votre profil...,06/02/2019,Développeur,Rhône,Limonest,69,600.0,850.0,monthly
1559,p_5a41e351ac636a06,stage assistant data webmarketing,Stanley Black&Decker France,Dardilly (69),800 € par mois,"STANLEY BLACK & DECKER, groupe américain, acte...",17/09/2019,Data,Rhône,Dardilly,69,800.0,800.0,monthly
1951,p_72f59b05d068e7a4,STAGE ASSISTANT CHEF DE PROJET DATA,AQOA,Paris 18e (75),750 € par mois,"Mission Pour accompagner son développement, AQ...",23/09/2019,Data,75,Paris,75,750.0,750.0,monthly
2200,p_80ff21a2ba9c185b,Stage (6 mois) - Développeur Angular (H/F) par...,Humaniak,Paris (75),1 000 € par mois,Description de l'entreprise : Collective Think...,08/03/2019,Développeur,75,Paris,75,1000.0,1000.0,monthly
2262,p_84f71422e722a234,stage assistant chef de projet data/production,AQOA,Paris 18e (75),750 € par mois,Missions et responsabilités Dans le cadre de s...,23/09/2019,Data,75,Paris,75,750.0,750.0,monthly
2273,p_8582c7978a6febf2,Stagiaire Data Scientist Géo Big Data,Gisaïa,Blagnac (31),900 € par mois,Vous êtes passionné(e) par l’exploration de do...,07/10/2018,Data,Haute-Garonne,Blagnac,31,900.0,900.0,monthly
2393,p_8ccc668de734a40e,Data Engineer (H/F) / Freelance,HR-TEAM,Paris (75),500 € - 650 € par mois,Contexte : Nous recherchons aujourd’hui plusie...,07/10/2019,Data,75,Paris,75,500.0,650.0,monthly
2619,p_9ba1a3ab379e9b6e,Data Engineer (H/F) / Freelance,Human Job,Paris (75),500 € par mois,Soutenir le développement de la plateforme BIG...,07/10/2019,Data,75,Paris,75,500.0,500.0,monthly
2656,p_9e03df11ed784a6a,Développeur web (Stage Mars 2020 - Environneme...,NALYS,Lyon (69),1 200 € par mois,Nalys est une société spécialisée dans l’accom...,20/09/2019,Développeur,Rhône,Lyon,69,1200.0,1200.0,monthly
2774,p_a4a46f1e278d647e,Stage Ingénieur(e) data analyst,VALOREM Energie,Bègles (33),700 € par mois,Offre de stage Ingénieur(e) data analyst Date ...,08/04/2019,Data,Gironde,Bègles,33,700.0,700.0,monthly
2799,p_a687d04dc428a2f9,Ingénieur Infrastructure Devops / Freelance,Jefferson Frank,Paris (75),650 € par mois,Sujet / Environnement: Missions principales G...,24/09/2019,Développeur,75,Paris,75,650.0,650.0,monthly
3121,p_b974f66542f8f953,Data Engineer / Banque en ligne / Freelance,AMETIX,Paris (75),500 € par mois,Le Data Engineer intervient auprès des équipes...,01/10/2019,Data,75,Paris,75,500.0,500.0,monthly
3674,p_d9523fdc354703df,Data Technical Leader Google Cloud Platform / ...,OZITEM,Paris (75),550 € par mois,Je recherche aujourd’hui un Data Technical Lea...,02/10/2019,Data,75,Paris,75,550.0,550.0,monthly
3719,p_dc4bf8dbdd490a86,Stage développeur web PHP,Advisto,Paris (75),525 € par mois,Vous faites des études de développement inform...,08/05/2019,Développeur,75,Paris,75,525.0,525.0,monthly
3797,p_e025c7f5ed8671ef,Data Officer Data Policy_Fonctionnel Banque / ...,ABSIS CONSEIL,Paris (75),800 € par mois,La mission consiste à accompagner le Data Offi...,07/09/2019,Data,75,Paris,75,800.0,800.0,monthly
4325,p_feec14496bca74e9,QA Data h/f / Freelance,Thiveo,Paris (75),600 € par mois,L’un de mes clients dans le secteur des termin...,27/09/2019,Data,75,Paris,75,600.0,600.0,monthly
4331,p_ff55a22d7ecb3d48,Data Engineer Sénior / Freelance,Cherry Pick,Paris (75),700 € par mois,Cherry Pick recherche pour l’un de ses clients...,30/09/2019,Data,75,Paris,75,700.0,700.0,monthly
4357,pj_09d2ccc5669b0ddd,Développeur Web (stage) H/F,Lovelydays,Bordeaux (33),850 € par mois,Developpeur FullStack La société : Acteur gran...,NaN,Développeur,Gironde,Bordeaux,33,850.0,850.0,monthly
4450,pj_36121480d782b30f,Stage Data Analyst H/F - Paris,Jobmania,Paris (75),1 000 € par mois,Vous souhaitez rejoindre une startup en pleine...,NaN,Data,75,Paris,75,1000.0,1000.0,monthly
4629,pj_8973a13c2ef30b26,Stage Administrateur Système et Réseaux/DevOps...,Jobmania,Paris (75),800 € - 1 100 € par mois,Notre client est un acteur technologique majeu...,NaN,Développeur,75,Paris,75,800.0,1100.0,monthly
4823,pj_e1ec52fb51c6ce71,Stage Développeur Front-End Junior,Angulaire,Paris (75),800 € par mois,Angulaire est une société de conseil en market...,NaN,Développeur,75,Paris,75,800.0,800.0,monthly

## Creation df par type de salaire

In [18]:
df_annually = df_salary[df_salary["salary_type"]=="annually"]
df_monthly = df_salary[df_salary["salary_type"]=="monthly"]
df_weekly = df_salary[df_salary["salary_type"]=="weekly"]
df_hour = df_salary[df_salary["salary_type"]=="per hour"]

In [19]:
df_monthly

,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,city,cp,salary_min,salary_max,salary_type
339,p_11932114a525d757,STAGE Chef de projet - Customer Data Managemen...,Danone,Limonest (69),1 120 € par mois,Danone recherche un(e) STAGE Chef de projet - ...,06/10/2019,Data,Rhône,Limonest,69,1120.0,1120.0,monthly
358,p_13477b94e2936148,Stage software et Data Engineer,Outmind,Paris 8e (75),600 € - 1 200 € par mois,À propos Outmind est une jeune startup créant ...,07/09/2019,Data,75,Paris,75,600.0,1200.0,monthly
599,p_21fa7fcf997add98,Stagiaire Stage Développeur/se web FRONT ou BACK,ITALIC,Paris 10e (75),700 € - 900 € par mois,"Récapitulatif du poste Le studio ITALIC , créé...",18/09/2019,Développeur,75,Paris,75,700.0,900.0,monthly
721,p_283edb6188ab0e56,Analyste développeur H/F,TMDS,Irigny (69),600 € - 1 000 € par mois,Stage QA Tester Pourquoi venir chez nous ? Tot...,04/10/2019,Développeur,Rhône,Irigny,69,600.0,1000.0,monthly
855,p_2f2cf27029d2954b,STAGIAIRE DEVELOPPEUR FRONT-END (H/F),LEOO,Paris (75),560 € par mois,"SOCIETE LEOO, filiale du groupe ADLPerformance...",07/09/2019,Développeur,75,Paris,75,560.0,560.0,monthly
895,p_31d61797124bb736,Data Analyst - Stage,Pretto,Paris (75),800 € - 1 200 € par mois,Dans une startup qui croît et se structure à t...,05/10/2019,Data,75,Paris,75,800.0,1200.0,monthly
1305,p_4adf45bdd9431ed7,"Data engineer (Oracle, SQL) / Freelance",Thiveo,Paris (75),600 € par mois,Mettre en uvre des solutions techniques sécur...,07/09/2019,Data,75,Paris,75,600.0,600.0,monthly
1377,p_4f36493edf4833b5,Stage - Développeur ASP.NET / C# (H/F),Aidimpact,Toulouse (31),580 € par mois,Développeur C# .NET Dans le cadre de notre cro...,27/09/2019,Développeur,Haute-Garonne,Toulouse,31,580.0,580.0,monthly
1402,p_50fd489da08f1f55,Développeur Web (stage) H/F,Blent.ai,Paris 3e (75),700 € par mois,Blent.ai est une startup spécialisée dans la...,07/10/2019,Développeur,75,Paris,75,700.0,700.0,monthly
1518,p_57f4a3ee1f4b1fd5,stage ingénieur - développeur,Certilience,Limonest (69),600 € - 850 € par mois,Résumé Environnement Vos missions Votre profil...,06/02/2019,Développeur,Rhône,Limonest,69,600.0,850.0,monthly
1559,p_5a41e351ac636a06,stage assistant data webmarketing,Stanley Black&Decker France,Dardilly (69),800 € par mois,"STANLEY BLACK & DECKER, groupe américain, acte...",17/09/2019,Data,Rhône,Dardilly,69,800.0,800.0,monthly
1951,p_72f59b05d068e7a4,STAGE ASSISTANT CHEF DE PROJET DATA,AQOA,Paris 18e (75),750 € par mois,"Mission Pour accompagner son développement, AQ...",23/09/2019,Data,75,Paris,75,750.0,750.0,monthly
2200,p_80ff21a2ba9c185b,Stage (6 mois) - Développeur Angular (H/F) par...,Humaniak,Paris (75),1 000 € par mois,Description de l'entreprise : Collective Think...,08/03/2019,Développeur,75,Paris,75,1000.0,1000.0,monthly
2262,p_84f71422e722a234,stage assistant chef de projet data/production,AQOA,Paris 18e (75),750 € par mois,Missions et responsabilités Dans le cadre de s...,23/09/2019,Data,75,Paris,75,750.0,750.0,monthly
2273,p_8582c7978a6febf2,Stagiaire Data Scientist Géo Big Data,Gisaïa,Blagnac (31),900 € par mois,Vous êtes passionné(e) par l’exploration de do...,07/10/2018,Data,Haute-Garonne,Blagnac,31,900.0,900.0,monthly
2393,p_8ccc668de734a40e,Data Engineer (H/F) / Freelance,HR-TEAM,Paris (75),500 € - 650 € par mois,Contexte : Nous recherchons aujourd’hui plusie...,07/10/2019,Data,75,Paris,75,500.0,650.0,monthly
2619,p_9ba1a3ab379e9b6e,Data Engineer (H/F) / Freelance,Human Job,Paris (75),500 € par mois,Soutenir le développement de la plateforme BIG...,07/10/2019,Data,75,Paris,75,500.0,500.0,monthly
2656,p_9e03df11ed784a6a,Développeur web (Stage Mars 2020 - Environneme...,NALYS,Lyon (69),1 200 € par mois,Nalys est une société spécialisée dans l’accom...,20/09/2019,Développeur,Rhône,Lyon,69,1200.0,1200.0,monthly
2774,p_a4a46f1e278d647e,Stage Ingénieur(e) data analyst,VALOREM Energie,Bègles (33),700 € par mois,Offre de stage Ingénieur(e) data analyst Date ...,08/04/2019,Data,Gironde,Bègles,33,700.0,700.0,monthly
2799,p_a687d04dc428a2f9,Ingénieur Infrastructure Devops / Freelance,Jefferson Frank,Paris (75),650 € par mois,Sujet / Environnement: Missions principales G...,24/09/2019,Développeur,75,Paris,75,650.0,650.0,monthly
3121,p_b974f66542f8f953,Data Engineer / Banque en ligne / Freelance,AMETIX,Paris (75),500 € par mois,Le Data Engineer intervient auprès des équipes...,01/10/2019,Data,75,Paris,75,500.0,500.0,monthly
3674,p_d9523fdc354703df,Data Technical Leader Google Cloud Platform / ...,OZITEM,Paris (75),550 € par mois,Je recherche aujourd’hui un Data Technical Lea...,02/10/2019,Data,75,Paris,75,550.0,550.0,monthly
3719,p_dc4bf8dbdd490a86,Stage développeur web PHP,Advisto,Paris (75),525 € par mois,Vous faites des études de développement inform...,08/05/2019,Développeur,75,Paris,75,525.0,525.0,monthly
3797,p_e025c7f5ed8671ef,Data Officer Data Policy_Fonctionnel Banque / ...,ABSIS CONSEIL,Paris (75),800 € par mois,La mission consiste à accompagner le Data Offi...,07/09/2019,Data,75,Paris,75,800.0,800.0,monthly
4325,p_feec14496bca74e9,QA Data h/f / Freelance,Thiveo,Paris (75),600 € par mois,L’un de mes clients dans le secteur des termin...,27/09/2019,Data,75,Paris,75,600.0,600.0,monthly
4331,p_ff55a22d7ecb3d48,Data Engineer Sénior / Freelance,Cherry Pick,Paris (75),700 € par mois,Cherry Pick recherche pour l’un de ses clients...,30/09/2019,Data,75,Paris,75,700.0,700.0,monthly
4357,pj_09d2ccc5669b0ddd,Développeur Web (stage) H/F,Lovelydays,Bordeaux (33),850 € par mois,Developpeur FullStack La société : Acteur gran...,NaN,Développeur,Gironde,Bordeaux,33,850.0,850.0,monthly
4450,pj_36121480d782b30f,Stage Data Analyst H/F - Paris,Jobmania,Paris (75),1 000 € par mois,Vous souhaitez rejoindre une startup en pleine...,NaN,Data,75,Paris,75,1000.0,1000.0,monthly
4629,pj_8973a13c2ef30b26,Stage Administrateur Système et Réseaux/DevOps...,Jobmania,Paris (75),800 € - 1 100 € par mois,Notre client est un acteur technologique majeu...,NaN,Développeur,75,Paris,75,800.0,1100.0,monthly
4823,pj_e1ec52fb51c6ce71,Stage Développeur Front-End Junior,Angulaire,Paris (75),800 € par mois,Angulaire est une société de conseil en market...,NaN,Développeur,75,Paris,75,800.0,800.0,monthly

## Création colonne salary mean pour chaque df

In [20]:
df_annually["salary_mean"] = (df_annually["salary_min"]+df_annually["salary_max"])/2
df_monthly["salary_mean"] = (df_monthly["salary_min"]+df_monthly["salary_max"])/2
df_weekly["salary_mean"] = (df_weekly["salary_min"]+df_weekly["salary_max"])/2
df_hour["salary_mean"] = (df_hour["salary_min"]+df_hour["salary_max"])/2

/Users/fabi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/fabi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/fabi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/fabi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [21]:
df_hour

,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,city,cp,salary_min,salary_max,salary_type,salary_mean
804,p_2c741ebd774063de,Concepteur Développeur Java Jee F/H,Orkeis,Nantes (44),30 € - 37 € par heure,"Intégré(e) au sein d’une équipe IT, vous inter...",08/12/2018,Développeur,Loire-Atlantique,Nantes,44,30.0,37.0,per hour,33.5
4358,pj_0af9a47690300a4f,Analyste d’exploitation informatique DevOps,NOVA TECHNOLOGY,Nantes (44),32 € - 35 € par heure,Nous recherchons actuellement un Analyste d’ex...,NaN,Développeur,Loire-Atlantique,Nantes,44,32.0,35.0,per hour,33.5
4369,pj_0fc43ce904d57fe3,Data Collector - Take Photos & Survey Parking ...,Inrix,Nantes (44),"13,50 € par heure",About Us : ParkMe licenses parking data for ca...,NaN,Data,Loire-Atlantique,Nantes,44,13.5,13.5,per hour,13.5
4409,pj_22353a43932262b7,architecte informatique Big Data,T&T Consulting,Paris (75),50 € par heure,Expériences et connaissances requises Dans un...,NaN,Data,75,Paris,75,50.0,50.0,per hour,50.0
4427,pj_2be08b65a54741c4,Data Collector - Take Photos & Survey Parking ...,Inrix,Lyon (69),"13,50 € par heure",About Us : ParkMe licenses parking data for ca...,NaN,Data,Rhône,Lyon,69,13.5,13.5,per hour,13.5
4452,pj_364c49cd87d41ad9,"Dev back-end Python / Start-up "" Data driven"" ...",SC Talent,Paris (75),50 € par heure,Celery / React / Django / Python Backend Devel...,NaN,Data,75,Paris,75,50.0,50.0,per hour,50.0
4580,pj_6fcad6df3b66f9f3,Ingénieur DevOps - H/F,SOLUTEC,Paris 8e (75),39 € par heure,Oracle / Capistrano / Ansible / Docker / Jenki...,NaN,Développeur,75,Paris,75,39.0,39.0,per hour,39.0
4868,pj_f7e3c209ffdd7369,JURISTE SENIOR EN DATA PRIVACY H/F,ADECCO,Villeurbanne (69),50 € par heure,The Adecco Group est le leader mondial des sol...,NaN,Data,Rhône,Villeurbanne,69,50.0,50.0,per hour,50.0
4875,pj_fc87c600387c3e85,Developpeur Java Back-end,Gentis Recruitment SAS,Paris (75),50 € par heure,"Bonjour, Notre client est une startup, jeune ...",NaN,Développeur,75,Paris,75,50.0,50.0,per hour,50.0

## Quantiles salary min annually

In [22]:
df_annually.salary_min.describe()

count      675.000000
mean     40998.761481
std      10930.715767
min      20000.000000
25%      33000.000000
50%      40000.000000
75%      47500.000000
max      90000.000000
Name: salary_min, dtype: float64

## Quantiles salary max annually

In [23]:
df_annually.salary_max.describe()

count       675.000000
mean      49769.296296
std       13259.715155
min       20388.000000
25%       40000.000000
50%       50000.000000
75%       55000.000000
max      120000.000000
Name: salary_max, dtype: float64

## Quantiles salary mean annually

In [24]:
annually_quantiles=df_annually.salary_mean.describe()
monthly_quantiles=df_monthly.salary_mean.describe() 
weekly_quantiles=df_weekly.salary_mean.describe()
hour_quantiles=df_hour.salary_mean.describe()

# Création colonne class label par rapport aux quantiles salary mean

In [25]:
def classification_annually(x):
    if x <= annually_quantiles["25%"]:
        label = 0
    elif x > annually_quantiles["25%"] and x <= annually_quantiles["50%"]:
        label = 1
    elif x > annually_quantiles["50%"] and x <= annually_quantiles["75%"]:
        label = 2
    else:
        label = 3
        
    return label

df_annually["salary_label"] = df_annually.salary_mean.apply(classification_annually)

/Users/fabi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [26]:
#def classification_min(x):
   # if x <= 30000:
        #label = 0
    #elif x > 30000 and x <= 40000:
        #label = 1
    #elif x > 40000 and x <= 47750:
        #label = 2
    #else:
        #label = 3
        
    #return label

#df_salary["label_salary_min"] = df_salary.salary_min.apply(classification_min)

In [27]:
#df_salary.drop(columns = 'label_salary_mean', inplace=True)

In [28]:
df_annually.sample(10)

,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,city,cp,salary_min,salary_max,salary_type,salary_mean,salary_label
2159,p_7e9b60e398777877,DATA MANAGER SEQUENCAGE H/F,HOSPICES CIVILS DE LYON,Lyon (69),26 000 € par an,Le projet AURAGEN est un des deux projets rete...,07/09/2019,Data,Rhône,Lyon,69,26000.0,26000.0,annually,26000.0,0
4611,pj_817016fd795a26bd,Développeur Logiciel - H/F,MBP Digital,Nantes (44),28 000 € par an,Reactjs / Html / Php / Mysql / Jquery Frontend...,NaN,Développeur,Loire-Atlantique,Nantes,44,28000.0,28000.0,annually,28000.0,0
1291,p_49c0e878752ef08a,Développeur WinDev H/F,AXEMPLOI Recrutement,Nantes (44),30 000 € - 40 000 € par an,DEVELOPPEUR WINDEV H/F Vous interviendrez sur ...,17/09/2019,Développeur,Loire-Atlantique,Nantes,44,30000.0,40000.0,annually,35000.0,0
4709,pj_b0129ea913cb9659,ingénieur informatique Devops/Cloud (H/F),OVALO,Paris (75),45 000 € - 60 000 € par an,Le poste : Nous recherchons un Ingénieur Devop...,NaN,Développeur,75,Paris,75,45000.0,60000.0,annually,52500.0,3
195,p_09f8ad957b29d478,Développeur .Net H/F,effektiv,Lyon (69),38 000 € - 45 000 € par an,"Client Notre client, à mi-chemin entre la star...",07/09/2019,Développeur,Rhône,Lyon,69,38000.0,45000.0,annually,41500.0,1
2933,p_aebcdbafd8398f28,Technicien réseau Hotline Téléphonie Data (H/F),Manpower,Saint-Orens-de-Gameville (31),22 500 € - 24 000 € par an,L'entreprise Manpower TOULOUSE INFORMATIQUE re...,07/09/2019,Data,Haute-Garonne,Saint-Orens-de-Gameville,31,22500.0,24000.0,annually,23250.0,0
3530,p_d179e6455c960560,Développeurs mobile IOS & android indépendant ...,Sapiens,Nantes (44),32 000 € - 43 000 € par an,"NOTRE ENTREPRISE : Créé en 2003, SAPIENS est u...",17/09/2019,Développeur,Loire-Atlantique,Nantes,44,32000.0,43000.0,annually,37500.0,0
1583,p_5b8764b65acd1da8,Data Scientist H/F,CACIIS,Paris 15e (75),40 000 € - 55 000 € par an,"Depuis plus de 10 ans, CACIIS est un véritable...",07/09/2019,Data,75,Paris,75,40000.0,55000.0,annually,47500.0,2
2484,p_91f55b1a075d28e9,Data engineer AWS (H/F),Easy Partner,Paris (75),50 000 € - 55 000 € par an,### VOTRE PROFIL * Maîtrise de Scala * Esprit ...,07/09/2019,Data,75,Paris,75,50000.0,55000.0,annually,52500.0,3
1941,p_724cfbe357ad7b1f,Développement intégration SYSOPS/DEVOPS (F/H),MC2S,Paris 12e (75),40 000 € - 45 000 € par an,Poste concernant la prise en charge de l’inter...,08/11/2018,Développeur,75,Paris,75,40000.0,45000.0,annually,42500.0,1

# Création des df par tranches label

In [32]:
label_0 = df_salary[df_salary["salary_label"]==0]
label_1 = df_salary[df_salary["salary_label"]==1]
label_2 = df_salary[df_salary["salary_label"]==2]
label_3 = df_salary[df_salary["salary_label"]==3]

KeyError: 'salary_label'

In [68]:
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords

### Création de la fonction qui retourne les mots relevants sur la colonne title

In [69]:
def clean_title(title):
    title = word_tokenize(title)
    #desc = [word.lower() for word in desc if word.isalpha() and len(word)>2]
    title = [word.lower() for word in title if (word.isalpha() or word.isdigit()) and len(word)>2]
    title = [word for word in title if word not in stop_words]
    return title

### On applique la fonction sur chaque df

In [70]:
stop_words = stopwords.words('french')
tag_title_0 = label_0["Title"].apply(clean_title)
tag_title_1 = label_1["Title"].apply(clean_title)    
tag_title_2 = label_2["Title"].apply(clean_title)
tag_title_3 = label_3["Title"].apply(clean_title)

NameError: name 'label_0' is not defined

In [71]:
from collections import Counter
result_0 = tag_title_0.apply(Counter).sum().items() # créer un dictionnaire avec la frequence de chaque mot de tag_title1
result_0 = sorted(result_0, key=lambda kv : kv[1], reverse=True) #on va ordonner par la valeur du dictionnaire en ordre descendant

result_1 = tag_title_1.apply(Counter).sum().items()
result_1 = sorted(result_1, key=lambda kv : kv[1], reverse=True)

result_2 = tag_title_2.apply(Counter).sum().items()
result_2 = sorted(result_2, key=lambda kv : kv[1], reverse=True)

result_3 = tag_title_3.apply(Counter).sum().items()
result_3 = sorted(result_3, key=lambda kv : kv[1], reverse=True)

NameError: name 'tag_title_0' is not defined

### Je crée le dictionnaire qui associe la frequence de chaque mot sur chaque df

In [ ]:
result_series_0 = {k: v for k,v in result_0}
result_series_1 = {k: v for k,v in result_1}
result_series_2 = {k: v for k,v in result_2}
result_series_3 = {k: v for k,v in result_3}

In [ ]:
result_series_0

# Visualisation du wordcloud title de chaque df

In [ ]:
from wordcloud import WordCloud

In [ ]:
wordcloud_0 = WordCloud().generate_from_frequencies(result_series_0)
wordcloud_1 = WordCloud().generate_from_frequencies(result_series_1)
wordcloud_2 = WordCloud().generate_from_frequencies(result_series_2)
wordcloud_3 = WordCloud().generate_from_frequencies(result_series_3)

In [ ]:
import matplotlib.pyplot as plt

figure = plt.figure(figsize = (25, 30))

plt.figure(1)
plt.subplot(4, 1, 1)
plt.imshow(wordcloud_0, interpolation="bilinear")
plt.axis("off")

plt.subplot(4, 1, 2)
plt.imshow(wordcloud_1, interpolation="bilinear")
plt.axis("off")

plt.subplot(4, 1, 3)
plt.imshow(wordcloud_2, interpolation="bilinear")
plt.axis("off")

plt.subplot(4, 1, 4)
plt.imshow(wordcloud_3, interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
df_salary[df_salary['Title'].str.contains('Freelance')]

### Création de la fonction qui retourne les mots relevants sur la colonne desc

In [72]:
def clean_summary(desc):
    desc = word_tokenize(desc)
    #desc = [word.lower() for word in desc if word.isalpha() and len(word)>2]
    desc = [word.lower() for word in desc if (word.isalpha() or word.isdigit()) and len(word)>2]
    desc = [word for word in desc if (word not in stop_words_en) and (word not in stop_words_fr)]
    return desc

In [73]:
#stopwords
nltk.download('stopwords')
stop_words_en = stopwords.words('english')
stop_words_fr = stopwords.words('french')

[nltk_data] Downloading package stopwords to /Users/fabi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### on applique la fonction sur chaque df salary

In [74]:
tag_desc_0 = label_0["Description"].apply(clean_summary)
tag_desc_1 = label_1["Description"].apply(clean_summary)    
tag_desc_2 = label_2["Description"].apply(clean_summary)
tag_desc_3 = label_3["Description"].apply(clean_summary)

NameError: name 'label_0' is not defined

In [ ]:
tag_desc_3

# création des dictionnaires qui à chaque mot associe sa frequence

In [75]:
desc_0 = tag_desc_0.apply(Counter).sum().items()
desc_0 = sorted(desc_0, key=lambda kv : kv[1], reverse=True) 
dict_desc_0 = {k: v for k,v in desc_0}


desc_1 = tag_desc_1.apply(Counter).sum().items()
desc_1 = sorted(desc_1, key=lambda kv : kv[1], reverse=True) 
dict_desc_1 = {k: v for k,v in desc_1}

desc_2 = tag_desc_2.apply(Counter).sum().items()
desc_2 = sorted(desc_2, key=lambda kv : kv[1], reverse=True) 
dict_desc_2 = {k: v for k,v in desc_2}

desc_3 = tag_desc_3.apply(Counter).sum().items()
desc_3 = sorted(desc_3, key=lambda kv : kv[1], reverse=True) 
dict_desc_3 = {k: v for k,v in desc_3}

NameError: name 'tag_desc_0' is not defined

# Visualisation du wordcloud job_desc pour chaque df

In [ ]:
wordcloud5 = WordCloud().generate_from_frequencies(dict_desc_0)
wordcloud6 = WordCloud().generate_from_frequencies(dict_desc_1)
wordcloud7 = WordCloud().generate_from_frequencies(dict_desc_2)
wordcloud8 = WordCloud().generate_from_frequencies(dict_desc_3)

figure = plt.figure(figsize = (25, 30))
plt.figure(1)
plt.subplot(4, 1, 1)
plt.imshow(wordcloud5, interpolation="bilinear")
plt.axis("off")

plt.subplot(4, 1, 2)
plt.imshow(wordcloud6, interpolation="bilinear")
plt.axis("off")

plt.subplot(4, 1, 3)
plt.imshow(wordcloud7, interpolation="bilinear")
plt.axis("off")

plt.subplot(4, 1, 4)
plt.imshow(wordcloud8, interpolation="bilinear")
plt.axis("off")
plt.show()

## prediction salaire avec job desc brut seulement

In [34]:
from sklearn.feature_extraction.text import CountVectorizer

In [76]:
X_desc = df_annually.Description.str.replace("\n"," ").str.replace(r'\b\d\d\W?\d\d\d\b','').str.replace(r'\+',' plus ')
y = df_annually.salary_label

In [77]:
stop_words_en_fr = stop_words_en + stop_words_fr + ["h","f", "mois", "ci", "e"]

In [78]:
cv = CountVectorizer(token_pattern = r'\b\w+\b',stop_words=stop_words_en_fr,  ngram_range=(1, 4), min_df = 2)
cv.fit(X_desc)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=2,
        ngram_range=(1, 4), preprocessor=None,
        stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs',...', 'aient', 'eusse', 'eusses', 'eût', 'eussions', 'eussiez', 'eussent', 'h', 'f', 'mois', 'ci', 'e'],
        strip_accents=None, token_pattern='\\b\\w+\\b', tokenizer=None,
        vocabulary=None)

In [41]:
len(cv.get_feature_names())

57070

In [42]:
X_desc_trans = cv.transform(X_desc)
#X_desc_trans = pd.DataFrame(cv.transform(X_desc).todense(), columns=cv.get_feature_names())
#X_desc_trans

In [43]:
import numpy as np
#np.asmatrix(X_desc_trans)

In [44]:
#word_counts = X_desc_trans.sum(axis=0)
#word_counts.sort_values(ascending = False).head(20)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier


X_train, X_test, y_train, y_test = train_test_split(X_desc_trans, y, test_size=0.3, random_state=0, stratify=y)


rfc = RandomForestClassifier(300, random_state=0)
rfc.fit(X_train, y_train)

rfc.score(X_test,y_test)

0.5714285714285714

In [46]:
feature_importances = pd.DataFrame(rfc.feature_importances_,
                                   index = cv.get_feature_names()).reset_index()
feature_importances.columns = ['feature', 'importance']

feature_importances.sort_values('importance', ascending=False).head(40)

                    feature  importance
18595           développeur    0.003421
14443                  data    0.002670
42088                python    0.002490
26006          informatique    0.002305
6710                    aws    0.002216
35455                 paris    0.002095
15349                devops    0.002076
47432           similaire 1    0.001864
56232               équipes    0.001566
53236                  type    0.001512
29148                  lead    0.001407
38998        poste missions    0.001403
26339        infrastructure    0.001391
10507                 cloud    0.001367
55729                équipe    0.001335
19397              engineer    0.001334
13652               courant    0.001263
17897         développement    0.001252
183              1 souhaité    0.001182
40970                projet    0.001181
37808                  plus    0.001178
35831            participer    0.001147
40219            production    0.001076
37578            plateforme    0.001072
45856             salaire 2    0.001070
44995              réaliser    0.001063
47435  similaire 1 souhaité    0.001060
9016          cdi salaire 2    0.001051
1229                      5    0.001041
140                       1    0.001028
4047        anglais courant    0.000998
40571                profil    0.000992
37841                plus 2    0.000980
48438              souhaité    0.000972
35010                outils    0.000960
15078    description emploi    0.000953
51861                 tests    0.000943
48601                 spark    0.000942
41140               projets    0.000938
23670              garantir    0.000917

In [47]:
#list(X_desc[X_desc.str.contains("10 ans")])

# Prédiction salaire avec Title seulement

In [79]:
X_title = df_annually.Title.str.replace("\n"," ").str.replace("/"," ")

In [49]:
#except number and alpha numerical caracter, ngram_range --> ici : regroupement de 1à2 mots
cv2 = CountVectorizer( token_pattern=r'\b[^\d\W]+\b', stop_words=stop_words_en_fr, ngram_range=(1, 2))
cv2.fit(X_title)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 2), preprocessor=None,
        stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs',...', 'aient', 'eusse', 'eusses', 'eût', 'eussions', 'eussiez', 'eussent', 'h', 'f', 'mois', 'ci', 'e'],
        strip_accents=None, token_pattern='\\b[^\\d\\W]+\\b',
        tokenizer=None, vocabulary=None)

In [80]:
print(stop_words)

['au', 'aux', 'avec', 'ce', 'ces', 'dans', 'de', 'des', 'du', 'elle', 'en', 'et', 'eux', 'il', 'ils', 'je', 'la', 'le', 'les', 'leur', 'lui', 'ma', 'mais', 'me', 'même', 'mes', 'moi', 'mon', 'ne', 'nos', 'notre', 'nous', 'on', 'ou', 'par', 'pas', 'pour', 'qu', 'que', 'qui', 'sa', 'se', 'ses', 'son', 'sur', 'ta', 'te', 'tes', 'toi', 'ton', 'tu', 'un', 'une', 'vos', 'votre', 'vous', 'c', 'd', 'j', 'l', 'à', 'm', 'n', 's', 't', 'y', 'été', 'étée', 'étées', 'étés', 'étant', 'étante', 'étants', 'étantes', 'suis', 'es', 'est', 'sommes', 'êtes', 'sont', 'serai', 'seras', 'sera', 'serons', 'serez', 'seront', 'serais', 'serait', 'serions', 'seriez', 'seraient', 'étais', 'était', 'étions', 'étiez', 'étaient', 'fus', 'fut', 'fûmes', 'fûtes', 'furent', 'sois', 'soit', 'soyons', 'soyez', 'soient', 'fusse', 'fusses', 'fût', 'fussions', 'fussiez', 'fussent', 'ayant', 'ayante', 'ayantes', 'ayants', 'eu', 'eue', 'eues', 'eus', 'ai', 'as', 'avons', 'avez', 'ont', 'aurai', 'auras', 'aura', 'aurons', 'aurez', 'auront', 'aurais', 'aurait', 'aurions', 'auriez', 'auraient', 'avais', 'avait', 'avions', 'aviez', 'avaient', 'eut', 'eûmes', 'eûtes', 'eurent', 'aie', 'aies', 'ait', 'ayons', 'ayez', 'aient', 'eusse', 'eusses', 'eût', 'eussions', 'eussiez', 'eussent']

In [81]:
print(stop_words_en_fr)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", 'au', 'aux', 'avec', 'ce', 'ces', 'dans', 'de', 'des', 'du', 'elle', 'en', 'et', 'eux', 'il', 'ils', 'je', 'la', 'le', 'les', 'leur', 'lui', 'ma', 'mais', 'me', 'même', 'mes', 'moi', 'mon', 'ne', 'nos', 'notre', 'nous', 'on', 'ou', 'par', 'pas', 'pour', 'qu', 'que', 'qui', 'sa', 'se', 'ses', 'son', 'sur', 'ta', 'te', 'tes', 'toi', 'ton', 'tu', 'un', 'une', 'vos', 'votre', 'vous', 'c', 'd', 'j', 'l', 'à', 'm', 'n', 's', 't', 'y', 'été', 'étée', 'étées', 'étés', 'étant', 'étante', 'étants', 'étantes', 'suis', 'es', 'est', 'sommes', 'êtes', 'sont', 'serai', 'seras', 'sera', 'serons', 'serez', 'seront', 'serais', 'serait', 'serions', 'seriez', 'seraient', 'étais', 'était', 'étions', 'étiez', 'étaient', 'fus', 'fut', 'fûmes', 'fûtes', 'furent', 'sois', 'soit', 'soyons', 'soyez', 'soient', 'fusse', 'fusses', 'fût', 'fussions', 'fussiez', 'fussent', 'ayant', 'ayante', 'ayantes', 'ayants', 'eu', 'eue', 'eues', 'eus', 'ai', 'as', 'avons', 'avez', 'ont', 'aurai', 'auras', 'aura', 'aurons', 'aurez', 'auront', 'aurais', 'aurait', 'aurions', 'auriez', 'auraient', 'avais', 'avait', 'avions', 'aviez', 'avaient', 'eut', 'eûmes', 'eûtes', 'eurent', 'aie', 'aies', 'ait', 'ayons', 'ayez', 'aient', 'eusse', 'eusses', 'eût', 'eussions', 'eussiez', 'eussent', 'h', 'f', 'mois', 'ci', 'e']

In [50]:
cv2.get_feature_names()

['accepté',
 'access',
 'access cdi',
 'acteur',
 'acteur leader',
 'adelia',
 'administrateur',
 'administrateur système',
 'administrateur systèmes',
 'administrateur sytèmes',
 'administration',
 'administration système',
 'adminsys',
 'adminsys linux',
 'affaires',
 'affaires expert',
 'affaires ia',
 'agence',
 'agence web',
 'agile',
 'agile nantes',
 'agile paris',
 'agile vue',
 'ambassadeur',
 'ambassadeur formateur',
 'analyst',
 'analyst administration',
 'analyst analyste',
 'analyst bi',
 'analyst cdi',
 'analyst chef',
 'analyst confirmé',
 'analyst crm',
 'analyst entrepôt',
 'analyst foodtech',
 'analyst junior',
 'analyst marketplace',
 'analyst mobile',
 'analyste',
 'analyste bi',
 'analyste cobol',
 'analyste developpeur',
 'analyste développeur',
 'analyste informatique',
 'analyste éditeur',
 'analytics',
 'analytics manager',
 'analytique',
 'android',
 'android indépendant',
 'android ios',
 'android web',
 'angular',
 'angular confirme',
 'angular editeur',
 'angular node',
 'angular paris',
 'angular secteur',
 'ansible',
 'ap',
 'ap hp',
 'api',
 'api elasticsearch',
 'app',
 'app live',
 'applicatif',
 'applicatif qa',
 'applicatifs',
 'applicatifs devops',
 'application',
 'application devops',
 'applications',
 'applications devops',
 'applications junior',
 'applications marketing',
 'applications mobiles',
 'applications réalité',
 'applications web',
 'appliquées',
 'appétence',
 'appétence devops',
 'architect',
 'architect mobilité',
 'architecte',
 'architecte big',
 'architecte data',
 'architecte devops',
 'architecte données',
 'architecte développeur',
 'architecte logiciel',
 'architecture',
 'architecture micro',
 'artificielle',
 'asp',
 'asp asp',
 'asp net',
 'assistant',
 'assistant data',
 'atlassian',
 'audit',
 'audit tech',
 'automobile',
 'avant',
 'avant vente',
 'aws',
 'aws administrateur',
 'aws architecture',
 'aws client',
 'aws docker',
 'aws société',
 'aws vers',
 'azure',
 'back',
 'back end',
 'backend',
 'backend confirmé',
 'backend développeur',
 'backend nodejs',
 'backend php',
 'backend python',
 'bancaire',
 'banque',
 'base',
 'base données',
 'base graphes',
 'bdd',
 'bdd backend',
 'bi',
 'bi azure',
 'bi base',
 'bi data',
 'bi junior',
 'bi manager',
 'bi microsoft',
 'bi senior',
 'big',
 'big data',
 'bigdata',
 'biofortis',
 'biofortis cdd',
 'biofortis cdi',
 'bordeaux',
 'btob',
 'btob data',
 'business',
 'business developer',
 'casquette',
 'casquette devops',
 'cdd',
 'cdd st',
 'cdi',
 'cdi client',
 'cdi devops',
 'cdi développeur',
 'cdi editeur',
 'cdi saint',
 'center',
 'centre',
 'centre ville',
 'chef',
 'chef projet',
 'city',
 'client',
 'client final',
 'cloud',
 'cloud aws',
 'cloud azure',
 'cloud data',
 'cloud devops',
 'cloud linux',
 'cloud platform',
 'cobol',
 'collaborative',
 'commerce',
 'comptes',
 'comptes big',
 'concepteur',
 'concepteur back',
 'concepteur developpeur',
 'concepteur développeur',
 'concepteur java',
 'concepteur symfony',
 'confirme',
 'confirme net',
 'confirmé',
 'confirmé editeur',
 'confirmé entreprise',
 'confirmé projet',
 'consultant',
 'consultant data',
 'consultant devops',
 'consultant développeur',
 'consultant informatique',
 'consultant salesforce',
 'consultante',
 'consultante consultant',
 'controller',
 'contrôleur',
 'contrôleur gestion',
 'core',
 'core editeur',
 'courant',
 'courant devops',
 'crm',
 'croissance',
 'cto',
 'cto net',
 'data',
 'data analyst',
 'data analyste',
 'data analytics',
 'data analytique',
 'data ap',
 'data architect',
 'data architecte',
 'data bi',
 'data center',
 'data consultant',
 'data controller',
 'data data',
 'data django',
 'data développeur',
 'data engineer',
 'data engineering',
 'data gouvernance',
 'data ingénieur',
 'data intelligence',
 'data iot',
 'data junior',
 'data lead',
 'data machine',
 'data manager',
 'data mining',
 'data mobilité',
 'data ops',
 'data oracle',
 'data product',
 'data quality',
 'data scala',
 'data sciences',
 'data scientist',
 'data senior',
 'data sientist',
 'data société',
 'data spark',
 'data sport',
 'data tech',
 'data technique',
 'data text',
 'data transformation',
 'data très',
 'data visualisation',
 'datahub',
 'delphi',
 'delphi sql',
 'designer',
 'developer',
 'developer btob',
 'developer data',
 'developer grands',
 'developpeur',
 'developpeur analyste',
 'developpeur android',
 'developpeur angular',
 'developpeur back',
 'developpeur big',
 'developpeur confirme',
 'developpeur delphi',
 'developpeur full',
 'developpeur go',
 'developpeur informatique',
 'developpeur java',
 'developpeur junior',
 'developpeur logiciel',
 'developpeur mobile',
 'developpeur net',
 'developpeur php',
 'developpeur react',
 'developpeur senior',
 'developpeur sharepoint',
 'developpeur sql',
 'developpeur symfony',
 'developpeur visual',
 'developpeur web',
 'developpeurs',
 'developpeurs python',
 'devops',
 'devops acteur',
 'devops administrateur',
 'devops ansible',
 'devops aws',
 'devops azure',
 'devops big',
 'devops cdi',
 'devops cloud',
 'devops commerce',
 'devops confirmé',
 'devops data',
 'devops datahub',
 'devops editeur',
 'devops engineer',
 'devops etoile',
 'devops expert',
 'devops expérimenté',
 'devops futur',
 'devops google',
 'devops infra',
 'devops infrastructure',
 'devops intégrateurs',
 'devops lyon',
 'devops migration',
 'devops nantes',
 'devops openstack',
 'devops paris',
 'devops r',
 'devops saas',
 'devops senior',
 'devops solution',
 'devops solutions',
 'devops sre',
 'devops systèmes',
 'devops sécurité',
 'devops sénior',
 'digital',
 'digital data',
 'dipl',
 'dipl logiciel',
 'directeur',
 'directeur projet',
 'django',
 'django python',
 'dmp',
 'dmp bigdata',
 'docker',
 'docker éditeur',
 'docteur',
 'docteur data',
 'dominante',
 'dominante nodejs',
 'données',
 'données data',
 'données informatiques',
 'données ministère',
 'données santé',
 'données sql',
 'drupal',
 'drupal php',
 'dsi',
 'débutant',
 'débutant accepté',
 'défense',
 'défense tous',
 'déploiement',
 'déploiement applicatifs',
 'développement',
 'développement big',
 'développement intégration',
 'développement python',
 'développeur',
 'développeur adelia',
 'développeur administrateur',
 'développeur android',
 'développeur angular',
 'développeur application',
 'développeur applications',
 'développeur asp',
 'développeur back',
 'développeur backend',
 'développeur base',
 'développeur bdd',
 'développeur bi',
 'développeur big',
 'développeur chef',
 'développeur concepteur',
 'développeur data',
 'développeur delphi',
 'développeur devops',
 'développeur drupal',
 'développeur développeuse',
 'développeur environnement',
 'développeur euse',
 'développeur expert',
 'développeur filemaker',
 'développeur front',
 'développeur frontend',
 'développeur full',
 'développeur fullstack',
 'développeur go',
 'développeur informatique',
 'développeur intégration',
 'développeur java',
 'développeur javascript',
 'développeur junior',
 'développeur langage',
 'développeur laravel',
 'développeur logiciel',
 'développeur magento',
 'développeur mathématiques',
 'développeur mobile',
 'développeur net',
 'développeur objet',
 'développeur open',
 'développeur php',
 'développeur produit',
 'développeur python',
 'développeur qt',
 'développeur r',
 'développeur react',
 'développeur responsable',
 'développeur ruby',
 'développeur réact',
 'développeur réf',
 'développeur sales',
 'développeur senior',
 'développeur sharepoint',
 'développeur software',
 'développeur splunk',
 'développeur sql',
 'développeur support',
 'développeur swift',
 'développeur systèmes',
 'développeur sénior',
 'développeur uwp',
 'développeur vb',
 'développeur vba',
 'développeur web',
 'développeur windev',
 'développeur xamarin',
 'développeurs',
 'développeurs bigdata',
 'développeurs front',
 'développeurs full',
 'développeurs java',
 'développeurs mobile',
 'développeurs net',
 'développeurs php',
 'développeurs python',
 'développeuse',
 'développeuse angular',
 'développeuse développeur',
 'développeuse fullstack',
 'développeuse javascript',
 'dévops',
 'dévops python',
 'editeur',
 'editeur logiciel',
 'editeur logiciels',
 'editeur multimédia',
 'editeur médical',
 'editeur production',
 'education',
 'elasticsearch',
 'elasticsearch casquette',
 'embarque',
 'embarque spatial',
 'eme',
 'end',
 'end agile',
 'end cdi',
 'end editeur',
 'end front',
 'end javascript',
 'end js',
 'end laravel',
 'end php',
 'end react',
 'end senior',
 'end symfony',
 'end ui',
 'end web',
 'energie',
 'engineer',
 'engineer aws',
 'engineer cdi',
 'engineer cloud',
 'engineer confirme',
 'engineer devops',
 'engineer education',
 'engineer freelance',
 'engineer fullstack',
 'engineer go',
 'engineer java',
 'engineer manager',
 'engineer marketplace',
 'engineer months',
 'engineer node',
 'engineer plateforme',
 'engineer price',
 'engineer product',
 'engineer pureplayer',
 'engineer sunny',
 'engineer sénior',
 'engineering',
 'engineering plateforme',
 'entreprise',
 'entreprise transport',
 'entrepôt',
 'entrepôt données',
 'environnement',
 'environnement agile',
 'environnement bancaire',
 'environnement big',
 'environnement industriel',
 'esprit',
 'esprit start',
 'etoile',
 'etoile montante',
 'etude',
 'etude développement',
 'euse',
 'euse back',
 'euse big',
 'euse devops',
 'euse web',
 'excel',
 'excel cdi',
 'expert',
 'expert data',
 'expert déploiement',
 'expert net',
 'expérimenté',
 'expérimenté sig',
 'fashion',
 'fashion luxury',
 'filemaker',
 'final',
 'final cdi',
 'final développeur',
 'final software',
 'financial',
 'financial data',
 'fintech',
 'fonctionnel',
 'fonctionnel données',
 'fonctionnel projet',
 'fond',
 'foodtech',
 'force',
 'formateur',
 'formateur data',
 'fort',
 'fort trafic',
 'forte',
 'forte croissance',
 'france',
 'francheville',
 'français',
 'freelance',
 'french',
 'french tech',
 'front',
 'front angular',
 'front drupal',
 'front end',
 'front web',
 'frontend',
 'frontend javascript',
 'frontend senior',
 'full',
 'full stack',
 'fullstack',
 'fullstack asp',
 'fullstack cdi',
 'fullstack data',
 'fullstack editeur',
 'fullstack expérimenté',
 'fullstack java',
 'fullstack javascript',
 'fullstack js',
 'fullstack php',
 'fullstack python',
 'fullstack react',
 'fullstack senior',
 'fullstack spatial',
 'fullstack symfony',
 'fullstack tendance',
 'futur',
 'futur dsi',
 'gaming',
 'gaming cdi',
 'gcp',
 'gestion',
 'gestion data',
 'go',
 'go editeur',
 'go lyon',
 'go python',
 'google',
 'google cloud',
 'gouvernance',
 'gouvernance mdm',
 'grand',
 'grand public',
 'grands',
 'grands comptes',
 'graphes',
 'graphes big',
 'grosse',
 'grosse levée',
 'géomaticien',
 'hadoop',
 'hadoop big',
 'herblain',
 'high',
 'high tech',
 'hololens',
 'hololens paris',
 'hotline',
 'hotline téléphonie',
 'hp',
 'hybride',
 'hybride ionic',
 'ia',
 'ia big',
 'industriel',
 'industrielle',
 'industrielle net',
 'industriels',
 'industriels lyon',
 'indépendant',
 'infor',
 'information',
 'informatique',
 'informatique access',
 'informatique back',
 'informatique bi',
 'informatique biofortis',
 'informatique cdi',
 'informatique devops',
 'informatique foodtech',
 'informatique full',
 'informatique industrielle',
 'informatique infor',
 'informatique java',
 'informatique junior',
 'informatique magento',
 'informatique net',
 'informatique orienté',
 'informatique php',
 'informatique programmeur',
 'informatique react',
 'informatique technicien',
 'informatique technique',
 'informatique testeur',
 'informatique tout',
 'informatique vba',
 'informatique windev',
 'informatiques',
 'informatiques big',
 'infra',
 'infrastructure',
 'infrastructure cloud',
 'ing',
 'ing devops',
 'ingenieur',
 'ingenieur affaires',
 'ingenieur devops',
 'ingénieur',
 'ingénieur affaires',
 'ingénieur avant',
 'ingénieur big',
 'ingénieur cloud',
 'ingénieur data',
 'ingénieur devops',
 'ingénieur développeur',
 'ingénieur etude',
 'ingénieur informatique',
 'ingénieur linux',
 'ingénieur middleware',
 'ingénieur production',
 'ingénieur python',
 'ingénieur système',
 'ingénieurs',
 'ingénieurs devops',
 'ingénieurs systèmes',
 'innovation',
 'innovation atlassian',
 'integrateur',
 'integrateur applications',
 'intelligence',
 'intelligence artificielle',
 'international',
 'interopérabilité',
 'intégrateur',
 'intégrateur application',
 'intégrateur applications',
 'intégrateur devops',
 'intégrateur innovation',
 'intégrateurs',
 'intégration',
 'intégration données',
 'intégration sysops',
 'ionic',
 'ios',
 'ios android',
 'ios swift',
 'iot',
 'jahia',
 'java',
 'java angular',
 'java back',
 'java backend',
 'java client',
 'java editeur',
 'java expérimenté',
 'java full',
 'java fullstack',
 'java high',
 'java intégrateur',
 'java jahia',
 'java jee',
 'java js',
 'java junior',
 'java lyon',
 'java marketplace',
 'java python',
 'java scala',
 'java scientifique',
 'java script',
 'java senior',
 'java spring',
 'java sql',
 'java startup',
 'java vuejs',
 'java web',
 'javascript',
 'javascript full',
 'javascript react',
 'javascript senior',
 'javascript software',
 'jee',
 'jee secteur',
 'jquery',
 'jquery commerce',
 'js',
 'js big',
 'js devops',
 'js environnement',
 'js java',
 'js junior',
 'js logiciel',
 'js node',
 'js plateforme',
 'js react',
 'junior',
 'junior confirmé',
 'junior data',
 'junior dipl',
 'junior editeur',
 'junior full',
 'junior fullstack',
 'junior nantes',
 'langage',
 'laravel',
 'laravel api',
 'lead',
 'lead architect',
 'lead back',
 'lead data',
 'lead developer',
 'lead developpeur',
 'lead devops',
 'lead développeur',
 'lead ingénieur',
 'lead technique',
 'leader',
 'leader commerce',
 'leader français',
 'leader software',
 'learning',
 'learning big',
 'levée',
 'levée fond',
 'linux',
 'linux courant',
 'linux devops',
 'linux dévops',
 'live',
 'live streaming',
 'logiciel',
 'logiciel cloud',
 'logiciel embarque',
 'logiciel informatique',
 'logiciel international',
 'logiciel nantes',
 'logiciel opensource',
 'logiciel retail',
 'logiciels',
 'logiciels audit',
 'logiciels industriels',
 'logiciels lyon',
 'luxury',
 'lyon',
 'lyon cdi',
 'machine',
 'machine learning',
 'magento',
 'magento francheville',
 'manager',
 'manager cloud',
 'manager data',
 'manager devops',
 'manager développeur',
 'manager informatique',
 'manager orienté',
 'manager sequencage',
 'marketing',
 'marketing digital',
 'marketplace',
 'marketplace référence',
 'marketplace référente',
 'markplace',
 'markplace référente',
 'mathématiques',
 'mathématiques appliquées',
 'max',
 'max msp',
 'mdm',
 'mdm fashion',
 'mer',
 'micro',
 'micro services',
 'microsoft',
 'microsoft power',
 'middleware',
 'middleware orienté',
 'migration',
 'migration aws',
 'mining',
 'mining editeur',
 'ministère',
 'ministère outre',
 'mobile',
 'mobile android',
 'mobile cdi',
 'mobile gaming',
 'mobile hybride',
 'mobile ios',
 'mobile react',
 'mobile senior',
 'mobiles',
 'mobilité',
 'mobilité urbaine',
 'montante',
 'montante french',
 'months',
 'msp',
 'multimédia',
 'mvc',
 'mvc jquery',
 'mysql',
 'médical',
 'médical lyon',
 'nantes',
 'nantes cdi',
 'native',
 'net',
 'net angular',
 'net applications',
 'net bordeaux',
 'net cdi',
 'net client',
 'net confirmé',
 'net core',
 'net devops',
 'net full',
 'net fullstack',
 'net javascript',
 'net junior',
 'net mvc',
 'net passage',
 'niveaux',
 'niveaux spatial',
 'nlp',
 'node',
 'node js',
 'nodejs',
 'nodejs client',
 'nodejs typescript',
 'obiee',
 'objet',
 'objet lyon',
 'open',
 'open source',
 'opensource',
 'opensource devops',
 'openstack',
 'openstack ansible',
 'ops',
 'ops engineer',
 'optimization',
 'oracle',
 'oracle pl',
 'orienté',
 'orienté data',
 'orienté devops',
 'ouest',
 'outil',
 'outil paiement',
 'outils',
 'outils devops',
 'outre',
 'outre mer',
 'paiement',
 'paris',
 'paris eme',
 'paris ouest',
 'passage',
 'passage vers',
 'pc',
 'pc soft',
 'php',
 'php agence',
 'php angular',
 'php backend',
 'php cdi',
 'php confirmé',
 'php front',
 'php intégrateur',
 'php javascript',
 'php junior',
 'php laravel',
 'php lyon',
 'php magento',
 'php mysql',
 'php paris',
 'php senior',
 'php symfony',
 'pl',
 'pl sql',
 'plateforme',
 'plateforme big',
 'plateforme grand',
 'plateforme leader',
 'plateforme recrutement',
 'platform',
 'platform app',
 'power',
 'power bi',
 'practice',
 'practice manager',
 'price',
 'price optimization',
 'product',
 'product engineer',
 'product manager',
 'production',
 'production devops',
 'production informatique',
 'production visuelle',
 'produit',
 'produit java',
 'programmeur',
 'programmeur max',
 'projet',
 'projet bi',
 'projet data',
 'projet développeur',
 'projet energie',
 'projet ia',
 'projet informatique',
 'projet net',
 'projet sas',
 'projet technico',
 'projet web',
 'projeteur',
 'projeteur data',
 'public',
 'public fort',
 'pureplayer',
 'pureplayer français',
 'python',
 'python big',
 'python devops',
 'python java',
 'python senior',
 'python startup',
 'python tryton',
 'qa',
 'qa software',
 'qt',
 'quality',
 'quality analyst',
 'quality junior',
 'r',
 'r engineer',
 'r java',
 'ra',
 'ra hololens',
 'react',
 'react bordeaux',
 'react js',
 'react native',
 'react node',
 'react redux',
 'recrutement',
 'redux',
 'redux confirme',
 'responsable',
 'responsable bi',
 ...]

In [51]:
X_title_trans = cv2.transform(X_title)
#X_title_trans = pd.DataFrame(cv2.transform(X_title).todense(), columns=cv2.get_feature_names())
#X_title_trans

In [52]:
#word_counts2 = X_title_trans.sum(axis=0)
#word_counts2.sort_values(ascending = False).head(30)

In [53]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_title_trans, y, test_size=0.3, random_state=10, stratify=y)


rfc = RandomForestClassifier(50, random_state=0)
rfc.fit(X_train2, y_train2)

rfc.score(X_test2,y_test2)

0.4876847290640394

In [54]:
feature_importances = pd.DataFrame(rfc.feature_importances_,
                                   index = cv2.get_feature_names()).reset_index()
feature_importances.columns = ['feature', 'importance']

feature_importances.sort_values('importance', ascending=False).head(20)

                feature  importance
358         développeur    0.023966
207                data    0.016159
755                lead    0.014799
286              devops    0.011285
1059             senior    0.011002
471            engineer    0.010785
657           ingénieur    0.009973
622        informatique    0.009874
698                java    0.008786
798             manager    0.008729
856                 net    0.008281
390    développeur java    0.007890
222       data engineer    0.007799
560           fullstack    0.007703
383   développeur front    0.007528
911                 php    0.006755
260         developpeur    0.006334
402     développeur php    0.006298
725          javascript    0.005916
184            confirmé    0.005482

# Prédiction salaire avec ville

In [55]:
df_annually.city.unique()

array(['Toulouse ', 'Bordeaux ', 'Paris', 'Lyon', 'Corbas ', 'Nantes ',
       'Pessac ', 'Limonest ', 'Portet-sur-Garonne ', 'Blagnac ',
       'Talence ', 'Villeneuve-lès-Bouloc ', 'Mérignac ', 'Marennes ',
       'Rillieux-la-Pape ', 'Canéjan ', 'Beauzelle ',
       "Saint-Didier-au-Mont-d'Or ", 'Villeurbanne ', 'Lissieu ',
       'Gradignan ', 'Treillières ', 'Loire-Atlantique', 'Limas ',
       'Rhône', 'Labège ', 'Saint-Pierre-de-Chandieu ', 'Saint-Nazaire ',
       'Ancenis ', 'Vénissieux ', 'Chassieu ', 'Dardilly ',
       'Saint-Orens-de-Gameville ', 'Bruges ', 'Brignais ',
       'Saint-Herblain ', 'Châteaubriant ', 'Francheville ', 'Bron ',
       'Carquefou ', 'Toussieu ', 'Charbonnières-les-Bains ',
       'Saint-Médard-en-Jalles ', 'Le Haillan ', 'Castanet-Tolosan ',
       "L'Union ", 'Tassin-la-Demi-Lune ', 'Écully '], dtype=object)

In [56]:
city_d = pd.get_dummies(df_annually.city)
X_city = city_d

X_train, X_test, y_train, y_test = train_test_split(X_city, y, test_size=0.3, random_state=0, stratify=y)

In [57]:
rfc = RandomForestClassifier(300, random_state=0)
rfc.fit(X_train, y_train)

rfc.score(X_test,y_test)

0.46798029556650245

In [58]:
X_city.columns

Index(['Ancenis ', 'Beauzelle ', 'Blagnac ', 'Bordeaux ', 'Brignais ', 'Bron ',
       'Bruges ', 'Canéjan ', 'Carquefou ', 'Castanet-Tolosan ',
       'Charbonnières-les-Bains ', 'Chassieu ', 'Châteaubriant ', 'Corbas ',
       'Dardilly ', 'Francheville ', 'Gradignan ', 'L'Union ', 'Labège ',
       'Le Haillan ', 'Limas ', 'Limonest ', 'Lissieu ', 'Loire-Atlantique',
       'Lyon', 'Marennes ', 'Mérignac ', 'Nantes ', 'Paris', 'Pessac ',
       'Portet-sur-Garonne ', 'Rhône', 'Rillieux-la-Pape ',
       'Saint-Didier-au-Mont-d'Or ', 'Saint-Herblain ',
       'Saint-Médard-en-Jalles ', 'Saint-Nazaire ',
       'Saint-Orens-de-Gameville ', 'Saint-Pierre-de-Chandieu ', 'Talence ',
       'Tassin-la-Demi-Lune ', 'Toulouse ', 'Toussieu ', 'Treillières ',
       'Villeneuve-lès-Bouloc ', 'Villeurbanne ', 'Vénissieux ', 'Écully '],
      dtype='object')

In [59]:
feature_importances = pd.DataFrame(rfc.feature_importances_,
                                   index = X_city.columns).reset_index()
feature_importances.columns = ['feature', 'importance']

feature_importances.sort_values('importance', ascending=False)

                       feature  importance
28                       Paris    0.391325
3                    Bordeaux     0.066871
24                        Lyon    0.061962
27                     Nantes     0.060437
41                   Toulouse     0.056672
23            Loire-Atlantique    0.030471
40        Tassin-la-Demi-Lune     0.024076
34             Saint-Herblain     0.022183
31                       Rhône    0.019068
18                     Labège     0.016786
2                     Blagnac     0.014518
17                    L'Union     0.014505
21                   Limonest     0.013899
30         Portet-sur-Garonne     0.013664
47                     Écully     0.012909
29                     Pessac     0.012905
6                      Bruges     0.012872
25                   Marennes     0.012747
20                      Limas     0.012439
32           Rillieux-la-Pape     0.011983
9            Castanet-Tolosan     0.011894
45               Villeurbanne     0.010523
4                    Brignais     0.006686
7                     Canéjan     0.006597
44      Villeneuve-lès-Bouloc     0.006494
5                        Bron     0.006394
42                   Toussieu     0.006344
11                   Chassieu     0.006259
43                Treillières     0.006132
39                    Talence     0.006053
35     Saint-Médard-en-Jalles     0.005851
38   Saint-Pierre-de-Chandieu     0.005756
22                    Lissieu     0.005737
37   Saint-Orens-de-Gameville     0.005672
26                   Mérignac     0.005515
0                     Ancenis     0.005419
16                  Gradignan     0.005300
14                   Dardilly     0.005081
36              Saint-Nazaire     0.000000
33  Saint-Didier-au-Mont-d'Or     0.000000
8                   Carquefou     0.000000
10    Charbonnières-les-Bains     0.000000
1                   Beauzelle     0.000000
12              Châteaubriant     0.000000
19                 Le Haillan     0.000000
13                     Corbas     0.000000
46                 Vénissieux     0.000000
15               Francheville     0.000000

In [60]:
from sklearn.model_selection import GridSearchCV
#n_estimators = np.linspace(start = 600 , stop = 1000, num = 8, dtype= int )
#n_estimators
n_estimators = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500]

param_grid = {'n_estimators': n_estimators}
grid = GridSearchCV(rfc, param_grid =param_grid, cv=3, n_jobs=-1, scoring='accuracy')
grid.fit(X_train, y_train)

print("The best parameters are %s with a score of %0.0f" % (grid.best_params_, grid.best_score_ * 100 ))
print( "Best estimator accuracy on test set {:.2f} ".format(grid.best_estimator_.score(X_test, y_test) * 100 ) )

The best parameters are {'n_estimators': 50} with a score of 46
Best estimator accuracy on test set 46.80

In [61]:
df_annually.Department_Search.unique()

array(['Haute-Garonne', 'Gironde', '75', 'Rhône', 'Loire-Atlantique'],
      dtype=object)

In [62]:
depart_d = pd.get_dummies(df_annually.Department_Search)
X_depart = depart_d

X_train, X_test, y_train, y_test = train_test_split(X_depart, y, test_size=0.3, random_state=0, stratify=y)

n_estimators = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500]

param_grid = {'n_estimators': n_estimators}
grid = GridSearchCV(rfc, param_grid =param_grid, cv=3, n_jobs=-1, scoring='accuracy')
grid.fit(X_train, y_train)

print("The best parameters are %s with a score of %0.0f" % (grid.best_params_, grid.best_score_ * 100 ))
print( "Best estimator accuracy on test set {:.2f} ".format(grid.best_estimator_.score(X_test, y_test) * 100 ) )

The best parameters are {'n_estimators': 50} with a score of 45
Best estimator accuracy on test set 44.83

In [63]:
rfc = RandomForestClassifier(50, random_state=0)
rfc.fit(X_train, y_train)

feature_importances = pd.DataFrame(rfc.feature_importances_,
                                   index = X_depart.columns).reset_index()
feature_importances.columns = ['feature', 'importance']

feature_importances.sort_values('importance', ascending=False)

            feature  importance
0                75    0.551818
4             Rhône    0.172739
2     Haute-Garonne    0.120490
3  Loire-Atlantique    0.104565
1           Gironde    0.050389

In [64]:
df_annually.to_csv("df_annually.csv")

# Prediction avec les X_desc_trans, X_title_trans et X_city

In [107]:
df_annually.head(1)

,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,city,cp,salary_min,salary_max,salary_type,salary_mean,salary_label
8,p_008d77a008590232,INGÉNIEUR DÉVELOPPEUR C++ / JAVA F/H,ALTEN,Toulouse (31),30 000 € - 45 000 € par an,Partenaire technologique de référence des plus...,08/09/2019,Développeur,Haute-Garonne,Toulouse,31,30000.0,45000.0,annually,37500.0,0

In [108]:
#Pandas describe() is used to view some basic statistical details like percentile, mean, std etc. of a data frame or a series of numeric values. 
df_annually.describe()

         salary_min     salary_max    salary_mean  salary_label
count    675.000000     675.000000     675.000000    675.000000
mean   40998.761481   49769.296296   45384.028889      1.388148
std    10930.715767   13259.715155   11569.392983      1.140244
min    20000.000000   20388.000000   20388.000000      0.000000
25%    33000.000000   40000.000000   37500.000000      0.000000
50%    40000.000000   50000.000000   45000.000000      1.000000
75%    47500.000000   55000.000000   51250.000000      2.500000
max    90000.000000  120000.000000  100000.000000      3.000000

In [110]:
#number of line
df_annually.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 675 entries, 8 to 4879
Data columns (total 16 columns):
_id                  675 non-null object
Title                675 non-null object
Company              675 non-null object
Location             675 non-null object
Salary               675 non-null object
Description          675 non-null object
Date                 546 non-null object
Job_Search           675 non-null object
Department_Search    675 non-null object
city                 675 non-null object
cp                   675 non-null object
salary_min           675 non-null float64
salary_max           675 non-null float64
salary_type          675 non-null object
salary_mean          675 non-null float64
salary_label         675 non-null int64
dtypes: float64(3), int64(1), object(12)
memory usage: 89.6+ KB

In [100]:
df_annually.groupby('Description')['_id'].nunique().count()

669

In [103]:
df_annually.duplicated(subset=None, keep='first').count()

675

In [104]:
# Select duplicate rows except first occurrence based on all columns
duplicateRowsDF = df_annually[df_annually.duplicated()]
 
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [_id, Title, Company, Location, Salary, Description, Date, Job_Search, Department_Search, city, cp, salary_min, salary_max, salary_type, salary_mean, salary_label]
Index: []

In [94]:
#df_annually._groupby.count()
df_annually.groupby(['_id']).count()

,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,city,cp,salary_min,salary_max,salary_type,salary_mean,salary_label
_id,,,,,,,,,,,,,,,
p_008d77a008590232,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_00f2ad8db3c30b8e,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_00fa03a21ad52a71,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0130bef769eef3cc,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_019d01b7494dc632,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_02074799b0dbc42e,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_02270c340e21e7ab,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_033110c9c03332f9,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_046189897fdb70ed,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_05b4d08c39d1a13c,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_060a2b9c9629b0ec,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_06131cb23b356dbd,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_06a1847fffdccdf3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_06cb2abacde70138,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_06d5e301eb1edc89,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_07857e44e3dc84bc,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_07ee1928807c8304,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_09824262681329d2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_09e77099d2b8ff14,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_09f8ad957b29d478,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0a694e43b9b86909,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0b0354bee583ab26,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0b037b0fc6c7227f,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0be88903b72726e7,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0c53f90c8fdbf55d,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0c5eee3be4b915d1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0d2295226c6a1db8,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0d33c5aa42dd6004,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0d3fe80afbd89271,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
p_0d92a5b5d5d1cb98,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
pj_c08de8e2ff8c9812,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_c17773aedb3161be,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_c1f0fa33029d75b7,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_c5a817aeec3ea0f1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_c8ba874e50f1da8e,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_ca13a3aeffe6ef38,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_caa1c635fc2a3d53,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_cd0f15226437888f,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_ce604bc1ba27a517,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_d33bedd0063f4668,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_d43fea0984e8b86f,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_ddd97557811c0453,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_df0c59ab5144d3dc,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
pj_df4101ae5cc11c6f,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_e0768aeca8f56d91,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_e56b447790c102f9,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_e7009a14a12c6ff3,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_e8b7d0351941c388,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_e8ffd7b193fe9193,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_e9b13604d13bed17,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_ecbeb4071e6eb2c1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_ed99236794d0178f,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_edab0aa260675678,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
pj_edb675891a62b6de,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_f1d346fc78673d6a,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_f74c94c78f09bd8e,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
pj_f9b2d5fe629ccfb3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
pj_fd8e78ca8bedfe98,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_fe470d6a829fdecc,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
pj_fecbe7703c9699cd,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1

In [65]:
X = df.iloc[:,[3,-1]].values

# clustering dataset
# determine k using elbow method
# k means determine K
# K = nombre de clusters à déterminer
inertias = []
K = range(2,10) 

for k in K:
    kmeanModel = KMeans(init = 'k-means++', n_clusters=k)
    kmeanModel.fit(X) #calcule l'inertie intra-classe, labellise
    inertias.append(kmeanModel.inertia_) #on récupère que l'inertie

# Plot the elbow
plt.plot(K, inertias, 'bx-') #'bx-' : style de ligne
plt.xlabel('k')
plt.ylabel('Distortion')
plt.title('The Elbow Method showing the optimal k')
plt.show()

NameError: name 'KMeans' is not defined