In [1]:
from collections import Counter
import re

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

from nltk import word_tokenize
from nltk.corpus import stopwords

from wordcloud import WordCloud

import unidecode

In [31]:
df=pd.read_csv("../df_annually.csv")

# Création Fonction Split Salary

In [32]:
def split_salary(row):
    salary = row["Salary"]
    if "-" in salary:
        split = salary.split("-")
        salary_min = split[0]
        salary_max = split[1]
    else:
        salary_min = salary
        salary_max = salary
    
    row["salary_min"] = salary_min.replace("€","")\
                                  .replace("par an","")\
                                  .replace("par mois","")\
                                  .replace("par semaine","")\
                                  .replace("par jour","")\
                                  .replace("par heure","")\
                                  .replace("\xa0","")
    row["salary_max"] = salary_max.replace("€","")\
                                  .replace("par an","")\
                                  .replace("par mois","")\
                                  .replace("par semaine","")\
                                  .replace("par jour","")\
                                  .replace("par heure","")\
                                  .replace("\xa0","")
    
    if "an" in row["Salary"]:
        row["salary_period"] = "year"

    if "mois" in row["Salary"]:
        if float(row["salary_min"]) < 1500:
            row["salary_min"] = float(row["salary_min"])
            row["salary_max"] = float(row["salary_max"])
            row["salary_period"] = "month"
        else:
            row["salary_min"] = float(row["salary_min"])*12
            row["salary_max"] = float(row["salary_max"])*12
            row["salary_period"] = "year"
    
    if "semaine" in row["Salary"]:
        row["salary_min"] = float(row["salary_min"])
        row["salary_max"] = float(row["salary_max"])
        row["salary_period"] = "week"

    if "jour" in row["Salary"]:
        row["salary_min"] = float(row["salary_min"])
        row["salary_max"] = float(row["salary_max"])
        row["salary_period"] = "day"

    if "heure" in row["Salary"]:
        row["salary_min"] = float(row["salary_min"].replace(",","."))
        row["salary_max"] = float(row["salary_max"].replace(",","."))
        row["salary_period"] = "hour"
        
    return row

# Création des colonnes salary max et salary min

In [33]:
stop_words = stopwords.words('french')

1. Mettre en minuscule
2. Remplacer les ponctuations (sauf '+') par des espaces : `[^\w|\s|+]` mais aussi les '|' et '\_' : `[_|\|]`
3. Remplacer les lettres accentuées par des lettres sans accents
4. Remplacer les lettres seules (sauf les lettres c et r (langages de programmation)) par des espaces : `\b[abd-qs-z]\b`
5. Remplacer les nombres qui ont 2 chiffres ou plus par des espaces : `\d{2,}`
6. Splitter la chaîne de caractères en une liste de mots
7. Créer une nouvelle liste sans les stopwords

In [34]:
def preprocessing_text(text, stopwords):
    text = text.lower()
    text = re.sub(r'[^\w|\s|+]', ' ', text)
    text = re.sub(r'[_|\|]', ' ', text)
    text = unidecode.unidecode(text)
    text = re.sub(r'\b[abd-qs-z]\b', ' ', text)
    text = re.sub(r'\d{2,}', ' ', text)

    # STOPWORDS
    tokenized_words = word_tokenize(text)
    tokenized_words = [word for word in tokenized_words if word not in stopwords]

    return tokenized_words

In [35]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/fabi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [36]:
df_salary = df[~df.Salary.isna()]

df_salary = df_salary.apply(lambda column: column.apply(preprocessing_text, args=(stop_words,))
                                          if column.name in ['Title', 'Description']
                                          else column)

In [37]:
df_salary = df_salary.apply(split_salary, axis=1)
df_salary["salary_min"]=pd.to_numeric(df_salary["salary_min"],'coerce')
df_salary["salary_max"]=pd.to_numeric(df_salary["salary_max"],'coerce')

In [38]:
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 675 entries, 0 to 674
Data columns (total 18 columns):
Unnamed: 0           675 non-null int64
_id                  675 non-null object
Title                675 non-null object
Company              675 non-null object
Location             675 non-null object
Salary               675 non-null object
Description          675 non-null object
Date                 546 non-null object
Job_Search           675 non-null object
Department_Search    675 non-null object
city                 675 non-null object
cp                   675 non-null object
salary_min           675 non-null float64
salary_max           675 non-null float64
salary_type          675 non-null object
salary_mean          675 non-null float64
salary_label         675 non-null int64
salary_period        675 non-null object
dtypes: float64(3), int64(2), object(13)
memory usage: 100.2+ KB

## Création colonne salary mean

In [39]:
df_salary["salary_mean"] = (df_salary["salary_min"]+df_salary["salary_max"])/2

In [40]:
df_salary

,Unnamed: 0,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,city,cp,salary_min,salary_max,salary_type,salary_mean,salary_label,salary_period
0,8,p_008d77a008590232,"[ingenieur, developpeur, c++, java]",ALTEN,Toulouse (31),30 000 € - 45 000 € par an,"[partenaire, technologique, reference, plus, g...",08/09/2019,Développeur,Haute-Garonne,Toulouse,31,30000.0,45000.0,annually,37500.0,0,year
1,15,p_00f2ad8db3c30b8e,[devops],Kent FR,Bordeaux (33),35 000 € - 40 000 € par an,"[kent, marque, groupagora, dediee, recrutement...",09/03/2019,Développeur,Gironde,Bordeaux,33,35000.0,40000.0,annually,37500.0,0,year
2,17,p_00fa03a21ad52a71,"[data, scientist]",QYSY,Paris (75),40 000 € - 65 000 € par an,"[qysy, cabinet, conseil, recrutementqui, propo...",29/09/2019,Data,75,Paris,75,40000.0,65000.0,annually,52500.0,3,year
3,19,p_0130bef769eef3cc,"[business, developer, btob, data, intelligence]",L.I.P,Lyon 3e (69),35 000 € - 60 000 € par an,"[lyon, 3e, arrondissement, cdi, bac+5, plus, i...",07/10/2019,Data,Rhône,Lyon,69,35000.0,60000.0,annually,47500.0,2,year
4,31,p_019d01b7494dc632,"[referent, fonctionnel, donnees, data, manager]",GARCIN FINANCES ET PARTICIPATIONS,Corbas (69),40 000 € - 45 000 € par an,"[souhaitez, participer, structuration, donnees...",10/09/2019,Data,Rhône,Corbas,69,40000.0,45000.0,annually,42500.0,1,year
5,44,p_02074799b0dbc42e,"[developpeur, php, laravel]",Sept Lieues,Paris (75),32 000 € - 37 000 € par an,"[pme, pres, ans, existence, gestion, situation...",08/04/2019,Développeur,75,Paris,75,32000.0,37000.0,annually,34500.0,0,year
6,49,p_02270c340e21e7ab,"[developpeur, windev]",Axemploi Recrutement,Nantes (44),30 000 € - 40 000 € par an,"[developpeur, windev, interviendrez, developpe...",18/09/2019,Développeur,Loire-Atlantique,Nantes,44,30000.0,40000.0,annually,35000.0,0,year
7,66,p_033110c9c03332f9,"[developpeur, java]",WOM,Lyon (69),30 000 € - 40 000 € par an,"[client, specialise, edition, logiciel, rse, r...",03/10/2019,Développeur,Rhône,Lyon,69,30000.0,40000.0,annually,35000.0,0,year
8,87,p_046189897fdb70ed,"[controleur, gestion, data, analyst]",SH Conseils,Paris 8e (75),35 000 € - 38 000 € par an,"[compte, operateur, telecoms, premier, plan, f...",18/09/2019,Data,75,Paris,75,35000.0,38000.0,annually,36500.0,0,year
9,105,p_05b4d08c39d1a13c,"[developpeur, mobile, senior, ios, swift]",EXTERNATIC,Bordeaux (33),40 000 € - 50 000 € par an,"[description, offre, externatic, hub, opportun...",07/09/2019,Développeur,Gironde,Bordeaux,33,40000.0,50000.0,annually,45000.0,1,year
10,113,p_060a2b9c9629b0ec,"[cdi, client, final, developpeur, java, fullst...",Idée Blanche Recrutement,Toulouse (31),35 000 € - 45 000 € par an,"[sein, equipe, developpement, participerez, re...",08/09/2019,Développeur,Haute-Garonne,Toulouse,31,35000.0,45000.0,annually,40000.0,1,year
11,116,p_06131cb23b356dbd,"[lead, developer, data, engineer, cdi]",CARTELIS,Paris (75),40 000 € - 45 000 € par an,"[cdi, salaire, entre, k, k, paris, bac, +5, ma...",26/09/2019,Data,75,Paris,75,40000.0,45000.0,annually,42500.0,1,year
12,130,p_06a1847fffdccdf3,"[lead, data, technique, senior]",Kent FR,Bordeaux (33),40 000 € - 45 000 € par an,"[kent, marque, groupagora, dediee, recrutement...",08/04/2019,Data,Gironde,Bordeaux,33,40000.0,45000.0,annually,42500.0,1,year
13,134,p_06cb2abacde70138,"[data, ops, engineer]",Harnham,Paris (75),45 000 € - 60 000 € par an,"[data, ops, engineer, paris, france, k, an, cr...",07/09/2019,Data,75,Paris,75,45000.0,60000.0,annually,52500.0,3,year
14,136,p_06d5e301eb1edc89,"[ingenieur, systeme, opensource, devops]",Uniware Global Services,Paris (75),45 000 € - 55 000 € par an,"[ingenieur, systeme, opensource, devops, poste...",05/10/2019,Développeur,75,Paris,75,45000.0,55000.0,annually,50000.0,2,year
15,148,p_07857e44e3dc84bc,"[developpeur, produit, java, junior]",Randstad Search,Nantes (44),28 000 € par an,"[voulez, integrer, equipe, dynamique, alors, v...",07/10/2019,Développeur,Loire-Atlantique,Nantes,44,28000.0,28000.0,annually,28000.0,0,year
16,158,p_07ee1928807c8304,"[ingenieur, devops, solutions, architect]",GEOSAT,Pessac (33),2 500 € - 3 000 € par mois,"[geosat, societe, services, ingenierie, territ...",26/09/2019,Développeur,Gironde,Pessac,33,30000.0,36000.0,annually,33000.0,0,year
17,186,p_09824262681329d2,"[junior, data, engineer, 6, months]",Kayrros,Paris (75),1 700 € par mois,"[passionate, about, tech, interested, in, ener...",07/09/2019,Data,75,Paris,75,20400.0,20400.0,annually,20400.0,0,year
18,193,p_09e77099d2b8ff14,"[developpeur, java, j2ee]",Action_SSI.com,Toulouse (31),30 000 € - 40 000 € par an,"[creee, action, ssi, com, esn, conseil, ingeni...",25/09/2019,Développeur,Haute-Garonne,Toulouse,31,30000.0,40000.0,annually,35000.0,0,year
19,195,p_09f8ad957b29d478,"[developpeur, net]",effektiv,Lyon (69),38 000 € - 45 000 € par an,"[client, client, mi, chemin, entre, startup, d...",07/09/2019,Développeur,Rhône,Lyon,69,38000.0,45000.0,annually,41500.0,1,year
20,203,p_0a694e43b9b86909,"[developpeur, php]",HAYS,Bordeaux (33),35 000 € - 45 000 € par an,"[client, organisme, formation, metiers, digita...",07/10/2019,Développeur,Gironde,Bordeaux,33,35000.0,45000.0,annually,40000.0,1,year
21,213,p_0b0354bee583ab26,"[integrateur, applications, devops]",Solutec,Bordeaux (33),32 000 € - 50 000 € par an,"[cherchez, rejoindre, equipe, dynamique, borde...",09/05/2019,Développeur,Gironde,Bordeaux,33,32000.0,50000.0,annually,41000.0,1,year
22,214,p_0b037b0fc6c7227f,"[developpeur, administrateur, systeme, reseaux]",Randstad Search,Nantes (44),35 000 € par an,"[recherchons, compte, client, societe, sodius,...",07/10/2019,Développeur,Loire-Atlantique,Nantes,44,35000.0,35000.0,annually,35000.0,0,year
23,230,p_0be88903b72726e7,"[ingenieur, systeme, devops]",Sept Lieues,Paris 13e (75),45 000 € - 60 000 € par an,"[startup, developpe, plateforme, machine, lear...",07/02/2019,Développeur,75,Paris,75,45000.0,60000.0,annually,52500.0,3,year
24,241,p_0c53f90c8fdbf55d,"[ingenieur, devops, cloud]",EXTERNATIC,Bordeaux (33),45 000 € - 60 000 € par an,"[description, offre, externatic, hub, opportun...",08/09/2019,Développeur,Gironde,Bordeaux,33,45000.0,60000.0,annually,52500.0,3,year
25,242,p_0c5eee3be4b915d1,[devops],Konekt,Paris (75),60 000 € - 70 000 € par an,"[description, emploi, client, start, up, plein...",08/10/2018,Développeur,75,Paris,75,60000.0,70000.0,annually,65000.0,3,year
26,256,p_0d2295226c6a1db8,"[developpeur, front, end, ui, designer]",Silkhom,Paris (75),40 000 € - 45 000 € par an,"[editeur, logiciel, open, source, fournissant,...",07/09/2019,Développeur,75,Paris,75,40000.0,45000.0,annually,42500.0,1,year
27,259,p_0d33c5aa42dd6004,"[ingenieur, data]",RECRUTEMENT DIRECT,Lyon 3e (69),40 000 € - 45 000 € par an,"[recherchons, activement, ingenieurs, data, ac...",19/09/2019,Data,Rhône,Lyon,69,40000.0,45000.0,annually,42500.0,1,year
28,261,p_0d3fe80afbd89271,"[developpeur, data, bi]",Savane Consulting,Paris (75),30 000 € - 50 000 € par an,"[soif, nouveaux, challenges, innovations, tech...",07/09/2019,Data,75,Paris,75,30000.0,50000.0,annually,40000.0,1,year
29,268,p_0d92a5b5d5d1cb98,"[developpeur, net, junior, editeur, medical, l...",Evowlve,Lyon (69),35 000 € - 43 000 € par an,"[client, depuis, 1, an, accompagnons, cet, edi...",07/09/2019,Développeur,Rhône,Lyon,69,35000.0,43000.0,annually,39000.0,1,year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,4752,pj_c08de8e2ff8c9812,"[developpeur, filemaker]",ADSearch,Lyon (69),30 000 € - 35 000 € par an,"[adsearch, cabinet, recrutement, groupe, adequ...",NaN,Développeur,Rhône,Lyon,69,30000.0,35000.0,annually,32500.0,0,year
646,4755,pj_c17773aedb3161be,"[ingenieur, informatique, devops]",AS INTERNATIONAL GROUP,Paris,37 000 € - 48 000 € par an,"[international, group, positionne, comme, part...",NaN,Développeur,75,Paris,75,37000.0,48000.0,annually,42500.0,1,year
647,4756,pj_c1f0fa33029d75b7,"[developpeur, php, symfony]",Michael Page,Paris (75),55 000 € par an,"[vue, js, php, symfony, backend, developer, cd...",NaN,Développeur,75,Paris,75,55000.0,55000.0,annually,55000.0,3,year
648,4760,pj_c5a817aeec3ea0f1,"[ingenieur, systeme, devops]",Quantic,Paris (75),60 000 € par an,"[prestation, deroule, sein, equipe, systeme, c...",NaN,Développeur,75,Paris,75,60000.0,60000.0,annually,60000.0,3,year
649,4766,pj_c8ba874e50f1da8e,[developpeur],HA Location,Bordeaux (33),35 000 € par an,"[location, leader, international, gestion, ope...",NaN,Développeur,Gironde,Bordeaux,33,35000.0,35000.0,annually,35000.0,0,year
650,4769,pj_ca13a3aeffe6ef38,"[developpeur, informatique, industrielle, net]",Randstad Search,L'Union (31),30 000 € - 40 000 € par an,"[marque, randstad, search, cabinet, conseil, r...",NaN,Développeur,Haute-Garonne,L'Union,31,30000.0,40000.0,annually,35000.0,0,year
651,4770,pj_caa1c635fc2a3d53,"[developpeur, php]",SEDONA SOLUTIONS,Paris 9e (75),45 000 € par an,"[symfony, angular, javascript, php, symfony3, ...",NaN,Développeur,75,Paris,75,45000.0,45000.0,annually,45000.0,1,year
652,4776,pj_cd0f15226437888f,"[data, sientist, analyst, cdi]",Fed IT,Paris (75),45 000 € - 50 000 € par an,"[fed, it, cabinet, recrutement, specialise, re...",NaN,Data,75,Paris,75,45000.0,50000.0,annually,47500.0,2,year
653,4780,pj_ce604bc1ba27a517,"[developpeur, applications, web]",OJC Conseil,Paris (75),35 000 € - 45 000 € par an,"[propos, ojc, ojc, conseil, fournit, services,...",NaN,Développeur,75,Paris,75,35000.0,45000.0,annually,40000.0,1,year
654,4787,pj_d33bedd0063f4668,"[responsable, bi, data, transformation]",Hays France,Bordeaux (33),55 000 € - 70 000 € par an,"[responsable, bi, data, transformation, poste,...",NaN,Data,Gironde,Bordeaux,33,55000.0,70000.0,annually,62500.0,3,year
655,4789,pj_d43fea0984e8b86f,"[software, engineer, fullstack, java, angular]",Margo,Paris (75),60 000 € par an,"[mongodb, angular, java, agile, backend, devel...",NaN,Développeur,75,Paris,75,60000.0,60000.0,annually,60000.0,3,year
656,4813,pj_ddd97557811c0453,"[cdi, devops, solution, cloud]",La Relève,Paris 20e (75),50 000 € par an,"[entreprise, solution, devops, tout, aide, dev...",NaN,Développeur,75,Paris,75,50000.0,50000.0,annually,50000.0,2,year
657,4816,pj_df0c59ab5144d3dc,"[developpeur, full, stack, environnement, agil...",Synchrone,Paris (75),38 000 € - 45 000 € par an,"[entreprise, specialisee, consulting, data, ex...",04/10/2019,Développeur,75,Paris,75,38000.0,45000.0,annually,41500.0,1,year
658,4817,pj_df4101ae5cc11c6f,"[cdi, developpeur, fullstack, data, engineer]",La Relève,Paris (75),34 000 € - 40 000 € par an,"[cree, entreprise, premier, distributeur, cons...",NaN,Data,75,Paris,75,34000.0,40000.0,annually,37000.0,0,year
659,4821,pj_e0768aeca8f56d91,"[developpeur, php]",ADSearch,Lyon (69),35 000 € - 42 000 € par an,"[adsearch, cabinet, recrutement, groupe, adequ...",NaN,Développeur,Rhône,Lyon,69,35000.0,42000.0,annually,38500.0,1,year
660,4828,pj_e56b447790c102f9,"[developpeur, fullstack, php, angular, 2+, edi...",Neovity,Paris (75),45 000 € - 50 000 € par an,"[accompagne, responsable, technique, cet, edit...",NaN,Développeur,75,Paris,75,45000.0,50000.0,annually,47500.0,2,year
661,4830,pj_e7009a14a12c6ff3,"[developpeur, frontend, javascript]",Approach People - MP,Paris 1er (75),45 000 € - 60 000 € par an,"[developpeur, frontend, javascript, entreprise...",NaN,Développeur,75,Paris,75,45000.0,60000.0,annually,52500.0,3,year
662,4833,pj_e8b7d0351941c388,"[lead, developpeur, php]",ADSearch,Lyon 1er (69),45 000 € - 50 000 € par an,"[adsearch, cabinet, recrutement, groupe, adequ...",NaN,Développeur,Rhône,Lyon,69,45000.0,50000.0,annually,47500.0,2,year
663,4834,pj_e8ffd7b193fe9193,"[architecte, developpeur, splunk, environnemen...",UMANTIC,Paris (75),55 000 € par an,"[propos, poste, sein, equipe, dediee, basee, p...",NaN,Développeur,75,Paris,75,55000.0,55000.0,annually,55000.0,3,year
664,4836,pj_e9b13604d13bed17,"[developpeur, go]",GROUPE ALLIANCE,Paris (75),40 000 € - 60 000 € par an,"[depuis, creation, groupe, alliance, consultan...",NaN,Développeur,75,Paris,75,40000.0,60000.0,annually,50000.0,2,year
665,4842,pj_ecbeb4071e6eb2c1,"[ingenieur, devops, cloud, azure]",Michael Page,Paris (75),70 000 € par an,"[sharp, azure, asp, net, devops, manager, cdi,...",NaN,Développeur,75,Paris,75,70000.0,70000.0,annually,70000.0,3,year
666,4843,pj_ed99236794d0178f,"[data, analyste, informatique]",Gentis Recruitment SAS,Paris (75),35 000 € - 50 000 € par an,"[gentis, is, belgian, recruitment, company, he...",NaN,Data,75,Paris,75,35000.0,50000.0,annually,42500.0,1,year
667,4844,pj_edab0aa260675678,"[centre, ville, client, final, developpeur, fu...",Delia Technologies,Nantes (44),37 000 € - 40 000 € par an,"[delia, technologies, ladevopsfamily, delia, t...",04/10/2019,Développeur,Loire-Atlantique,Nantes,44,37000.0,40000.0,annually,38500.0,1,year
668,4845,pj_edb675891a62b6de,"[ingenieur, devops, big, data, junior]",Omnilog,Bordeaux (33),36 000 € par an,"[kubernetes, git, jenkins, ansible, docker, de...",NaN,Data,Gironde,Bordeaux,33,36000.0,36000.0,annually,36000.0,0,year
669,4851,pj_f1d346fc78673d6a,"[developpeur, php, integrateur, html5, css3]",Éraclès,Paris 15e (75),30 000 € - 37 000 € par an,"[description, poste, eracles, agence, digitale...",NaN,Développeur,75,Paris,75,30000.0,37000.0,annually,33500.0,0,year
670,4865,pj_f74c94c78f09bd8e,"[senior, data, scientist]",Pivot & Co,Paris 8e (75),60 000 € par an,"[areas, data, science, media, effectiveness, r...",05/10/2019,Data,75,Paris,75,60000.0,60000.0,annually,60000.0,3,year
671,4871,pj_f9b2d5fe629ccfb3,[devops],EASY PARTNER,Paris (75),50 000 € - 55 000 € par an,"[poste, afin, accompagner, forte, croissance, ...",08/10/2019,Développeur,75,Paris,75,50000.0,55000.0,annually,52500.0,3,year
672,4876,pj_fd8e78ca8bedfe98,"[web, developpeur]",CLERE / JES,Loire-Atlantique,22 000 € - 28 000 € par an,"[editeur, logiciels, developpons, interne, erp...",NaN,Développeur,Loire-Atlantique,Loire-Atlantique,None,22000.0,28000.0,annually,25000.0,0,year
673,4877,pj_fe470d6a829fdecc,"[consultant, devops]",Des Systèmes et des Hommes,Paris 9e (75),45 000 € par an,"[docker, hibernate, linux, jenkins, oracle, cl...",NaN,Développeur,75,Paris,75,45000.0,45000.0,annually,45000.0,1,year
674,4879,pj_fecbe7703c9699cd,"[digital, data, analyst]",Aravati,Paris (75),55 000 € par an,"[r, python, adobe, analytics, at, internet, go...",NaN,Data,75,Paris,75,55000.0,55000.0,annually,55000.0,3,year

# Je ne prends que les salaires qui sont 'par an'

In [41]:
df_salary = df_salary[df_salary.salary_period == 'year']

## Quantiles salary min

In [16]:
df_salary.salary_min.describe()

count       85.000000
mean     40917.647059
std       9823.697981
min      28000.000000
25%      33000.000000
50%      38000.000000
75%      50000.000000
max      68000.000000
Name: salary_min, dtype: float64

## Quantiles salary max

In [ ]:
df_salary.salary_max.describe()

## Quantiles salary mean

In [ ]:
df_salary.salary_mean.describe()

In [ ]:
tercile_1 = np.quantile(df_salary.salary_mean, 1/3)
tercile_1

In [ ]:
tercile_2 = np.quantile(df_salary.salary_mean, 2/3)
tercile_2

# Création colonne class label par rapport aux quantiles salary mean

In [ ]:
def classification(x):
    if x <= tercile_1:
        label = 1
    elif x <= tercile_2:
        label = 2
    else:
        label = 3
    return label

df_salary["salary_label"] = df_salary["salary_mean"].apply(classification)

In [ ]:
df_salary.head(10)

# Création des df par tranches label

In [ ]:
label_1 = df_salary[df_salary["salary_label"]==1]
label_2 = df_salary[df_salary["salary_label"]==2]
label_3 = df_salary[df_salary["salary_label"]==3]

In [ ]:
df_salary.Department_Search.value_counts(normalize=True) * 100

In [ ]:
df_salary.Job_Search.value_counts(normalize=True) * 100

In [ ]:
label_1.Department_Search.value_counts(normalize=True) * 100

In [ ]:
label_1.Job_Search.value_counts(normalize=True) * 100

In [ ]:
label_2.Department_Search.value_counts(normalize=True) * 100

In [ ]:
label_2.Job_Search.value_counts(normalize=True) * 100

In [ ]:
label_3.Department_Search.value_counts(normalize=True) * 100

In [ ]:
label_3.Job_Search.value_counts(normalize=True) * 100

In [ ]:
tag_title_1 = label_1["Title"]
tag_title_2 = label_2["Title"]
tag_title_3 = label_3["Title"]

In [ ]:
# créer un dictionnaire avec la frequence de chaque mot de tag_title1
# on va ordonner par la valeur du dictionnaire en ordre descendant

result_1 = tag_title_1.apply(Counter).sum().items()
result_1 = sorted(result_1, key=lambda kv : kv[1], reverse=True)

result_2 = tag_title_2.apply(Counter).sum().items()
result_2 = sorted(result_2, key=lambda kv : kv[1], reverse=True)

result_3 = tag_title_3.apply(Counter).sum().items()
result_3 = sorted(result_3, key=lambda kv : kv[1], reverse=True)

### Je crée le dictionnaire qui associe la frequece de chaque mot sur chaque df

In [ ]:
result_series_1 = dict(result_1)
result_series_2 = dict(result_2)
result_series_3 = dict(result_3)

In [ ]:
result_series_1

# Visualisation du wordcloud title de chaque df

In [ ]:
wordcloud_1 = WordCloud(max_words=50).generate_from_frequencies(result_series_1)
wordcloud_2 = WordCloud(max_words=50).generate_from_frequencies(result_series_2)
wordcloud_3 = WordCloud(max_words=50).generate_from_frequencies(result_series_3)

In [ ]:
plt.figure(figsize = (25, 30))

plt.subplot(3, 1, 1)
plt.imshow(wordcloud_1, interpolation="bilinear")
plt.axis("off")

plt.subplot(3, 1, 2)
plt.imshow(wordcloud_2, interpolation="bilinear")
plt.axis("off")

plt.subplot(3, 1, 3)
plt.imshow(wordcloud_3, interpolation="bilinear")
plt.axis("off")
plt.show()

In [ ]:
tag_desc_1 = label_1["Description"]
tag_desc_2 = label_2["Description"]
tag_desc_3 = label_3["Description"]

In [ ]:
tag_desc_3

# création des dictionnaires qui à chaque mot associe sa frequence

In [ ]:
desc_1 = tag_desc_1.apply(Counter).sum().items()
desc_1 = sorted(desc_1, key=lambda kv : kv[1], reverse=True) 
dict_desc_1 = {k: v for k,v in desc_1}

desc_2 = tag_desc_2.apply(Counter).sum().items()
desc_2 = sorted(desc_2, key=lambda kv : kv[1], reverse=True) 
dict_desc_2 = {k: v for k,v in desc_2}

desc_3 = tag_desc_3.apply(Counter).sum().items()
desc_3 = sorted(desc_3, key=lambda kv : kv[1], reverse=True) 
dict_desc_3 = {k: v for k,v in desc_3}

# Visualisation du wordcloud job_desc pour chaque df

In [ ]:
wordcloud6 = WordCloud(max_words=50).generate_from_frequencies(dict_desc_1)
wordcloud7 = WordCloud(max_words=50).generate_from_frequencies(dict_desc_2)
wordcloud8 = WordCloud(max_words=50).generate_from_frequencies(dict_desc_3)

figure = plt.figure(figsize = (25, 30))
plt.figure(1)
plt.subplot(3, 1, 1)
plt.imshow(wordcloud6, interpolation="bilinear")
plt.axis("off")

plt.subplot(3, 1, 2)
plt.imshow(wordcloud7, interpolation="bilinear")
plt.axis("off")

plt.subplot(3, 1, 3)
plt.imshow(wordcloud8, interpolation="bilinear")
plt.axis("off")

plt.show()

## prediction salaire avec job desc brut seulement

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
X_desc = df_salary.Description.apply(" ".join)
y = df_salary.salary_label

In [ ]:
X_desc

In [ ]:
vectorizer = TfidfVectorizer(ngram_range=(1, 4))
vectorizer.fit(X_desc)

In [ ]:
len(vectorizer.get_feature_names())

In [ ]:
X_desc_trans = pd.DataFrame(vectorizer.transform(X_desc).todense(), columns=vectorizer.get_feature_names())
X_desc_trans

In [ ]:
import numpy as np
np.asmatrix(X_desc_trans)

In [ ]:
word_counts = X_desc_trans.sum(axis=0)
word_counts.sort_values(ascending = False).head(20)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(np.asmatrix(X_desc_trans), y, stratify=y)

In [ ]:
rfc = RandomForestClassifier(n_estimators=5, random_state=42)
rfc.fit(X_train, y_train)

rfc.score(X_test,y_test)

In [ ]:
rfc.score(X_train, y_train)

In [ ]:
feature_importances = pd.DataFrame(rfc.feature_importances_,
                                   index = X_desc_trans.columns).reset_index()
feature_importances.columns = ['feature', 'importance']

feature_importances.sort_values('importance', ascending=False).head(30)

# Prédiction salaire avec Title seulement

In [ ]:
X_title = df_salary.Title.apply(" ".join)
y = df_salary.salary_label

In [ ]:
vectorizer_2 = TfidfVectorizer(ngram_range=(1, 4))
vectorizer_2.fit(X_title)

In [ ]:
len(vectorizer_2.get_feature_names())

In [ ]:
X_title_trans = pd.DataFrame(vectorizer_2.transform(X_title).todense(), columns=vectorizer_2.get_feature_names())
X_title_trans

In [ ]:
word_counts2 = X_title_trans.sum(axis=0)
word_counts2.sort_values(ascending = False).head(20)

In [ ]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(np.asmatrix(X_title_trans), y, random_state=42, stratify=y)

In [ ]:
rfc = RandomForestClassifier(7, random_state=42)
rfc.fit(X_train2, y_train2)

rfc.score(X_test2,y_test2)

In [ ]:
rfc.score(X_train2,y_train2)

In [ ]:
feature_importances = pd.DataFrame(rfc.feature_importances_,
                                   index = X_title_trans.columns).reset_index()
feature_importances.columns = ['feature', 'importance']

feature_importances.sort_values('importance', ascending=False).head(20)