In [1]:
import pandas as pd
import numpy as np
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
import re

In [2]:
df_annually = pd.read_csv("df_annually.csv")

In [3]:
df_annually["cdi"]=df_annually.Description.str.lower().str.contains('cdi', regex=True).astype(int)

In [4]:
df_annually["freelance"]=df_annually.Description.str.lower().str.contains('freelance', regex=True).astype(int)

In [5]:
df_annually["cdd"]=df_annually.Description.str.lower().str.contains('cdd',regex=True).astype(int)

In [6]:
df_annually["stage"]=df_annually.Description.str.lower().str.contains(r'\bstage\b', regex=True).astype(int)

In [7]:
df_annually["intérimaire"]=df_annually.Description.str.lower().str.contains('intérimaire', regex=True).astype(int)

In [48]:
df_annually[df_annually.freelance==1]

,Unnamed: 0,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,...,bac+2/3,bac+2/5,bac+3,bac+3/4,bac+3/5,bac+4,bac+4/5,bac+5,master,ecole_inge
42,42,p_147bf1c9d471ffa8,Data Scientist Confirmé (H/F),ADONIS,Paris (75),40 000 € - 55 000 € par an,Description de la mission : Pour soutenir le d...,07/09/2019,Data,75,...,0,0,0,0,0,0,0,1,0,0
92,92,p_2ba65d8ecf962240,Développeur swift,Be Free Talent,Paris (75),35 000 € par an,"Emploi Be Free Talent, le connecteur de talen...",08/05/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
113,113,p_36b4797a55efe7cd,Ingénieur Data Scientist (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,Description de la mission : : Vous assurez la ...,07/09/2019,Data,75,...,0,0,0,0,0,0,0,1,0,1
147,147,p_4735091c8d114563,Développeur React.js - Java (H/F),ADONIS,Paris (75),40 000 € - 55 000 € par an,Description de la mission : Afin de mettre en ...,07/09/2019,Développeur,75,...,0,0,0,0,0,0,0,1,0,1
253,253,p_7acdf63e923d752a,Consultante / Consultant Devops - Lyon,Zenika,Lyon (69),35 000 € - 55 000 € par an,"Tu te dis que choisir et refuser tes missions,...",08/10/2019,Développeur,Rhône,...,0,0,0,0,0,0,0,0,0,0
254,254,p_7ae3c2ebe428b460,"Data Scientist ""Energie"" (H/F)",ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",07/09/2019,Data,75,...,0,0,0,0,0,0,0,0,0,0
272,272,p_81c8c53e826fb62b,Développeuse / Développeur Java - Lyon,Zenika,Lyon (69),30 000 € - 50 000 € par an,"Tu te dis que choisir et refuser tes missions,...",07/10/2019,Développeur,Rhône,...,0,0,0,0,0,0,0,0,0,0
281,281,p_86bbac91fb6e42bd,Développeur Java - Python (H/F),ADONIS,Paris (75),40 000 € - 50 000 € par an,Description de la mission : Notre client est u...,07/09/2019,Développeur,75,...,0,0,0,0,0,0,0,1,0,1
350,350,p_a763e2c54fc44b8b,Ingénieur Système Windows - DevOps (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",08/09/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
372,372,p_b0cc36fb8b25210b,DevOps Senior Developer (F/H),TECH MAHINDRA,Toulouse (31),50 000 € - 65 000 € par an,TECH MAHINDRA Groupe international évalué à 5 ...,28/09/2019,Développeur,Haute-Garonne,...,0,0,0,0,0,0,0,0,0,0
378,378,p_b2800c31bd818bf2,Ingénieur DevOps Ansible F/H,Poesi,Paris 20e (75),55 000 € - 80 000 € par an,"POESI, cabinet de conseil, est née en 2006 à l...",05/10/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
380,380,p_b39f755850c9e651,Support DevOps Expert F/H,Poesi,Paris 20e (75),55 000 € - 80 000 € par an,"POESI, cabinet de conseil, est née en 2006 à l...",05/10/2019,Développeur,75,...,0,0,0,0,0,0,0,1,1,1
411,411,p_c30657a4afe34a20,"Data Scientist ""Banque"" (H/F)",ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",07/09/2019,Data,75,...,0,0,0,0,0,0,0,1,1,0
415,415,p_c61b45ff2e846382,Développeur - Big Data (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,Description de la mission : Dans le cadre d'un...,07/09/2019,Data,75,...,0,0,0,0,0,0,0,1,0,1
437,437,p_d179e6455c960560,Développeurs mobile IOS & android indépendant ...,Sapiens,Nantes (44),32 000 € - 43 000 € par an,"NOTRE ENTREPRISE : Créé en 2003, SAPIENS est u...",17/09/2019,Développeur,Loire-Atlantique,...,0,0,0,0,0,0,0,0,0,0
452,452,p_d8cada009aba12bf,Data Scientist (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",07/09/2019,Data,75,...,0,0,0,0,0,0,0,1,1,1
475,475,p_e179669fb4c2a84f,2 Ingénieurs DevOps (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",08/09/2019,Développeur,75,...,0,0,0,0,0,0,0,1,0,0
478,478,p_e3602b57dcbf1f1c,Consultant DevOps (H/F),ADONIS,Paris (75),40 000 € - 55 000 € par an,Description de la mission : Notre client est u...,08/09/2019,Développeur,75,...,0,0,0,0,0,0,0,1,0,1
517,517,p_f7a772ce9346ac6d,Lead Technique Hadoop - Big Data (H/F),ADONIS,Paris (75),45 000 € - 65 000 € par an,Description de la mission : En tant que Techni...,07/09/2019,Data,75,...,0,0,0,0,0,0,0,1,0,0
521,521,p_fa7d9b7fb299e2f7,Ingénieur DevOps (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,QUI SOMMES-NOUS ? ADONIS est une Entreprise de...,08/09/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
523,523,p_fad2820ee8ea5a98,Consultant DevOps Azure (H/F),ADONIS,Paris (75),40 000 € - 65 000 € par an,"Dans le cadre de notre développement, nous rec...",08/09/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
536,536,pj_04f8e416e7139d1f,Développeur Back-End et/ou Front-End (H/F),Synchrone,France,25 000 € - 50 000 € par an,"Votre Rôle, vos Responsabilités Nous menons un...",NaN,Développeur,75,...,0,0,1,0,0,0,0,0,1,0
556,556,pj_36c74b5ef633c9ae,Développeur Java / J2ee (H/F),Synchrone,France,20 000 € - 40 000 € par an,"Votre Rôle, vos Responsabilités Nous menons un...",NaN,Développeur,75,...,0,0,1,0,0,0,0,0,1,0
563,563,pj_41537d2b04c54bff,Intégrateur d’application DevOps (H/F),Synchrone,France,25 000 € - 50 000 € par an,"Votre Rôle, vos Responsabilités Nous menons un...",NaN,Développeur,75,...,0,0,0,0,0,0,0,0,1,0
611,611,pj_99c901c440d504b0,CONCEPTEUR DEVELOPPEUR BIG DATA,GROUPE ALLIANCE,Paris (75),50 000 € par an,Dans un Grand Compte dans le secteur de l’Assu...,NaN,Data,75,...,0,0,0,0,0,0,0,1,0,0
634,634,pj_b326f163f2be9e40,Tech Lead DevOps,Delia Technologies,Nantes (44),45 000 € - 55 000 € par an,"Delia Technologies #LaDevOpsFamily Delia, c’es...",NaN,Développeur,Loire-Atlantique,...,0,0,0,0,0,0,0,0,0,0

In [49]:
df_annually.iloc[281].Description

'Description de la mission : Notre client est une banque de financement, d\'investissement et de services, qui développe également une offre originale en matière de gestion du poste clients. Le département informatique en charge des systèmes d\'information affectés aux métiers des risques, des référentiels et des traitements financiers. Le bénéficiaire souhaite renforcer l\'entité par une prestation en Java/Python/NodeJS qui permettra de: - créer une plateforme d\'exécution "serverless" analogue - assister les entités métier dans la réécriture des macro VB en Python - répondre aux exigences réglementaires et contribuant à la sécurisation de plusieurs process critiques d\'analyse de risques. A ce titre, le client souhaite bénéficier de l\'expertise du prestataire en termes d\' Ingénierie d\'études ou conception sur diverses technologies et méthodologies. La prestation s\'effectuera dans un environnement anglophone. Le Bénéficiaire souhaite mettre en oeuvre plusieurs évolutions de son socle technique. A ce titre, le Bénéficiaire souhaite bénéficier de l\'expertise du Prestataire en termes d\'Expertise technique et/ou fonctionnelle Missions: La prestation consiste à contribuer à/au(x): Les spécifications techniques générales Les spécifications techniques détaillées La mise en place: code (package & exécutable) Tests unitaires Tests d\'intégration Tests de non régression Support aux UAT (User Acceptance Tests) La mise en production Environnement technique du projet : Webservices, Java, Linux - Expert Profil recherché Diplômé(e) d\'une grande école d\'ingénieurs ou de formation équivalente (Bac+5) La disponibilité, la résistance au stress et le sens de la gestion des priorités sont également indispensables. Vous avez un excellent relationnel, disposez d\'une bonne capacité d\'analyse et vous avez un bon niveau d\'anglais. ADONIS EN BREF QUI SOMMES-NOUS ?* ADONIS est une Entreprise de Services du Numérique (ESN), spécialisée dans le conseil et l\'ingénierie des Systèmes d\'Information. Les consultants ADONIS interviennent sur des missions liées à la transformation digitale et modernisation des SI clients. Un parc clients composés principalement de Startups, PME et Grands Comptes (Banque & Finance, Assurance & Protection Sociale, Telecom Media, E-Commerce, Energie & Utilities, Industrie). ADONIS opère sur des marchés à forte valeur ajoutée en France, Belgique, Suisse, Luxembourg et Maghreb. NOTRE OFFRE* Un panel complet de Services et de Solutions, centrés sur les enjeux métiers de nos clients. Notre offre s\'articule autour de 5 Pôles : 1- TRANSFORMATION DIGITALE (Mobilité, iOT, Big data & Analytics, Cloud) 2- ÉTUDES & DÉVELOPPEMENT (Software Development, Web, Mobile, Opensource, iOT/Embedded Syst.) 3- INFRASTRUCTURES & PRODUCTION (S&R, Infogérance, Production IT, Cybersécurité, Cloud) 4- PROGICIELS DE GESTION (ERP, Paie, RH, CRM & BI) 5- DECISIONNEL (Business Intelligence, décisionnel et Reporting) EN SAVOIR PLUS SUR ADONIS : https://www.adonis-groupe.com ADONIS " Greatest Digital Jobs " : Offres en vedette : https://carrieres.adonis-groupe.com/ Voir toutes nos offres: https://carrieres.adonis-groupe.com/find-a-job/ SUIVEZ-NOUS SUR LES RESEAUX SOCIAUX : Linkedin : https://www.linkedin.com/company/adonis-groupe Facebook : https://www.facebook.com/Adonis.Gpe Twitter: https://twitter.com/adonis_groupe Type d\'emploi : Freelance / Indépendant, CDI Salaire : 40 000,00€ à 50 000,00€ /an'

In [26]:
df_annually['bac+2']=df_annually.Description.str.lower().str.contains(r'\bbac\s?\+\s?2[^\)]\b(?!\s?[\/àoe][\+ut]?\b)', regex=True).astype(int)

In [27]:
df_annually['bac+2/3']=df_annually.Description.str.lower().str.contains(r'(\b\(?bac\s?\+\s?2\s?[\/àeo][tu]?\s?(bac)?\s?\+?\s?3\)?\b)', regex=True).astype(int)

In [28]:
df_annually['bac+2/5']=df_annually.Description.str.lower().str.contains(r'(\b\(?bac\s?\+\s?2\s?[\/àeo][tu]?\s?(bac)?\s?\+?\s?5\)?\b)', regex=True).astype(int)

In [29]:
df_annually['bac+3']=df_annually.Description.str.lower().str.contains(r'\bbac\s?\+\s?3[^\)]\b(?!\s?[\/àoe][\+ut]?\b)', regex=True).astype(int)

In [30]:
df_annually['bac+3/4']=df_annually.Description.str.lower().str.contains(r'(\bbac\s?\+\s?3\s?[\/à]\s?(bac)?\+?4\b)|(\bbac\s?\+\s?3\s?(ou)\s?(bac)?\s?\+?\s?4\b)', regex=True).astype(int)

In [31]:
df_annually['bac+3/5']=df_annually.Description.str.lower().str.contains(r'(\bbac\s?\+\s?3\s?[\/à]\s?(bac)?\+?5\b)|(\bbac\s?\+\s?3\s?(ou)\s?(bac)?\s?\+?\s?5\b)', regex=True).astype(int)

In [32]:
df_annually['bac+4']=df_annually.Description.str.lower().str.contains(r'\bbac\s?\+\s?4[^\)]\b(?!\s?[\/àoe][\+ut]?\b)', regex=True).astype(int)

In [33]:
df_annually['bac+4/5']=df_annually.Description.str.lower().str.contains(r'(\bbac\s?\+\s?4\s?[\/à]\s?(bac)?\+?5\b)|(\bbac\s?\+\s?4\s?(ou)\s?(bac)?\s?\+?\s?5\b)', regex=True).astype(int)

In [34]:
df_annually['bac+5']=df_annually.Description.str.lower().str.contains(r'\bbac\s?\+\s?5[^\)]\b(?!\s?[\/àoe][\+ut]?\b)', regex=True).astype(int)

In [35]:
df_annually['master']=df_annually.Description.str.lower().str.contains(r'\bmaster', regex=True).astype(int)

In [36]:
df_annually['ecole_inge']=df_annually.Description.str.lower().str.contains(r'école d\'ingénieur', regex=True).astype(int)

In [43]:
df_annually[df_annually['bac+3/5']==1]

,Unnamed: 0,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,...,bac+2/3,bac+2/5,bac+3,bac+3/4,bac+3/5,bac+4,bac+4/5,bac+5,master,ecole_inge
12,12,p_06a1847fffdccdf3,Lead Data Technique Senior F/H,Kent FR,Bordeaux (33),40 000 € - 45 000 € par an,"KENT, marque de GroupAgora dédiée aux recrutem...",08/04/2019,Data,Gironde,...,0,0,0,0,1,0,0,0,0,0
20,20,p_0a694e43b9b86909,Développeur PHP,HAYS,Bordeaux (33),35 000 € - 45 000 € par an,Notre client est un organisme de formation sur...,07/10/2019,Développeur,Gironde,...,0,0,0,0,1,0,0,0,0,0
37,37,p_11fadc018146bef9,DevOps AWS – Architecture micro-services,Easy Partner,Paris (75),55 000 € - 65 000 € par an,"L'environnement: Start-up située dans la ""Sili...",08/09/2019,Développeur,75,...,0,0,0,0,1,0,0,0,0,0
49,49,p_1829caf38bb954be,DÉVELOPPEUR H/F (Réf. GA071/2018),GA CONSULTING RH,Lyon (69),24 000 € - 28 000 € par an,Actuellement nous recrutons pour notre client ...,07/09/2019,Développeur,Rhône,...,0,0,0,0,1,0,0,1,0,0
84,84,p_2842d76844d01cd8,Développeur Java/Scala confirmé,UNLCK,Paris (75),65 000 € par an,Contexte Vous êtes à la recherche d’une opport...,19/09/2019,Développeur,75,...,0,0,0,0,1,0,0,1,0,0
94,94,p_2c1f2a307a1741f2,Développeurs PHP / Symfony Séniors H/F,TALENTS RH,Toulouse (31),2 600 € - 3 400 € par mois,"TALENTS RH, société de recrutement spécialisée...",11/09/2019,Développeur,Haute-Garonne,...,0,0,0,0,1,0,0,1,0,0
101,101,p_2e998a3083ef60b6,Chef de projet IT – IA et big data – très fort...,Octopus IT,Paris (75),50 000 € - 55 000 € par an,La société : Cette société est un éditeur de l...,02/10/2019,Data,75,...,0,0,0,0,1,0,0,1,0,0
122,122,p_3aab363ccaf544b5,Développeur Java H/F,Kanopiiis Lab,Paris (75),40 000 € - 50 000 € par an,Nous cherchons à recruter pour le compte de no...,04/10/2019,Développeur,75,...,0,0,0,0,1,0,0,0,0,0
171,171,p_557214c4e59007ac,Développeur .NET H/F,CAPINFO,Lissieu (69),30 000 € - 40 000 € par an,Editeur d’une suite CRM complète et Expert Ret...,07/09/2019,Développeur,Rhône,...,0,0,0,0,1,0,0,0,0,0
188,188,p_5cc2bb35a4483368,Développeur ASP.NET MVC,Intitek SA,Lyon 2e (69),32 000 € - 38 000 € par an,Description du poste: Quoi de plus excitant qu...,13/09/2019,Développeur,Rhône,...,0,0,0,0,1,0,0,0,0,0
217,217,p_6a0aefd74ecac190,DÉVELOPPEUR SENIOR PHP SYMFONY (F/H),Expectra.fr,Paris (75),45 000 € par an,"Expectra, leader en France de l'intérim spécia...",07/09/2019,Développeur,75,...,0,0,0,0,1,0,0,1,0,0
229,229,p_6e92034b17276a37,Développeur C#.Net F/H,Kent FR,Limonest (69),32 000 € - 40 000 € par an,"KENT, marque de GroupAgora dédiée aux recrutem...",08/03/2019,Développeur,Rhône,...,0,0,0,0,1,0,0,0,0,0
299,299,p_8e75315c70d66551,Développeur ASP/ASP.NET H/F,TALENTS RH,Paris (75),2 300 € - 2 700 € par mois,"TALENTS RH, société de recrutement spécialisée...",07/09/2019,Développeur,75,...,0,0,0,0,1,0,0,0,0,0
304,304,p_90e5af680ba853e7,Développeur .Net Full Stack (H/F),Easy Partner,Paris (75),55 000 € par an,### La société Notre client innove en permanen...,18/09/2019,Développeur,75,...,0,0,0,0,1,0,0,0,0,0
311,311,p_9270ffc18c479790,Data Engineer F/H,Kent FR,Bordeaux (33),35 000 € - 40 000 € par an,"KENT, marque de GroupAgora dédiée aux recrutem...",08/04/2019,Data,Gironde,...,0,0,0,0,1,0,0,0,0,0
314,314,p_952e76c635520afe,Développeur informatique Junior - Nantes (44) ...,Manpower,Loire-Atlantique,2 400 € par mois,L'entreprise Manpower NANTES INFORMATIQUE rech...,03/10/2019,Développeur,Loire-Atlantique,...,0,0,0,0,1,0,0,0,0,0
315,315,p_95b8e44f9c0abb2a,Développeur JAVA/J2EE H/F,CREATIVE GROUPE,Lyon 3e (69),40 000 € - 50 000 € par an,LES MISSIONS QUI TE SERONT CONFIÉES : Pour par...,25/09/2019,Développeur,Rhône,...,0,0,0,0,1,0,0,1,0,0
316,316,p_961a3fdb8bf38e31,Développeurs PHP / Symfony Séniors H/F,TALENTS RH,Bordeaux (33),2 600 € - 3 400 € par mois,"TALENTS RH, société de recrutement spécialisée...",10/09/2019,Développeur,Gironde,...,0,0,0,0,1,0,0,1,0,0
360,360,p_ab276e638cffa136,Développeur Laravel F/H,GroupAgora,Paris 18e (75),60 000 € - 90 000 € par an,"GroupAgora, acteur global des S.I. depuis 1990...",07/09/2019,Développeur,75,...,0,0,0,0,1,0,0,0,1,0
367,367,p_ae8211b72229437e,Développeurs PHP / Symfony Séniors H/F,TALENTS RH,Paris (75),3 400 € - 3 800 € par mois,"TALENTS RH, société de recrutement spécialisée...",10/09/2019,Développeur,75,...,0,0,0,0,1,0,0,1,0,0
374,374,p_b140dcd5d3c2f549,Développeur Fullstack F/H,GroupAgora,Paris 8e (75),45 000 € - 50 000 € par an,"GroupAgora, acteur global des S.I. depuis 1990...",06/02/2019,Développeur,75,...,0,0,0,0,1,0,0,0,0,0
381,381,p_b3dd5dca37bfab17,Développeur Full stack H/F – CDI,ANAKEEN,Toulouse (31),2 000 € - 5 000 € par mois,"Toulouse, France À propos La société Anakeen a...",08/09/2019,Développeur,Haute-Garonne,...,0,0,0,0,1,0,0,0,0,0
457,457,p_dbf24e6a8bb81ac5,Développeurs PHP / Symfony Séniors H/F.,TALENTS RH,Lyon (69),2 600 € - 3 400 € par mois,"TALENTS RH, société de recrutement spécialisée...",10/09/2019,Développeur,Rhône,...,0,0,0,0,1,0,0,1,0,0
472,472,p_e059cee3dcdb854c,DEVELOPPEUR PHP JUNIOR H/F,YNOV,Mérignac (33),32 000 € par an,YNOV CAMPUS est le leader français des formati...,20/09/2019,Développeur,Gironde,...,0,0,0,0,1,0,0,0,0,0
496,496,p_ea69059a8ba60775,DÉVELOPPEUR FULLSTACK SYMFONY (F/H),Expectra.fr,Castanet-Tolosan (31),38 000 € par an,"Expectra, leader en France de l'intérim spécia...",08/09/2019,Développeur,Haute-Garonne,...,0,0,0,0,1,0,0,1,0,0
547,547,pj_2396b27e1d877cc6,Développeur PHP / Symfony (H/F) - Paris,Neovity,Paris (75),39 000 € - 48 000 € par an,"Intégré à des équipes projet, vous évoluerez s...",NaN,Développeur,75,...,0,0,0,0,1,0,0,0,0,0
580,580,pj_5a4b020111afdf6c,DevOps / Administrateur Sytèmes & Réseaux,ALINTO,Lyon 2e (69),27 000 € - 38 000 € par an,Description du poste Alinto à la particularité...,NaN,Développeur,Rhône,...,0,0,0,0,1,0,0,1,0,0
645,645,pj_c08de8e2ff8c9812,Développeur FileMaker,ADSearch,Lyon (69),30 000 € - 35 000 € par an,"Adsearch, cabinet de recrutement du Groupe Adé...",NaN,Développeur,Rhône,...,0,0,0,0,1,0,0,0,0,0
664,664,pj_e9b13604d13bed17,DEVELOPPEUR GO,GROUPE ALLIANCE,Paris (75),40 000 € - 60 000 € par an,"Depuis sa création en 1997, le Groupe ALLIANCE...",NaN,Développeur,75,...,0,0,0,0,1,0,0,1,0,0

In [51]:
df_annually.iloc[188].Description

"Description du poste: Quoi de plus excitant que de contribuer à démocratiser l’accès à la connaissance à travers la création d’une application ou d’un logiciel ultra-innovant ? Intitek for People conçoit et développe des outils digitaux qui améliorent le confort, la santé ou la sécurité du plus grand nombre. Vous interviendrez sur toutes les étapes menant à la réussite de nos projets, au forfait dans nos locaux ou directement intégré aux équipes de nos clients. Vous travaillerez: Dans un environnement Agile la plupart du temps · Sur des technologies récentes de l'écosystème .Net et sur des framework comme AngularJS · Aux côtés d' experts techniques reconnus par la communauté Microsoft · Avec la possibilité de passer des certifications Les responsabilités : · Analyse fonctionnelle et technique · Conception, développement, livraison, test et documentation de l’application · Suivi des réalisations, reporting en collaboration étroite avec l'architecte technique · Développement, intégration et tests des IHM · Maintenance évolutive et corrective Profil recherché: Vous êtes titulaire d'un diplôme Bac +3/5 en informatique et vous avez une expérience significative en développement d'applications dans un environnement Microsoft. Vous avez déjà travaillé en ASP.NET MVC, vous maîtrisez le développement C# et vous connaissez bien les framework récents. La connaissance d'AngularJs est un atout. Devenez un Happy Digital Member en nous envoyant votre candidature ! Présentation du Groupe Intitek « C’est en repoussant les limites du progrès et de l’innovation que les projets les plus fous finissent par se réaliser !» Avec plus de 700 collaborateurs en France et dans ses filiales au Canada, aux USA, en Chine, en Pologne et en Espagne, le groupe Intitek conseille et accompagne ses clients dans leur transformation digitale autour de 3 branches métiers : Intitek for Industry: Transport, santé, télécommunication, industrie militaire... Intitek for Manufacturing: Conception, outils, tests Intitek for People: Sites web, applications, objets connectés Le groupe Intitek réunit de multiples ressources et talents dont le quotidien consiste à repousser les limites du possible et développer des solutions numériques qui profitent à tous. Celles et ceux qui osent sont encouragés à libérer leur créativité afin de servir les desseins les plus ambitieux. Rejoignez vous aussi le Happy Digital World ! Type d'emploi : Temps plein, CDI Salaire : 32 000,00€ à 38 000,00€ /an Expérience: développeur asp.net mvc ou similaire: 2 ans (Souhaité)"

In [50]:
df_annually["master"].sum()

91

In [53]:
df_annually.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 37 columns):
Unnamed: 0                 675 non-null int64
_id                        675 non-null object
Title                      675 non-null object
Company                    675 non-null object
Location                   675 non-null object
Salary                     675 non-null object
Description                675 non-null object
Date                       546 non-null object
Job_Search                 675 non-null object
Department_Search          675 non-null object
city                       675 non-null object
cp                         675 non-null object
salary_min                 675 non-null float64
salary_max                 675 non-null float64
salary_type                675 non-null object
salary_mean                675 non-null float64
salary_label_quartiles     675 non-null int64
label_3_mean               675 non-null int64
label_min_max              675 non-null int64
salary_label_tertiles      675 non-null int64
salary_label_percentile    675 non-null int64
cdi                        675 non-null int64
freelance                  675 non-null int64
cdd                        675 non-null int64
stage                      675 non-null int64
intérimaire                675 non-null int64
bac+2                      675 non-null int64
bac+2/3                    675 non-null int64
bac+2/5                    675 non-null int64
bac+3                      675 non-null int64
bac+3/4                    675 non-null int64
bac+3/5                    675 non-null int64
bac+4                      675 non-null int64
bac+4/5                    675 non-null int64
bac+5                      675 non-null int64
master                     675 non-null int64
ecole_inge                 675 non-null int64
dtypes: float64(3), int64(22), object(12)
memory usage: 195.2+ KB

In [63]:
df_annually["exp_1_df_annually.Description.str.lower().str.contains(r'1 an', regex=True).astype(int).sum()

95

In [113]:
df_annually[(df_annually["freelance"]==1)]

,Unnamed: 0,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,...,bac+2/5,bac+3,bac+3/4,bac+3/5,bac+4,bac+4/5,bac+5,master,ecole_inge,niveau_I
42,42,p_147bf1c9d471ffa8,Data Scientist Confirmé (H/F),ADONIS,Paris (75),40 000 € - 55 000 € par an,Description de la mission : Pour soutenir le d...,07/09/2019,Data,75,...,0,0,0,0,0,0,1,0,0,0
92,92,p_2ba65d8ecf962240,Développeur swift,Be Free Talent,Paris (75),35 000 € par an,"Emploi Be Free Talent, le connecteur de talen...",08/05/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
113,113,p_36b4797a55efe7cd,Ingénieur Data Scientist (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,Description de la mission : : Vous assurez la ...,07/09/2019,Data,75,...,0,0,0,0,0,0,1,0,1,0
147,147,p_4735091c8d114563,Développeur React.js - Java (H/F),ADONIS,Paris (75),40 000 € - 55 000 € par an,Description de la mission : Afin de mettre en ...,07/09/2019,Développeur,75,...,0,0,0,0,0,0,1,0,1,0
253,253,p_7acdf63e923d752a,Consultante / Consultant Devops - Lyon,Zenika,Lyon (69),35 000 € - 55 000 € par an,"Tu te dis que choisir et refuser tes missions,...",08/10/2019,Développeur,Rhône,...,0,0,0,0,0,0,0,0,0,0
254,254,p_7ae3c2ebe428b460,"Data Scientist ""Energie"" (H/F)",ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",07/09/2019,Data,75,...,0,0,0,0,0,0,0,0,0,0
272,272,p_81c8c53e826fb62b,Développeuse / Développeur Java - Lyon,Zenika,Lyon (69),30 000 € - 50 000 € par an,"Tu te dis que choisir et refuser tes missions,...",07/10/2019,Développeur,Rhône,...,0,0,0,0,0,0,0,0,0,0
281,281,p_86bbac91fb6e42bd,Développeur Java - Python (H/F),ADONIS,Paris (75),40 000 € - 50 000 € par an,Description de la mission : Notre client est u...,07/09/2019,Développeur,75,...,0,0,0,0,0,0,1,0,1,0
350,350,p_a763e2c54fc44b8b,Ingénieur Système Windows - DevOps (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",08/09/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
372,372,p_b0cc36fb8b25210b,DevOps Senior Developer (F/H),TECH MAHINDRA,Toulouse (31),50 000 € - 65 000 € par an,TECH MAHINDRA Groupe international évalué à 5 ...,28/09/2019,Développeur,Haute-Garonne,...,0,0,0,0,0,0,0,0,0,0
378,378,p_b2800c31bd818bf2,Ingénieur DevOps Ansible F/H,Poesi,Paris 20e (75),55 000 € - 80 000 € par an,"POESI, cabinet de conseil, est née en 2006 à l...",05/10/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
380,380,p_b39f755850c9e651,Support DevOps Expert F/H,Poesi,Paris 20e (75),55 000 € - 80 000 € par an,"POESI, cabinet de conseil, est née en 2006 à l...",05/10/2019,Développeur,75,...,0,0,0,0,0,0,1,1,1,0
411,411,p_c30657a4afe34a20,"Data Scientist ""Banque"" (H/F)",ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",07/09/2019,Data,75,...,0,0,0,0,0,0,1,1,0,0
415,415,p_c61b45ff2e846382,Développeur - Big Data (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,Description de la mission : Dans le cadre d'un...,07/09/2019,Data,75,...,0,0,0,0,0,0,1,0,1,0
437,437,p_d179e6455c960560,Développeurs mobile IOS & android indépendant ...,Sapiens,Nantes (44),32 000 € - 43 000 € par an,"NOTRE ENTREPRISE : Créé en 2003, SAPIENS est u...",17/09/2019,Développeur,Loire-Atlantique,...,0,0,0,0,0,0,0,0,0,0
452,452,p_d8cada009aba12bf,Data Scientist (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",07/09/2019,Data,75,...,0,0,0,0,0,0,1,1,1,0
475,475,p_e179669fb4c2a84f,2 Ingénieurs DevOps (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,"Dans le cadre de notre développement, nous rec...",08/09/2019,Développeur,75,...,0,0,0,0,0,0,1,0,0,0
478,478,p_e3602b57dcbf1f1c,Consultant DevOps (H/F),ADONIS,Paris (75),40 000 € - 55 000 € par an,Description de la mission : Notre client est u...,08/09/2019,Développeur,75,...,0,0,0,0,0,0,1,0,1,0
517,517,p_f7a772ce9346ac6d,Lead Technique Hadoop - Big Data (H/F),ADONIS,Paris (75),45 000 € - 65 000 € par an,Description de la mission : En tant que Techni...,07/09/2019,Data,75,...,0,0,0,0,0,0,1,0,0,0
521,521,p_fa7d9b7fb299e2f7,Ingénieur DevOps (H/F),ADONIS,Paris (75),40 000 € - 60 000 € par an,QUI SOMMES-NOUS ? ADONIS est une Entreprise de...,08/09/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
523,523,p_fad2820ee8ea5a98,Consultant DevOps Azure (H/F),ADONIS,Paris (75),40 000 € - 65 000 € par an,"Dans le cadre de notre développement, nous rec...",08/09/2019,Développeur,75,...,0,0,0,0,0,0,0,0,0,0
536,536,pj_04f8e416e7139d1f,Développeur Back-End et/ou Front-End (H/F),Synchrone,France,25 000 € - 50 000 € par an,"Votre Rôle, vos Responsabilités Nous menons un...",NaN,Développeur,75,...,0,1,0,0,0,0,0,1,0,0
556,556,pj_36c74b5ef633c9ae,Développeur Java / J2ee (H/F),Synchrone,France,20 000 € - 40 000 € par an,"Votre Rôle, vos Responsabilités Nous menons un...",NaN,Développeur,75,...,0,1,0,0,0,0,0,1,0,0
563,563,pj_41537d2b04c54bff,Intégrateur d’application DevOps (H/F),Synchrone,France,25 000 € - 50 000 € par an,"Votre Rôle, vos Responsabilités Nous menons un...",NaN,Développeur,75,...,0,0,0,0,0,0,0,1,0,0
611,611,pj_99c901c440d504b0,CONCEPTEUR DEVELOPPEUR BIG DATA,GROUPE ALLIANCE,Paris (75),50 000 € par an,Dans un Grand Compte dans le secteur de l’Assu...,NaN,Data,75,...,0,0,0,0,0,0,1,0,0,0
634,634,pj_b326f163f2be9e40,Tech Lead DevOps,Delia Technologies,Nantes (44),45 000 € - 55 000 € par an,"Delia Technologies #LaDevOpsFamily Delia, c’es...",NaN,Développeur,Loire-Atlantique,...,0,0,0,0,0,0,0,0,0,0

In [115]:
df_annually.iloc[372].Description

"TECH MAHINDRA Groupe international évalué à 5 milliards de dollars, avec plus de 120 000 professionnels dans 90 pays; 15ème des 100 plus grandes entreprises numériques évaluées au monde par Forbes. Pour plus de détails: https://goo.gl/zB191t, Établi depuis 2005 en France avec 2 entités administratives: Paris, Toulouse et bientôt Marignane, Le département IES est dédié aux activités d'ingénierie: les secteurs de l'automobile, de l'aérospatiale, de la fabrication en process et des EPC, avec des projets et des services allant des services informatiques centraux aux services informatiques industriels. Tech Mahindra fait partie du groupe Mahindra & Mahindra, également propriétaire de marques prestigieuses telles que les cycles Pininfarina, Mitsubishi, SsangYong ou Peugeot. DESCRIPTION DE L'EMPLOI TECH MAHINDRA aide les entreprises à atteindre leurs objectifs commerciaux afin de conserver leur avantage concurrentiel. Nous recrutons pour travailler pour notre client : DEVOPS SENIOR DEVELOPPEUR (F / H) basé à Toulouse (freelancers bienvenus ou CDD de 6 mois voire plus). Cela fait partie de l'engagement de Tech Mahindra avec son client, où nous mettons en place des activités d'API et d'intégration. Mulesoft et TIBCO sont principalement utilisés en tant que plates-formes, et il est nécessaire de configurer et d'exploiter DevOps. Travailler sur le cycle de vie des services d'application et d'infrastructure, de la création à l'exploitation et à la surveillance Créer et gérer des scripts et des configurations de génération et de déploiement automatisés Collaborer étroitement avec les équipes pour dépanner et résoudre les problèmes d'application et d'infrastructure Connaissances techniques, compétences et expertise Détenir un diplôme universitaire ou équivalent en informatique, Au moins 5 ans d’expérience et connaissances approfondies de Docker et de Kubernetes, Compétences techniques requises: o Pipeline Jenkins o Python o Script Ansible o Commandes Linux o La connaissance des méthodes Agile est un plus Connaissance de la sécurité et des certificats, Motivé, doté d’un fort leadership technique et de solides compétences en matière de collaboration, Anglais et français courant obligatoires Type d'emploi : Temps plein, CDD, Freelance / Indépendant Salaire : 50 000,00€ à 65 000,00€ /an Expérience: devops senior developer (f/h) ou similaire: 5 ans (Requis) Python: 5 ans (Souhaité) Pipeline Jenkins: 5 ans (Souhaité) Script Ansible: 5 ans (Souhaité) Langue: Anglais (Requis) Français (Requis)"

In [109]:
df_annually.Title.str.lower().str.contains('cdi', regex=True).astype(int).sum()

27

In [103]:
#df_annually[df_annually.niveau_I==1]

,Unnamed: 0,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,...,bac+2/5,bac+3,bac+3/4,bac+3/5,bac+4,bac+4/5,bac+5,master,ecole_inge,niveau_I
222,222,p_6ce3977d36d583ea,Développeur PHP confirmé F/H - Entreprise de t...,Evowlve,Paris (75),45 000 € - 50 000 € par an,Client Cette entreprise est une vieille dame d...,07/09/2019,Développeur,75,...,0,0,0,0,0,0,1,0,0,1
275,275,p_839ebc2745283e49,DevOps F/H – Editeur de logiciels industriels ...,Evowlve,Lyon (69),38 000 € - 50 000 € par an,Client La société est la filiale française d’u...,08/09/2019,Développeur,Rhône,...,0,1,0,0,0,0,0,0,0,1
353,353,p_a87cc97795775f29,Développeur Applications Réalité Virtuelle (H/F),Lumiscaphe,Canéjan (33),30 000 € - 45 000 € par an,Description du poste Notre start-up est devenu...,07/09/2019,Développeur,Gironde,...,0,0,0,0,0,0,0,0,0,1

"Client La société est la filiale française d’un éditeur de logiciels Américain proposant des solutions pour le domaine industriel. Pour être précis elle édite 3 solutions logicielles pour gérer la fabrication et la vente de matériel industriel qu’elle propose sur le territoire Français et Européen.  La principale exigence de l'entreprise est de fournir à ses clients des logiciels de qualité, facile d'utilisation et adapté aux besoins spécifiques des clients.  La société connait une forte croissance au niveau international, raison pour laquelle elle cherche un DevOps qui assurera la fiabilité des déploiements logiciels et la stabilité de l’infrastructure en général.  Nous avons le plaisir d'accompagner cette structure car:  Il s'agit d'une entreprise de la taille d'une startup (en France) mais avec les moyens d'une grande société Le domaine d'activité de l'entreprise et son côté international offre aux collaborateurs la possibilité de travailler sur une multitude de projets/problématiques, de rencontrer divers interlocuteurs et de voyager Les collaborateurs sont ouverts d’esprit, disponible et très investis dans le développement de la structure.  Recrutements déjà réalisés par Evowlve : 2 personnes (2 développeurs logiciel confirmés)   Poste Au sein d’une équipe de 5 personnes et en collaboration avec les équipes américaines vous aurez pour missions :  Le maintien en condition opérationnelle des solutions logicielles L’accompagnement de la conception et de l’implémentation de l'architecture de l’infrastructure. Le monitoring de la production (applications, bases de données, serveurs..) et la résolution des incidents L’automatisation des procédures de test et de déploiement dans le cloud Dans ce poste vous devrez collaborer avec des interlocuteurs de différents horizons (clients et collaborateurs à l'international, milieu industriel…) en tant qu'expert et serez amené à voyager quelques fois (USA / Europe).  Les voyages restent limités et ils s’adapterons à vos possibilités.   Profil Nous recherchons une personne rigoureuse qui a idéalement :  Minimum bac+3 dans l'informatique Au moins 2 ans d’expérience dans un poste similaire La maitrise des technologies cloud : Azure (principalement), AWS, Docker, Kubernetes.. Des connaissances en base de données, langage SQL Une bonne maitrise de l'anglais : collaboration avec des équipes internationales"

In [121]:
df_annually.Description.str.lower().str.contains(r'\bsql\b', regex=True).astype(int)

0      0
1      0
2      1
3      0
4      1
      ..
670    0
671    0
672    0
673    0
674    1
Name: Description, Length: 675, dtype: int64

In [122]:
df_annually.Description.str.lower().str.contains('freelance', regex=True).astype(int).sum()

26