# LIBRAIRIES

In [1]:
import datetime
import re
import pandas as pd
import numpy as np

from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException

from bs4 import BeautifulSoup
from pymongo import MongoClient
from pymongo.errors import DuplicateKeyError
import matplotlib.pyplot as plt
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords

from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV

import unidecode

In [2]:
df_salary=pd.read_csv("/Users/fabi/Documents/Data AI Ecouen/PROJECTS/salary_indeed.csv")

In [3]:
df_salary.shape

(4884, 9)

In [4]:
df_salary.head()

,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search
0,p_00198c04b7c86195,Développeuse / Développeur Stack Elastic Search,LexisNexis,Paris (75),NaN,Développeur Sénior Java Elastic Search Respon...,07/09/2019,Développeur,75
1,p_0020213df500f7d8,Développeur Front End F/H,KP2I,Paris 1er (75),NaN,Dans le cadre de la refonte du site e-commerce...,01/10/2019,Développeur,75
2,p_0030c303451b137b,Data Analyst (H/F) - Alternance,Nexity,Paris 8e (75),NaN,Job Description Dans le cadre de son programm...,24/09/2019,Data,75
3,p_003ef0f6960ff453,"INTERNSHIP POSITION, Evaluation of the aircraf...",Airbus,Toulouse (31),NaN,AIRBUS SAS Airbus is a global leader in aerona...,25/09/2019,Data,Haute-Garonne
4,p_005290833c76d0fe,Des Développeurs Java JEE (H/F),FrançAsie,Nantes (44),NaN,FrançAsie recrute pour notre client une Sociét...,07/09/2019,Développeur,Loire-Atlantique

# PRE-PROCESSING

### DATA RECOVERY

#### EXPERIENCES

In [1]:
#import re
#import numpy as np
#import pandas as pd
#from nltk import word_tokenize
#from nltk.corpus import stopwords
#import unidecode

#stopwords
stop_words = stopwords.words('french')

def preprocessing_xp(text, stopwords):
    text = text.lower()
    text = re.sub(r'bac\s?\+\s?\d\/?\d?', ' ', text)
    text = re.sub(r'[^\w|\s|+]', ' ', text) #take off punctuation sign, keep space and plus sign
    text = re.sub(r'[_|\|]', ' ', text) #take off _ and |
    text = unidecode.unidecode(text) #take off accent on letters
    text = re.sub(r'\b[abd-qs-z]\b', ' ', text) #for single letters : keep only C and R (programming languages)
    text = re.sub(r'\d{3,}|[2-9][0-9]|\b0+\b', ' ', text) #take off number from 3 character (100 and more), take off number between 20-99, and all number with only 0 (000)
    
    # STOPWORDS
    tokenized_words = word_tokenize(text) #put words in a list without space
    tokenized_words = [word for word in tokenized_words if word not in stopwords] 

    return " ".join(tokenized_words) #put the list back as phrases

#call preprocess skills functions
df_salary["description_clean"] = df_salary.Description.apply(preprocessing_xp, args=(stop_words,))

#keep 3 words before "annee(s)" --- annee(s) experience(s)
df_salary["experience_left"] = df_salary.description_clean\
                                    .apply(lambda x: re.findall(r'((?:\S+\s+){0,3}\ban(?:nee)?s?\b experience)', x))

#keep everything between : experience(s) annee(s), limit 150 characters
df_salary["experience_right"] = df_salary.description_clean\
                                    .apply(lambda x: re.findall(r'experience.{,150}?\ban(?:nee)?s?\b', x))

#create list of numbers (experience_left)
df_salary["experience_left_list"] = df_salary.experience_left\
                                        .apply(lambda x: re.findall(r'\b\d+\b', repr(x)))

#create list of numbers (experience_right)
df_salary["experience_right_list"] = df_salary.experience_right\
                                            .apply(lambda x: re.findall(r'\b\d+\b', repr(x)))

#link left-right columns
df_salary["experience_total"] = (df_salary["experience_left_list"]
                                        + df_salary["experience_right_list"])

#b convert column in float and if empty put NaN in
df_salary["experience_clean"] = df_salary.experience_total\
                                    .apply(lambda y: np.array(y).astype(np.float)
                                           if len(y)>0 else np.nan)

# create min and max experiences columns
df_salary["experience_min"] = df_salary["experience_clean"].apply(np.amin)
df_salary["experience_max"] = df_salary["experience_clean"].apply(np.amax)

df_salary = df_salary.drop(['description_clean', 'experience_left',
                                    'experience_right', 'experience_left_list',
                                    'experience_right_list', 'experience_total',
                                    'experience_clean'], axis=1)

NameError: name 'stopwords' is not defined

#### QUALIFICATIONS

In [6]:
df_salary["BTS"] = df_salary.Description.str.lower().str.contains(r'\bbts\b', regex=True).astype(int)

df_salary["Deug"] = df_salary.Description.str.lower().str.contains(r'\bdeug\b|\bniveaux?iii+\b|\bbac[\s\S]?[+]?[\s\S]2\b', regex=True).astype(int)

df_salary["DUT"] = df_salary.Description.str.lower().str.contains(r'\bdut\b', regex=True).astype(int)

df_salary["IUT"] =df_salary.Description.str.lower().str.contains(r'\biut\b', regex=True).astype(int)

df_salary["Licence"] = df_salary.Description.str.lower().str.contains(r'\blicence\b|\bniveaux?ii+\b|\bbac[\s\S]?[+]?[\s\S]3\b|\b\(?bac\s?\+\s?2\s?[\/àeo][tu]?\s?(bac)?\s?\+?\s?5\)?\b|(\b\(?bac\s?\+\s?2\s?[\/àeo][tu]?\s?(bac)?\s?\+?\s?3\)?\b)', regex=True).astype(int)

df_salary["Master"] = df_salary.Description.str.lower().str.contains(r'\bmaster\b|\bniveaux?i+\b|\bbac[\s\S]?[+]?[\s\S]5\b|\bmba\b|(\bbac\s?\+\s?4\s?[\/à]\s?(bac)?\+?5\b)|(\bbac\s?\+\s?4\s?(ou)\s?(bac)?\s?\+?\s?5\b)', regex=True).astype(int)

df_salary["Doctorat"] = df_salary.Description.str.lower().str.contains(r'\bdoctorat\b|\bbac[\s\S]?[+]?[\s\S]8\b', regex=True).astype(int)

df_salary["Ecole_Ingénieure"] = df_salary.Description.str.lower().str.contains(r'\b[eé]cole\sing[ée]nieur[e]?\b|\bing[ée]nieur[e]\b', regex=True).astype(int)

/Users/fabi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':
/Users/fabi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  # This is added back by InteractiveShellApp.init_path()

#### CONTRACTS

In [7]:
#import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import nltk
#from nltk import word_tokenize
#from nltk.corpus import stopwords
#import re

def type_de_contrat(row):
    title = row["Title"].lower()
    desc = row["Description"].lower()
    #search for CDI in title and desc
    if bool(re.search('cdi',title)):
        row["cdi"]=1
    elif bool(re.search('cdi',desc)) and not bool(re.search('stage',title)):
        row["cdi"]=1
    else:
        row["cdi"]=0
    #search for stage in title and desc
    if bool(re.search(r'stage|intern',title)):
        row["stage"]=1 
    else:
        row["stage"]=0
    #search for freelance in title and desc
    if bool(re.search('freelance',title)):
        row["freelance"]=1
    elif bool(re.search(r'type\sd(\\?\'emploi\s?|e\scontrat):?.{0,26}freelance',desc)) and not bool(re.search('freelance',title)):
        row["freelance"]=1
    else:
        row["freelance"]=0
    #search for CDD in title and desc
    if bool(re.search('cdd',title)):
        row["cdd"]=1
    elif bool(re.search(r'type\sd(\\?\'emploi\s?|e\scontrat):?.{0,26}cdd',desc)) and not bool(re.search('cdd',title)):
        row["cdd"]=1 
    else:
        row["cdd"]=0
        
    return row

#apply function on dataframe
df_salary= df_salary.apply(type_de_contrat, axis=1)

#get no restriction on table vizualization on jupyter notebook
pd.set_option('display.max_columns', None)

#### COMPETENCES & KEYS WORDS

1. Mettre en minuscule
2. Remplacer les ponctuations (sauf '+') par des espaces : `[^\w|\s|+]` mais aussi les '|' et '\_' : `[_|\|]`
3. Remplacer les lettres accentuées par des lettres sans accents
4. Remplacer les lettres seules (sauf les lettres c et r (langages de programmation)) par des espaces : `\b[abd-qs-z]\b`
5. Remplacer les nombres qui ont 2 chiffres ou plus par des espaces : `\d{2,}`
6. Splitter la chaîne de caractères en une liste de mots
7. Créer une nouvelle liste sans les stopwords
8. Retourne la liste de mots en chaîne de caractères

In [8]:
def preprocessing_skills(text, stopwords, prefix=''):
    if prefix:
        prefix = prefix.lower() + '_'

    text = text.lower()
    text = re.sub(r'[^\w|\s|+]', ' ', text)
    text = re.sub(r'[_|\|]', ' ', text)
    text = unidecode.unidecode(text)
    text = re.sub(r'\b[abd-qs-z]\b', ' ', text)
    text = re.sub(r'\d{2,}', ' ', text)

    # STOPWORDS
    tokenized_words = word_tokenize(text)
    tokenized_words = [prefix + word for word in tokenized_words if word not in stopwords]

    return " ".join(tokenized_words)

#call preprocess skills functions
df_salary["description_clean"] = df_salary.Description.apply(preprocessing_skills, args=(stop_words,))


df_salary['Python'] =  df_salary.description_clean.str.contains(r'python', regex=True).astype(int)
df_salary['Java'] = df_salary.description_clean.str.contains(r'java', regex=True).astype(int)
df_salary['Machine Learning'] = df_salary.description_clean.str.contains(r'machine learning|scikit learn|sklearn', regex=True).astype(int)
df_salary['Deep Learning'] = df_salary.description_clean.str.contains(r'deep learning|keras', regex=True).astype(int)
df_salary['Javascript'] = df_salary.description_clean.str.contains(r'javascript|angular|react|js|jquery', regex=True).astype(int)
df_salary['Swift'] = df_salary.description_clean.str.contains(r'swift|ios', regex=True).astype(int)
df_salary['NoSql'] = df_salary.description_clean.str.contains(r'mongodb|no sql|nosql', regex=True).astype(int)
df_salary['SQL'] = df_salary.description_clean.str.contains(r'\bsql\b|mysql|postgresql', regex=True).astype(int)
df_salary['Agile'] = df_salary.description_clean.str.contains(r'agile|scrum', regex=True).astype(int)
df_salary['J2ee'] = df_salary.description_clean.str.contains(r'j2ee', regex=True).astype(int)
df_salary['Jee'] = df_salary.description_clean.str.contains(r'jee', regex=True).astype(int)
df_salary['Ruby'] = df_salary.description_clean.str.contains(r'ruby|rails', regex=True).astype(int)

df_salary['HTML_CSS'] = df_salary.description_clean.str.contains(r'html|css', regex=True).astype(int)

df_salary['Php'] = df_salary.description_clean.str.contains(r'php|symfony', regex=True).astype(int)
df_salary['Spark'] = df_salary.description_clean.str.contains(r'spark', regex=True).astype(int)
df_salary['Big_data'] = df_salary.description_clean.str.contains(r'bigdata|big data', regex=True).astype(int)
df_salary['Scala'] = df_salary.description_clean.str.contains(r'scala', regex=True).astype(int)
df_salary['Back_end'] = df_salary.description_clean.str.contains(r'back end|backend', regex=True).astype(int)
df_salary['Git'] = df_salary.description_clean.str.contains(r'git|github', regex=True).astype(int)
df_salary['R'] = df_salary.description_clean.str.contains(r'\br\b', regex=True).astype(int)
df_salary['Powerbi'] = df_salary.description_clean.str.contains(r'powerbi|power bi', regex=True).astype(int)
df_salary['Cloud'] = df_salary.description_clean.str.contains(r'googlecloud|google cloud|aws|azure|\bcloud\b', regex=True).astype(int)
df_salary['C'] = df_salary.description_clean.str.contains(r'\bc\b|\bc+\b', regex=True).astype(int)
df_salary['Docker'] = df_salary.description_clean.str.contains(r'\bdocker\b', regex=True).astype(int)
df_salary['ABAP'] = df_salary.description_clean.str.contains(r'\bsap\b|\babap\b', regex=True).astype(int)
df_salary['WLang'] = df_salary.description_clean.str.contains(r'windev|webdev', regex=True).astype(int)

In [9]:
df_salary.shape

(4884, 50)

### DATA ORGANIZATION

In [10]:
#import pandas as pd
#import numpy as np
#from yellowbrick.cluster import KElbowVisualizer
#from sklearn.cluster import KMeans
#from sklearn.cluster import DBSCAN
#from sklearn.preprocessing import StandardScaler
#from sklearn.model_selection import train_test_split
#from sklearn.decomposition import PCA
#from sklearn.model_selection import GridSearchCV
#import nltk
#from nltk import word_tokenize
#from nltk.corpus import stopwords
#import matplotlib.pyplot as plt

In [11]:
df_salary.shape

(4884, 50)

### Localisation

#### Split_city function creation

On sépare la ville et le cp. On remplace les differents arrondisements de Paris et Lyon par la ville. On remplis les valeurs manquantes par le départment de recherche

In [12]:
def split_city(row):
    location = row["Location"]
    if "Paris" in location or location == "France":
        city = "Paris"
        code_postal = "75"
    elif "Lyon" in location:
        city = "Lyon"
        code_postal = "69"
    elif "(" in location:
        split = location.split("(")
        city = split[0]
        code_postal = split[1]
    else:
        city = row["Department_Search"]
        code_postal="None"
    
    row["city"] = city
    row["cp"] = code_postal.replace(")","")
    return row

df_salary = df_salary.apply(split_city, axis=1)

### Salaires

#### Split_salary function creation (salary min, max, mean)

Création des colonnes salaire_max, salaire_min et type de salaire. On transforme en annuelle seulement les valeurs en mois qui sont supérieur à 1500 smic brut + création de la colonne type de salaire (annuelle, mensuelle, hebdomadaire et par heure)

In [13]:
def split_salary(row):
    salary = row["Salary"]
    if "-" in salary:
        split = salary.split("-")
        salary_min = split[0]
        salary_max = split[1]
    else:
        salary_min = salary
        salary_max = salary
    
    row["salary_min"] = salary_min.replace("€","")\
                                  .replace("par an","")\
                                  .replace("par mois","")\
                                  .replace("par semaine","")\
                                  .replace("par jour","")\
                                  .replace("par heure","")\
                                  .replace("\xa0","")
    row["salary_max"] = salary_max.replace("€","")\
                                  .replace("par an","")\
                                  .replace("par mois","")\
                                  .replace("par semaine","")\
                                  .replace("par jour","")\
                                  .replace("par heure","")\
                                  .replace("\xa0","")
    
    if "an" in row["Salary"]:
        row["salary_period"] = "year"

    if "mois" in row["Salary"]:
        if float(row["salary_min"]) < 1500:
            row["salary_min"] = float(row["salary_min"])
            row["salary_max"] = float(row["salary_max"])
            row["salary_period"] = "month"
        else:
            row["salary_min"] = float(row["salary_min"])*12
            row["salary_max"] = float(row["salary_max"])*12
            row["salary_period"] = "year"
    
    if "semaine" in row["Salary"]:
        row["salary_min"] = float(row["salary_min"])
        row["salary_max"] = float(row["salary_max"])
        row["salary_period"] = "week"

    if "jour" in row["Salary"]:
        row["salary_min"] = float(row["salary_min"])*5
        row["salary_max"] = float(row["salary_max"])*5
        row["salary_period"] = "week"

    if "heure" in row["Salary"]:
        row["salary_min"] = float(row["salary_min"].replace(",","."))*35
        row["salary_max"] = float(row["salary_max"].replace(",","."))*35
        row["salary_period"] = "week"
        
    return row

df_salary = df_salary[~df_salary.Salary.isna()]

df_salary = df_salary.apply(split_salary, axis=1)
df_salary["salary_min"]=pd.to_numeric(df_salary["salary_min"],'coerce')
df_salary["salary_max"]=pd.to_numeric(df_salary["salary_max"],'coerce')
df_salary["salary_mean"] = (df_salary["salary_min"]+df_salary["salary_max"])/2

In [14]:
print("Nombre de lignes avec salaire en années : {}".format(df_salary[df_salary["salary_period"]=="year"].shape[0]))
print("Nombre de lignes avec salaire en mois : {}".format(df_salary[df_salary["salary_period"]=="month"].shape[0]))
print("Nombre de lignes avec salaire en semaine : {}".format(df_salary[df_salary["salary_period"]=="week"].shape[0]))

Nombre de lignes avec salaire en années : 675
Nombre de lignes avec salaire en mois : 30
Nombre de lignes avec salaire en semaine : 39

In [15]:
df_salary[df_salary["salary_period"]=="month"] # visualisation lignes saliare mensuelle

,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,experience_min,experience_max,BTS,Deug,DUT,IUT,Licence,Master,Doctorat,Ecole_Ingénieure,cdi,stage,freelance,cdd,description_clean,Python,Java,Machine Learning,Deep Learning,Javascript,Swift,NoSql,SQL,Agile,J2ee,Jee,Ruby,HTML_CSS,Php,Spark,Big_data,Scala,Back_end,Git,R,Powerbi,Cloud,C,Docker,ABAP,WLang,city,cp,salary_min,salary_max,salary_period,salary_mean
339,p_11932114a525d757,STAGE Chef de projet - Customer Data Managemen...,Danone,Limonest (69),1 120 € par mois,Danone recherche un(e) STAGE Chef de projet - ...,06/10/2019,Data,Rhône,NaN,NaN,0,0,0,0,0,1,0,0,0,1,0,0,danone recherche stage chef projet customer da...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,Limonest,69,1120.0,1120.0,month,1120.0
358,p_13477b94e2936148,Stage software et Data Engineer,Outmind,Paris 8e (75),600 € - 1 200 € par mois,À propos Outmind est une jeune startup créant ...,07/09/2019,Data,75,2.0,6.0,0,0,0,0,0,1,0,0,0,1,0,0,propos outmind jeune startup creant moteur rec...,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,Paris,75,600.0,1200.0,month,900.0
599,p_21fa7fcf997add98,Stagiaire Stage Développeur/se web FRONT ou BACK,ITALIC,Paris 10e (75),700 € - 900 € par mois,"Récapitulatif du poste Le studio ITALIC , créé...",18/09/2019,Développeur,75,1.0,1.0,1,1,1,0,1,0,0,0,0,1,0,0,recapitulatif poste studio italic cree produit...,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,Paris,75,700.0,900.0,month,800.0
721,p_283edb6188ab0e56,Analyste développeur H/F,TMDS,Irigny (69),600 € - 1 000 € par mois,Stage QA Tester Pourquoi venir chez nous ? Tot...,04/10/2019,Développeur,Rhône,1.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,stage qa tester pourquoi venir chez total arke...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,Irigny,69,600.0,1000.0,month,800.0
855,p_2f2cf27029d2954b,STAGIAIRE DEVELOPPEUR FRONT-END (H/F),LEOO,Paris (75),560 € par mois,"SOCIETE LEOO, filiale du groupe ADLPerformance...",07/09/2019,Développeur,75,2.0,2.0,1,1,1,0,1,0,0,0,0,0,0,0,societe leoo filiale groupe adlperformance lea...,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,Paris,75,560.0,560.0,month,560.0
895,p_31d61797124bb736,Data Analyst - Stage,Pretto,Paris (75),800 € - 1 200 € par mois,Dans une startup qui croît et se structure à t...,05/10/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,startup croit structure toute vitesse role pol...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,800.0,1200.0,month,1000.0
1305,p_4adf45bdd9431ed7,"Data engineer (Oracle, SQL) / Freelance",Thiveo,Paris (75),600 € par mois,Mettre en uvre des solutions techniques sécur...,07/09/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,0,mettre uvre solutions techniques securisees au...,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,600.0,600.0,month,600.0
1377,p_4f36493edf4833b5,Stage - Développeur ASP.NET / C# (H/F),Aidimpact,Toulouse (31),580 € par mois,Développeur C# .NET Dans le cadre de notre cro...,27/09/2019,Développeur,Haute-Garonne,2.0,2.0,0,0,0,0,0,0,0,0,0,1,0,0,developpeur net cadre croissance augmentation ...,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Toulouse,31,580.0,580.0,month,580.0
1402,p_50fd489da08f1f55,Développeur Web (stage) H/F,Blent.ai,Paris 3e (75),700 € par mois,Blent.ai est une startup spécialisée dans la...,07/10/2019,Développeur,75,3.0,3.0,0,0,0,0,0,0,0,0,0,1,0,0,blent startup spe cialise formation tiers data...,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,Paris,75,700.0,700.0,month,700.0
1518,p_57f4a3ee1f4b1fd5,stage ingénieur - développeur,Certilience,Limonest (69),600 € - 850 € par mois,Résumé Environnement Vos missions Votre profil...,06/02/2019,Développeur,Rhône,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,resume environnement missions profil condition...,1,1,0,0,1,0,0,1,1,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,Limonest,69,600.0,850.0,month,725.0
1559,p_5a41e351ac636a06,stage assistant data webmarketing,Stanley Black&Decker France,Dardilly (69),800 € par mois,"STANLEY BLACK & DECKER, groupe américain, acte...",17/09/2019,Data,Rhône,1.0,1.0,0,0,0,0,0,0,0,0,0,1,0,0,stanley black decker groupe americain acteur n...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Dardilly,69,800.0,800.0,month,800.0
1951,p_72f59b05d068e7a4,STAGE ASSISTANT CHEF DE PROJET DATA,AQOA,Paris 18e (75),750 € par mois,"Mission Pour accompagner son développement, AQ...",23/09/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,mission accompagner developpement aqoa recrute...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,Paris,75,750.0,750.0,month,750.0
2200,p_80ff21a2ba9c185b,Stage (6 mois) - Développeur Angular (H/F) par...,Humaniak,Paris (75),1 000 € par mois,Description de l'entreprise : Collective Think...,08/03/2019,Développeur,75,NaN,NaN,0,0,0,0,0,1,0,0,0,1,0,0,description entreprise collective thinking sta...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,Paris,75,1000.0,1000.0,month,1000.0
2262,p_84f71422e722a234,stage assistant chef de projet data/production,AQOA,Paris 18e (75),750 € par mois,Missions et responsabilités Dans le cadre de s...,23/09/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,missions responsabilites cadre croissance aqoa...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,Paris,75,750.0,750.0,month,750.0
2273,p_8582c7978a6febf2,Stagiaire Data Scientist Géo Big Data,Gisaïa,Blagnac (31),900 € par mois,Vous êtes passionné(e) par l’exploration de do...,07/10/2018,Data,Haute-Garonne,NaN,NaN,0,0,0,0,0,1,0,0,1,0,0,0,etes passionne exploration donnees issues envi...,1,1,1,1,1,0,1,1,1,0,0,0,1,0,1,1,1,0,1,0,0,0,1,1,0,0,Blagnac,31,900.0,900.0,month,900.0
2393,p_8ccc668de734a40e,Data Engineer (H/F) / Freelance,HR-TEAM,Paris (75),500 € - 650 € par mois,Contexte : Nous recherchons aujourd’hui plusie...,07/10/2019,Data,75,3.0,4.0,0,0,0,0,0,0,0,0,0,0,1,0,contexte recherchons aujourd hui plusieurs dat...,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,Paris,75,500.0,650.0,month,575.0
2619,p_9ba1a3ab379e9b6e,Data Engineer (H/F) / Freelance,Human Job,Paris (75),500 € par mois,Soutenir le développement de la plateforme BIG...,07/10/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,0,soutenir developpement plateforme big data cod...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0,0,0,0,Paris,75,500.0,500.0,month,500.0
2656,p_9e03df11ed784a6a,Développeur web (Stage Mars 2020 - Environneme...,NALYS,Lyon (69),1 200 € par mois,Nalys est une société spécialisée dans l’accom...,20/09/2019,Développeur,Rhône,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,nalys societe specialisee accompagnement proje...,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,Lyon,69,1200.0,1200.0,month,1200.0
2774,p_a4a46f1e278d647e,Stage Ingénieur(e) data analyst,VALOREM Energie,Bègles (33),700 € par mois,Offre de stage Ingénieur(e) data analyst Date ...,08/04/2019,Data,Gironde,NaN,NaN,0,0,0,0,0,1,0,0,0,1,0,0,offre stage ingenieur data analyst date editio...,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,Bègles,33,700.0,700.0,month,700.0
2799,p_a687d04dc428a2f9,Ingénieur Infrastructure Devops / Freelance,Jefferson Frank,Paris (75),650 € par mois,Sujet / Environnement: Missions principales G...,24/09/2019,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,0,sujet environnement missions principales garan...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,Paris,75,650.0,650.0,month,650.0
3121,p_b974f66542f8f953,Data Engineer / Banque en ligne / Freelance,AMETIX,Paris (75),500 € par mois,Le Data Engineer intervient auprès des équipes...,01/10/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,0,data engineer intervient aupres equipes metier...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Paris,75,500.0,500.0,month,500.0
3674,p_d9523fdc354703df,Data Technical Leader Google Cloud Platform / ...,OZITEM,Paris (75),550 € par mois,Je recherche aujourd’hui un Data Technical Lea...,02/10/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,0,recherche aujourd hui data technical leader go...,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,Paris,75,550.0,550.0,month,550.0
3719,p_dc4bf8dbdd490a86,Stage développeur web PHP,Advisto,Paris (75),525 € par mois,Vous faites des études de développement inform...,08/05/2019,Développeur,75,NaN,NaN,1,0,1,0,0,0,0,0,0,1,0,0,faites etudes developpement informatique depui...,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,525.0,525.0,month,525.0
3797,p_e025c7f5ed8671ef,Data Officer Data Policy_Fonctionnel Banque / ...,ABSIS CONSEIL,Paris (75),800 € par mois,La mission consiste à accompagner le Data Offi...,07/09/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,0,mission consiste accompagner data office clien...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,800.0,800.0,month,800.0
4325,p_feec14496bca74e9,QA Data h/f / Freelance,Thiveo,Paris (75),600 € par mois,L’un de mes clients dans le secteur des termin...,27/09/2019,Data,75,5.0,5.0,0,0,0,0,0,0,0,0,0,0,1,0,clients secteur terminaux paiement recherche d...,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,Paris,75,600.0,600.0,month,600.0
4331,p_ff55a22d7ecb3d48,Data Engineer Sénior / Freelance,Cherry Pick,Paris (75),700 € par mois,Cherry Pick recherche pour l’un de ses clients...,30/09/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1,0,cherry pick recherche clients final data engin...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,Paris,75,700.0,700.0,month,700.0
4357,pj_09d2ccc5669b0ddd,Développeur Web (stage) H/F,Lovelydays,Bordeaux (33),850 € par mois,Developpeur FullStack La société : Acteur gran...,NaN,Développeur,Gironde,1.0,1.0,0,0,0,0,0,0,0,0,0,1,0,0,developpeur fullstack societe acteur grandissa...,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,Bordeaux,33,850.0,850.0,month,850.0
4450,pj_36121480d782b30f,Stage Data Analyst H/F - Paris,Jobmania,Paris (75),1 000 € par mois,Vous souhaitez rejoindre une startup en pleine...,NaN,Data,75,NaN,NaN,0,0,0,0,0,1,0,0,0,1,0,0,souhaitez rejoindre startup pleine croissance ...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,1000.0,1000.0,month,1000.0
4629,pj_8973a13c2ef30b26,Stage Administrateur Système et Réseaux/DevOps...,Jobmania,Paris (75),800 € - 1 100 € par mois,Notre client est un acteur technologique majeu...,NaN,Développeur,75,NaN,NaN,0,0,0,0,0,1,0,0,0,1,0,0,client acteur technologique majeur integrant d...,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,Paris,75,800.0,1100.0,month,950.0
4823,pj_e1ec52fb51c6ce71,Stage Développeur Front-End Junior,Angulaire,Paris (75),800 € par mois,Angulaire est une société de conseil en market...,NaN,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,angulaire societe conseil marketing basee pari...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,800.0,800.0,month,800.0

### DATA CLEANING

### Missing values

#### Drop lines without salary

In [16]:
a = df_salary[df_salary["salary_period"]=="year"] # visualisation lignes saliare mensuelle
a.shape

(675, 56)

In [17]:
a.experience_min.isna().sum()

275

In [18]:
275/675*100

40.74074074074074

In [19]:
b = df_salary[df_salary["salary_period"]=="month"] # visualisation lignes saliare mensuelle
print(b.shape)
print(b.experience_min.isna().sum())

(30, 56)
20

In [20]:
20/30 * 100

66.66666666666666

In [21]:
c = df_salary[df_salary["salary_period"]=="week"] # visualisation lignes saliare mensuelle
print(c.shape)
print(c.experience_min.isna().sum())

(39, 56)
24

In [22]:
24/59 * 100

40.67796610169492

In [ ]:
df_salary=pd.read_csv("/Users/fabi/Documents/Data AI Ecouen/PROJECTS/salary_indeed.csv")

In [23]:
df_salary

,_id,Title,Company,Location,Salary,Description,Date,Job_Search,Department_Search,experience_min,experience_max,BTS,Deug,DUT,IUT,Licence,Master,Doctorat,Ecole_Ingénieure,cdi,stage,freelance,cdd,description_clean,Python,Java,Machine Learning,Deep Learning,Javascript,Swift,NoSql,SQL,Agile,J2ee,Jee,Ruby,HTML_CSS,Php,Spark,Big_data,Scala,Back_end,Git,R,Powerbi,Cloud,C,Docker,ABAP,WLang,city,cp,salary_min,salary_max,salary_period,salary_mean
8,p_008d77a008590232,INGÉNIEUR DÉVELOPPEUR C++ / JAVA F/H,ALTEN,Toulouse (31),30 000 € - 45 000 € par an,Partenaire technologique de référence des plus...,08/09/2019,Développeur,Haute-Garonne,1.0,1.0,0,0,0,0,0,1,0,0,1,0,0,0,partenaire technologique reference plus grande...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,Toulouse,31,30000.0,45000.0,year,37500.0
15,p_00f2ad8db3c30b8e,Devops F/H,Kent FR,Bordeaux (33),35 000 € - 40 000 € par an,"KENT, marque de GroupAgora dédiée aux recrutem...",09/03/2019,Développeur,Gironde,2.0,2.0,0,0,0,0,0,1,0,0,0,0,0,0,kent marque groupagora dediee recrutements pro...,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,Bordeaux,33,35000.0,40000.0,year,37500.0
17,p_00fa03a21ad52a71,Data Scientist H/F,QYSY,Paris (75),40 000 € - 65 000 € par an,QYSY est un cabinet de conseil et de recruteme...,29/09/2019,Data,75,2.0,2.0,0,0,0,0,0,1,0,0,1,0,0,0,qysy cabinet conseil recrutementqui propose re...,1,0,1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,Paris,75,40000.0,65000.0,year,52500.0
19,p_0130bef769eef3cc,BUSINESS DEVELOPER BTOB - DATA INTELLIGENCE (H/F),L.I.P,Lyon 3e (69),35 000 € - 60 000 € par an,69003 - Lyon-3e-Arrondissement CDI Bac+5 et pl...,07/10/2019,Data,Rhône,2.0,5.0,0,0,0,0,0,1,0,0,1,0,0,0,lyon 3e arrondissement cdi bac+5 plus ingenieu...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Lyon,69,35000.0,60000.0,year,47500.0
31,p_019d01b7494dc632,Référent fonctionnel et données - Data manager...,GARCIN FINANCES ET PARTICIPATIONS,Corbas (69),40 000 € - 45 000 € par an,Vous souhaitez participer à la structuration d...,10/09/2019,Data,Rhône,1.0,1.0,0,0,0,0,0,1,0,0,1,0,0,0,souhaitez participer structuration donnees usa...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Corbas,69,40000.0,45000.0,year,42500.0
44,p_02074799b0dbc42e,Développeur PHP / Laravel,Sept Lieues,Paris (75),32 000 € - 37 000 € par an,PME de près de 20 ans d'existence dans la gest...,08/04/2019,Développeur,75,2.0,2.0,0,0,0,0,1,0,0,0,0,0,0,0,pme pres ans existence gestion situations cris...,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,Paris,75,32000.0,37000.0,year,34500.0
49,p_02270c340e21e7ab,Développeur WinDev H/F,Axemploi Recrutement,Nantes (44),30 000 € - 40 000 € par an,DEVELOPPEUR WINDEV H/F Vous interviendrez sur...,18/09/2019,Développeur,Loire-Atlantique,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,developpeur windev interviendrez developpement...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,Nantes,44,30000.0,40000.0,year,35000.0
66,p_033110c9c03332f9,Développeur Java H/F,WOM,Lyon (69),30 000 € - 40 000 € par an,"Notre client, spécialisé dans l’édition de log...",03/10/2019,Développeur,Rhône,1.0,1.0,0,0,0,0,0,1,0,0,1,0,0,0,client specialise edition logiciel rse recherc...,0,1,0,0,1,0,0,0,1,1,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,Lyon,69,30000.0,40000.0,year,35000.0
87,p_046189897fdb70ed,CONTRÔLEUR DE GESTION - DATA ANALYST,SH Conseils,Paris 8e (75),35 000 € - 38 000 € par an,Pour le compte d’un Opérateur Télécoms de prem...,18/09/2019,Data,75,2.0,3.0,0,0,0,0,0,1,0,0,1,0,0,0,compte operateur telecoms premier plan france ...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,35000.0,38000.0,year,36500.0
105,p_05b4d08c39d1a13c,Développeur Mobile (Senior) iOS / Swift H/F,EXTERNATIC,Bordeaux (33),40 000 € - 50 000 € par an,"DESCRIPTION DE L'OFFRE Externatic, le hub d’op...",07/09/2019,Développeur,Gironde,3.0,5.0,0,0,0,0,0,1,0,0,0,0,0,0,description offre externatic hub opportunites ...,1,1,0,0,1,1,0,1,1,0,0,1,0,0,0,1,1,1,1,1,0,1,0,1,0,0,Bordeaux,33,40000.0,50000.0,year,45000.0
113,p_060a2b9c9629b0ec,CDI client final - Développeur Java fullstack,Idée Blanche Recrutement,Toulouse (31),35 000 € - 45 000 € par an,"Au sein de l’équipe développement, vous partic...",08/09/2019,Développeur,Haute-Garonne,3.0,5.0,0,0,0,0,0,1,0,0,1,0,0,0,sein equipe developpement participerez realisa...,1,1,0,0,1,1,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,Toulouse,31,35000.0,45000.0,year,40000.0
116,p_06131cb23b356dbd,Lead developer / Data Engineer (CDI),CARTELIS,Paris (75),40 000 € - 45 000 € par an,CDI Salaire entre 40K € et 45K € Paris Bac +5 ...,26/09/2019,Data,75,NaN,NaN,0,0,0,0,0,1,0,0,1,0,0,0,cdi salaire entre k k paris bac +5 master 6 mo...,1,0,0,0,1,0,1,1,1,0,0,0,0,0,0,1,0,1,1,1,0,0,0,0,0,0,Paris,75,40000.0,45000.0,year,42500.0
130,p_06a1847fffdccdf3,Lead Data Technique Senior F/H,Kent FR,Bordeaux (33),40 000 € - 45 000 € par an,"KENT, marque de GroupAgora dédiée aux recrutem...",08/04/2019,Data,Gironde,5.0,5.0,0,0,0,0,1,0,0,0,0,0,0,0,kent marque groupagora dediee recrutements pro...,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,Bordeaux,33,40000.0,45000.0,year,42500.0
134,p_06cb2abacde70138,DATA OPS ENGINEER,Harnham,Paris (75),45 000 € - 60 000 € par an,"DATA OPS ENGINEER Paris, France 45-60K/an Créé...",07/09/2019,Data,75,NaN,NaN,0,0,0,0,0,1,0,0,0,0,0,0,data ops engineer paris france k an cree deja ...,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,45000.0,60000.0,year,52500.0
136,p_06d5e301eb1edc89,Ingénieur Système OpenSource Devops H/F,Uniware Global Services,Paris (75),45 000 € - 55 000 € par an,Ingénieur Système OpenSource Devops H/F posté ...,05/10/2019,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,ingenieur systeme opensource devops poste uniw...,1,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Paris,75,45000.0,55000.0,year,50000.0
148,p_07857e44e3dc84bc,DÉVELOPPEUR PRODUIT JAVA JUNIOR (F/H),Randstad Search,Nantes (44),28 000 € par an,Vous voulez intégrer une équipe dynamique? Alo...,07/10/2019,Développeur,Loire-Atlantique,NaN,NaN,0,1,0,0,1,0,0,0,0,0,0,0,voulez integrer equipe dynamique alors venez r...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,Nantes,44,28000.0,28000.0,year,28000.0
158,p_07ee1928807c8304,Ingénieur DevOps / Solutions Architect,GEOSAT,Pessac (33),2 500 € - 3 000 € par mois,"Geosat, société de services en ingénierie du t...",26/09/2019,Développeur,Gironde,1.0,1.0,0,0,0,0,0,1,0,0,1,0,0,0,geosat societe services ingenierie territoire ...,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,1,1,0,0,0,Pessac,33,30000.0,36000.0,year,33000.0
186,p_09824262681329d2,Junior Data Engineer M/F (6 months),Kayrros,Paris (75),1 700 € par mois,Passionate about tech? Interested in Energy? C...,07/09/2019,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,passionate about tech interested in energy com...,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,Paris,75,20400.0,20400.0,year,20400.0
193,p_09e77099d2b8ff14,Développeur Java J2EE H/F,Action_SSI.com,Toulouse (31),30 000 € - 40 000 € par an,"Créée en 2009, ACTION_SSI.COM est une ESN de c...",25/09/2019,Développeur,Haute-Garonne,1.0,1.0,0,0,0,0,0,1,0,0,1,0,0,0,creee action ssi com esn conseil ingenierie in...,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Toulouse,31,30000.0,40000.0,year,35000.0
195,p_09f8ad957b29d478,Développeur .Net H/F,effektiv,Lyon (69),38 000 € - 45 000 € par an,"Client Notre client, à mi-chemin entre la star...",07/09/2019,Développeur,Rhône,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,client client mi chemin entre startup digitale...,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Lyon,69,38000.0,45000.0,year,41500.0
203,p_0a694e43b9b86909,Développeur PHP,HAYS,Bordeaux (33),35 000 € - 45 000 € par an,Notre client est un organisme de formation sur...,07/10/2019,Développeur,Gironde,3.0,3.0,0,0,0,0,1,0,0,0,1,0,0,0,client organisme formation metiers digital sei...,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,1,1,0,0,0,0,0,0,0,Bordeaux,33,35000.0,45000.0,year,40000.0
213,p_0b0354bee583ab26,Intégrateur d'applications (DEVOPS) H/F,Solutec,Bordeaux (33),32 000 € - 50 000 € par an,Vous cherchez à rejoindre une équipe dynamique...,09/05/2019,Développeur,Gironde,NaN,NaN,0,0,0,0,0,1,0,0,0,0,0,0,cherchez rejoindre equipe dynamique bordeaux t...,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,Bordeaux,33,32000.0,50000.0,year,41000.0
214,p_0b037b0fc6c7227f,DÉVELOPPEUR/ADMINISTRATEUR SYSTÈME & RÉSEAUX (...,Randstad Search,Nantes (44),35 000 € par an,Nous recherchons pour le compte de notre clien...,07/10/2019,Développeur,Loire-Atlantique,NaN,NaN,0,1,0,0,1,0,0,0,0,0,0,0,recherchons compte client societe sodius situe...,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,Nantes,44,35000.0,35000.0,year,35000.0
230,p_0be88903b72726e7,Ingénieur système DevOps,Sept Lieues,Paris 13e (75),45 000 € - 60 000 € par an,Startup qui développe une plateforme de Machin...,07/02/2019,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,startup developpe plateforme machine learning ...,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,Paris,75,45000.0,60000.0,year,52500.0
241,p_0c53f90c8fdbf55d,Ingénieur DEVOPS Cloud H/F,EXTERNATIC,Bordeaux (33),45 000 € - 60 000 € par an,"DESCRIPTION DE L'OFFRE Externatic, le hub d’op...",08/09/2019,Développeur,Gironde,5.0,5.0,0,0,0,0,0,1,0,0,0,0,0,0,description offre externatic hub opportunites ...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,1,0,0,Bordeaux,33,45000.0,60000.0,year,52500.0
242,p_0c5eee3be4b915d1,Devops,Konekt,Paris (75),60 000 € - 70 000 € par an,Description de l'emploi Notre client start-up ...,08/10/2018,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,description emploi client start up plein boom ...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,Paris,75,60000.0,70000.0,year,65000.0
256,p_0d2295226c6a1db8,Développeur Front-End/ UI Designer,Silkhom,Paris (75),40 000 € - 45 000 € par an,Editeur de logiciel Open Source fournissant un...,07/09/2019,Développeur,75,3.0,3.0,0,0,0,0,1,0,0,0,1,0,0,0,editeur logiciel open source fournissant plate...,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,Paris,75,40000.0,45000.0,year,42500.0
259,p_0d33c5aa42dd6004,Ingénieur DATA H/F,RECRUTEMENT DIRECT,Lyon 3e (69),40 000 € - 45 000 € par an,Nous recherchons activement des Ingénieurs DAT...,19/09/2019,Data,Rhône,3.0,3.0,0,0,0,0,0,1,0,0,1,0,0,0,recherchons activement ingenieurs data accompa...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Lyon,69,40000.0,45000.0,year,42500.0
261,p_0d3fe80afbd89271,Développeur Data / BI,Savane Consulting,Paris (75),30 000 € - 50 000 € par an,Vous avez soif de nouveaux challenges et d'inn...,07/09/2019,Data,75,4.0,4.0,0,0,0,0,0,0,0,0,1,0,0,0,soif nouveaux challenges innovations technolog...,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,30000.0,50000.0,year,40000.0
268,p_0d92a5b5d5d1cb98,Développeur .Net junior F/H - Editeur du médic...,Evowlve,Lyon (69),35 000 € - 43 000 € par an,Client Depuis 1 an nous accompagnons cet édite...,07/09/2019,Développeur,Rhône,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,client depuis 1 an accompagnons cet editeur lo...,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,Lyon,69,35000.0,43000.0,year,39000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4760,pj_c5a817aeec3ea0f1,Ingénieur Système Devops (H/F),Quantic,Paris (75),60 000 € par an,La prestation de déroule au sein de l’équipe s...,NaN,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,prestation deroule sein equipe systeme commerc...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Paris,75,60000.0,60000.0,year,60000.0
4766,pj_c8ba874e50f1da8e,Developpeur H/F,HA Location,Bordeaux (33),35 000 € par an,"H&A LOCATION, leader international de la gesti...",NaN,Développeur,Gironde,2.0,2.0,0,0,0,0,1,0,0,0,1,0,0,0,location leader international gestion operatio...,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,Bordeaux,33,35000.0,35000.0,year,35000.0
4769,pj_ca13a3aeffe6ef38,DÉVELOPPEUR INFORMATIQUE INDUSTRIELLE .NET (F/H),Randstad Search,L'Union (31),30 000 € - 40 000 € par an,"Marque : Randstad Search, Cabinet Conseil en R...",NaN,Développeur,Haute-Garonne,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,marque randstad search cabinet conseil recrute...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,L'Union,31,30000.0,40000.0,year,35000.0
4770,pj_caa1c635fc2a3d53,Développeur PHP - H/F,SEDONA SOLUTIONS,Paris 9e (75),45 000 € par an,Symfony / Angular / Javascript / Php / Symfony...,NaN,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,symfony angular javascript php symfony3 fronte...,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,Paris,75,45000.0,45000.0,year,45000.0
4776,pj_cd0f15226437888f,Data Sientist / Analyst - CDI (F/H),Fed IT,Paris (75),45 000 € - 50 000 € par an,"Fed IT, cabinet de recrutement spécialisé, rec...",NaN,Data,75,3.0,3.0,0,0,0,0,0,0,0,0,1,0,0,0,fed it cabinet recrutement specialise recrute ...,1,0,1,1,0,0,1,1,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,0,0,0,Paris,75,45000.0,50000.0,year,47500.0
4780,pj_ce604bc1ba27a517,Développeur d'applications web (H/F),OJC Conseil,Paris (75),35 000 € - 45 000 € par an,A propos d'OJC OJC Conseil fournit des service...,NaN,Développeur,75,2.0,3.0,0,0,0,0,0,0,0,0,1,0,0,0,propos ojc ojc conseil fournit services consei...,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,Paris,75,35000.0,45000.0,year,40000.0
4787,pj_d33bedd0063f4668,Responsable BI et data transformation H/F,Hays France,Bordeaux (33),55 000 € - 70 000 € par an,Responsable BI et data transformation H/F post...,NaN,Data,Gironde,10.0,10.0,0,0,0,0,0,1,0,0,1,0,0,0,responsable bi data transformation poste hays ...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Bordeaux,33,55000.0,70000.0,year,62500.0
4789,pj_d43fea0984e8b86f,Software Engineer FullStack Java Angular H/F,Margo,Paris (75),60 000 € par an,Mongodb / Angular / Java / Agile Backend Devel...,NaN,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,mongodb angular java agile backend developer f...,1,1,0,0,1,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,0,0,1,0,0,0,Paris,75,60000.0,60000.0,year,60000.0
4813,pj_ddd97557811c0453,CDI - DevOps - Solution Cloud,La Relève,Paris 20e (75),50 000 € par an,L'entreprise est une solution DevOps tout-en-u...,NaN,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,entreprise solution devops tout aide developpe...,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,Paris,75,50000.0,50000.0,year,50000.0
4816,pj_df0c59ab5144d3dc,Développeur Full Stack en environnement Agile ...,Synchrone,Paris (75),38 000 € - 45 000 € par an,"Notre Entreprise Spécialisée en Consulting, Da...",04/10/2019,Développeur,75,NaN,NaN,0,0,0,0,1,0,0,0,0,0,0,0,entreprise specialisee consulting data experti...,0,1,0,0,1,1,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,Paris,75,38000.0,45000.0,year,41500.0
4817,pj_df4101ae5cc11c6f,CDI - Développeur fullstack / Data Engineer,La Relève,Paris (75),34 000 € - 40 000 € par an,"Crée en 2012, l'entreprise est le premier dist...",NaN,Data,75,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,cree entreprise premier distributeur conseil s...,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,Paris,75,34000.0,40000.0,year,37000.0
4821,pj_e0768aeca8f56d91,DEVELOPPEUR PHP,ADSearch,Lyon (69),35 000 € - 42 000 € par an,"Adsearch, cabinet de recrutement du Groupe Adé...",NaN,Développeur,Rhône,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,adsearch cabinet recrutement groupe adequat re...,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,Lyon,69,35000.0,42000.0,year,38500.0
4823,pj_e1ec52fb51c6ce71,Stage Développeur Front-End Junior,Angulaire,Paris (75),800 € par mois,Angulaire est une société de conseil en market...,NaN,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,0,1,0,0,angulaire societe conseil marketing basee pari...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,800.0,800.0,month,800.0
4828,pj_e56b447790c102f9,Développeur Fullstack PHP / Angular 2+ (H/F) -...,Neovity,Paris (75),45 000 € - 50 000 € par an,Accompagné du Responsable Technique de cet Edi...,NaN,Développeur,75,3.0,3.0,0,0,0,0,0,1,0,0,1,0,0,0,accompagne responsable technique cet editeur l...,0,0,0,0,1,1,1,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,Paris,75,45000.0,50000.0,year,47500.0
4830,pj_e7009a14a12c6ff3,Développeur Frontend Javascript H/F,Approach People - MP,Paris 1er (75),45 000 € - 60 000 € par an,Développeur Frontend Javascript H/F Entreprise...,NaN,Développeur,75,3.0,3.0,0,0,0,0,0,1,0,0,0,0,0,0,developpeur frontend javascript entreprise cre...,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,45000.0,60000.0,year,52500.0
4833,pj_e8b7d0351941c388,LEAD DEVELOPPEUR PHP,ADSearch,Lyon 1er (69),45 000 € - 50 000 € par an,"Adsearch, cabinet de recrutement du Groupe Adé...",NaN,Développeur,Rhône,5.0,5.0,0,0,0,0,0,0,0,0,0,0,0,0,adsearch cabinet recrutement groupe adequat re...,0,1,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0,Lyon,69,45000.0,50000.0,year,47500.0
4834,pj_e8ffd7b193fe9193,Architecte/ Développeur Splunk environnement b...,UMANTIC,Paris (75),55 000 € par an,À propos du poste Au sein d’une équipe dédiée...,NaN,Développeur,75,5.0,8.0,1,0,0,0,0,1,0,0,0,0,0,0,propos poste sein equipe dediee basee pantin p...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,Paris,75,55000.0,55000.0,year,55000.0
4836,pj_e9b13604d13bed17,DEVELOPPEUR GO,GROUPE ALLIANCE,Paris (75),40 000 € - 60 000 € par an,"Depuis sa création en 1997, le Groupe ALLIANCE...",NaN,Développeur,75,3.0,3.0,0,0,0,0,1,1,0,0,0,0,0,0,depuis creation groupe alliance consultants di...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,1,0,0,Paris,75,40000.0,60000.0,year,50000.0
4842,pj_ecbeb4071e6eb2c1,Ingénieur DevOps Cloud Azure - H/F,Michael Page,Paris (75),70 000 € par an,C-sharp / Azure / Asp-net DevOps Manager / CDI...,NaN,Développeur,75,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,sharp azure asp net devops manager cdi environ...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,Paris,75,70000.0,70000.0,year,70000.0
4843,pj_ed99236794d0178f,Data analyste informatique (H/F),Gentis Recruitment SAS,Paris (75),35 000 € - 50 000 € par an,Gentis is a Belgian recruitment company headqu...,NaN,Data,75,NaN,NaN,0,0,0,0,1,1,0,0,1,0,0,0,gentis is belgian recruitment company headquar...,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Paris,75,35000.0,50000.0,year,42500.0
4844,pj_edab0aa260675678,Centre-ville / Client final / Développeur Full...,Delia Technologies,Nantes (44),37 000 € - 40 000 € par an,Delia Technologies #LaDevOpsFamily Delia Techn...,04/10/2019,Développeur,Loire-Atlantique,2.0,4.0,0,0,0,0,0,1,0,0,1,0,0,0,delia technologies ladevopsfamily delia techno...,0,1,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,Nantes,44,37000.0,40000.0,year,38500.0
4845,pj_edb675891a62b6de,Ingénieur DevOps Big Data Junior - H/F,Omnilog,Bordeaux (33),36 000 € par an,Kubernetes / Git / Jenkins / Ansible / Docker ...,NaN,Data,Gironde,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,kubernetes git jenkins ansible docker devops m...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,Bordeaux,33,36000.0,36000.0,year,36000.0
4851,pj_f1d346fc78673d6a,Développeur PHP & Intégrateur HTML5/CSS3,Éraclès,Paris 15e (75),30 000 € - 37 000 € par an,Description du poste Éraclès est une agence di...,NaN,Développeur,75,3.0,5.0,0,0,0,0,0,0,0,0,1,0,0,0,description poste eracles agence digitale comm...,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,Paris,75,30000.0,37000.0,year,33500.0
4865,pj_f74c94c78f09bd8e,Senior Data Scientist,Pivot & Co,Paris 8e (75),60 000 € par an,"Areas: Data Science, Media Effectiveness, ROI,...",05/10/2019,Data,75,NaN,NaN,0,0,0,0,0,1,0,0,0,0,0,0,areas data science media effectiveness roi mar...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,Paris,75,60000.0,60000.0,year,60000.0

#### Manage missing values

Ivan

si salaire en ANNUEL mais pas de contrat renseigné --> arbitrage en mettant le contrat le plus fréquent cad CDI

si salaire en HEURE/JOUR/SEMAINE mais pas de contrat renseigné --> arbitrage en mettant le contrat = FREELANCE

### Features

#### For basic Model

x
-  experiences
-  contract
-  competences & keys words
-  qualifications
-  departement_search
-  job_search

y
- salaire min,

#### With CountVectorizer Vizer application